In [1]:
import pandas as pd
import numpy as np

In [1]:
# 1. How to import pandas and check the version?

In [2]:
import pandas as pd
pd.__version__

'1.3.4'

In [3]:
# 2. How to create a series from a list, numpy array and dict?
# Create a pandas series from each of the items below: a list, numpy and a dictionary Input

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [7]:
ser1 = pd.Series(mylist)
# ser1
# ser2 = pd.Series(myarr)
# ser2
ser3 = pd.Series(mydict)
ser3

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

In [10]:
# 3. How to convert the index of a series into a column of a dataframe?
# Difficulty Level: L1 Convert the series ser into a dataframe with its index as another column on the dataframe. Input

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [17]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [25]:
df = pd.DataFrame({'mylist': mylist, 'myarr':myarr, 'ser':ser, 'mydict':mydict.values()})
df.head()

  mylist  myarr  ser  mydict
a      a      0    0       0
b      b      1    1       1
c      c      2    2       2
e      e      3    3       3
d      d      4    4       4

In [3]:
# 4. How to combine many series to form a dataframe?
# Difficulty Level: L1 Combine ser1 and ser2 to form a dataframe. Input

import numpy as np

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [6]:
#4.
df = pd.DataFrame({'col':ser1, 'col2':ser2})
df

   col  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4
5    f     5
6    g     6
7    h     7
8    i     8
9    j     9
10   k    10
11   l    11
12   m    12
13   n    13
14   o    14
15   p    15
16   q    16
17   r    17
18   s    18
19   t    19
20   u    20
21   v    21
22   w    22
23   x    23
24   y    24
25   z    25

In [7]:
# 5. How to assign name to the series’ index?
# Difficulty Level: L1 Give a name to the series ser calling it ‘alphabets’. Input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [9]:
 #5.
ser.name = 'alphabets'
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

In [10]:
# 6. How to get the items of series A not present in series B?
# Difficulty Level: L2 From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [29]:
#6.
# 내방법 별로 안좋다
print(list(set(ser1)-set(ser2))[0])
print(list(set(ser1)-set(ser2))[1])
print(list(set(ser1)-set(ser2))[2])

# 답지
ser1[~ser1.isin(ser2)]

1
2
3

0    1
1    2
2    3
dtype: int64

In [30]:
# 7. How to get the items not common to both series A and series B?
# Difficulty Level: L2 Get all items of ser1 and ser2 not common to both. Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [33]:
#7. ser1과 ser2 모두 공통이 아닌 원소

ser_u = pd.Series(np.union1d(ser1,ser2)) # 합집합
ser_i = pd.Series(np.intersect1d(ser1, ser2)) # 교집합

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [34]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
# Difficuty Level: L2 Compute the minimum, 25th percentile, median, 75th, and maximum of ser. Input

ser = pd.Series(np.random.normal(10, 5, 25))

In [36]:
#8. 
np.percentile(ser, q=[0,25,50,75,100])

array([-3.07349754,  9.27921995, 10.28534689, 13.97082275, 20.54602544])

In [37]:
# 9. How to get frequency counts of unique items of a series?
# Difficulty Level: L1 Calculte the frequency counts of each unique value ser. Input

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [42]:
ser.value_counts()

f    5
c    5
d    5
a    4
b    4
g    3
e    2
h    2
dtype: int64

In [90]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
# Difficulty Level: L2 From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’. Input

np.random.RandomState(100)  # np.random.RandomState(seed)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [91]:
#10. 제일 많이나오는 2개만 출력, 나머지는 'other'로 출력
ser.value_counts()

2    5
1    4
3    2
4    1
dtype: int64

In [92]:
print(ser.value_counts(ascending=False)[:2])

2    5
1    4
dtype: int64

In [93]:
ser[~ser.isin(ser.value_counts(ascending=False).index[:2])]= 'other' # 그냥[:2]는 횟수 .index[:2]해야한다
ser

0         1
1         1
2         2
3         1
4     other
5     other
6         2
7         2
8         1
9     other
10        2
11        2
dtype: object

In [95]:
# 11. How to bin a numeric series to 10 groups of equal size?
# Difficulty Level: L2 Bin the series ser into 10 equal deciles and replace the values with the bin name. Input

ser = pd.Series(np.random.random(20))

# Desired Output
# First 5 items
# 0    7th
# 1    9th
# 2    7th
# 3    3rd
# 4    8th
# dtype: category
# Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [96]:
# 11.
ser

0     0.904788
1     0.853965
2     0.472739
3     0.096849
4     0.209876
5     0.843785
6     0.558717
7     0.673211
8     0.432697
9     0.717321
10    0.312442
11    0.036495
12    0.602583
13    0.825774
14    0.162493
15    0.838217
16    0.838894
17    0.408566
18    0.229070
19    0.869980
dtype: float64