In [22]:
import pandas as pd
import numpy as np

In [1]:
# 1. How to import pandas and check the version?

In [2]:
import pandas as pd
pd.__version__

'1.3.4'

In [3]:
# 2. How to create a series from a list, numpy array and dict?
# Create a pandas series from each of the items below: a list, numpy and a dictionary Input

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [7]:
ser1 = pd.Series(mylist)
# ser1
# ser2 = pd.Series(myarr)
# ser2
ser3 = pd.Series(mydict)
ser3

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

In [10]:
# 3. How to convert the index of a series into a column of a dataframe?
# Difficulty Level: L1 Convert the series ser into a dataframe with its index as another column on the dataframe. Input

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [17]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [25]:
df = pd.DataFrame({'mylist': mylist, 'myarr':myarr, 'ser':ser, 'mydict':mydict.values()})
df.head()

  mylist  myarr  ser  mydict
a      a      0    0       0
b      b      1    1       1
c      c      2    2       2
e      e      3    3       3
d      d      4    4       4

In [3]:
# 4. How to combine many series to form a dataframe?
# Difficulty Level: L1 Combine ser1 and ser2 to form a dataframe. Input

import numpy as np

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [6]:
#4.
df = pd.DataFrame({'col':ser1, 'col2':ser2})
df

   col  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4
5    f     5
6    g     6
7    h     7
8    i     8
9    j     9
10   k    10
11   l    11
12   m    12
13   n    13
14   o    14
15   p    15
16   q    16
17   r    17
18   s    18
19   t    19
20   u    20
21   v    21
22   w    22
23   x    23
24   y    24
25   z    25

In [7]:
# 5. How to assign name to the series’ index?
# Difficulty Level: L1 Give a name to the series ser calling it ‘alphabets’. Input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [9]:
 #5.
ser.name = 'alphabets'
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

In [10]:
# 6. How to get the items of series A not present in series B?
# Difficulty Level: L2 From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [29]:
#6.
# 내방법 별로 안좋다
print(list(set(ser1)-set(ser2))[0])
print(list(set(ser1)-set(ser2))[1])
print(list(set(ser1)-set(ser2))[2])

# 답지
ser1[~ser1.isin(ser2)]

1
2
3

0    1
1    2
2    3
dtype: int64

In [30]:
# 7. How to get the items not common to both series A and series B?
# Difficulty Level: L2 Get all items of ser1 and ser2 not common to both. Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [33]:
#7. ser1과 ser2 모두 공통이 아닌 원소

ser_u = pd.Series(np.union1d(ser1,ser2)) # 합집합
ser_i = pd.Series(np.intersect1d(ser1, ser2)) # 교집합

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [34]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
# Difficuty Level: L2 Compute the minimum, 25th percentile, median, 75th, and maximum of ser. Input

ser = pd.Series(np.random.normal(10, 5, 25))

In [36]:
#8. 
np.percentile(ser, q=[0,25,50,75,100])

array([-3.07349754,  9.27921995, 10.28534689, 13.97082275, 20.54602544])

In [37]:
# 9. How to get frequency counts of unique items of a series?
# Difficulty Level: L1 Calculte the frequency counts of each unique value ser. Input

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [42]:
ser.value_counts()

f    5
c    5
d    5
a    4
b    4
g    3
e    2
h    2
dtype: int64

In [90]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
# Difficulty Level: L2 From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’. Input

np.random.RandomState(100)  # np.random.RandomState(seed)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [91]:
#10. 제일 많이나오는 2개만 출력, 나머지는 'other'로 출력
ser.value_counts()

2    5
1    4
3    2
4    1
dtype: int64

In [92]:
print(ser.value_counts(ascending=False)[:2])

2    5
1    4
dtype: int64

In [93]:
ser[~ser.isin(ser.value_counts(ascending=False).index[:2])]= 'other' # 그냥[:2]는 횟수 .index[:2]해야한다
ser

0         1
1         1
2         2
3         1
4     other
5     other
6         2
7         2
8         1
9     other
10        2
11        2
dtype: object

In [3]:
# 11. How to bin a numeric series to 10 groups of equal size?
# Difficulty Level: L2 Bin the series ser into 10 equal deciles and replace the values with the bin name. Input

ser = pd.Series(np.random.random(20))

# Desired Output
# First 5 items
# 0    7th
# 1    9th
# 2    7th
# 3    3rd
# 4    8th
# dtype: category
# Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [5]:
# 11.
pd.qcut(ser, q=[0,0.10,0.20,0.30,0.40,0.5,0.6,0.7,0.8,0.9,1.0])

0        (0.29, 0.408]
1       (0.145, 0.182]
2       (0.145, 0.182]
3       (0.182, 0.232]
4        (0.232, 0.29]
5       (0.597, 0.622]
6      (0.0613, 0.145]
7       (0.622, 0.726]
8         (0.726, 0.8]
9         (0.726, 0.8]
10    (0.0179, 0.0613]
11      (0.408, 0.597]
12      (0.622, 0.726]
13      (0.597, 0.622]
14       (0.29, 0.408]
15     (0.0613, 0.145]
16       (0.232, 0.29]
17      (0.408, 0.597]
18      (0.182, 0.232]
19    (0.0179, 0.0613]
dtype: category
Categories (10, interval[float64, right]): [(0.0179, 0.0613] < (0.0613, 0.145] < (0.145, 0.182] < (0.182, 0.232] ... (0.408, 0.597] < (0.597, 0.622] < (0.622, 0.726] < (0.726, 0.8]]

In [10]:
# 12. How to convert a numpy array to a dataframe of given shape? (L1)
# Difficulty Level: L1 Reshape the series ser into a dataframe with 7 rows and 5 columns Input

ser = pd.Series(np.random.randint(1, 10, 35))

In [20]:
#12.
pd.DataFrame(ser.values.reshape(7,5))

   0  1  2  3  4
0  6  9  1  4  1
1  4  1  1  1  5
2  6  6  8  3  7
3  4  2  9  2  8
4  8  6  5  1  2
5  5  1  8  8  3
6  7  4  5  8  7

In [38]:
# 13. How to find the positions of numbers that are multiples of 3 from a series?
# Difficulty Level: L2 Find the positions of numbers that are multiples of 3 from ser. Input

ser = pd.Series(np.random.randint(1, 10, 7))

In [44]:
#13.
# ser.where(ser%3==0)
# 위치 출력시
print(ser)
# np.argwhere(ser%3==0) ??

0    1
1    3
2    7
3    7
4    2
5    8
6    2
dtype: int32

In [45]:
# 14. How to extract items at given positions from a series
# Difficulty Level: L1 From ser, extract the items at positions in list pos. Input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [46]:
#14
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [47]:
# 15. How to stack two series vertically and horizontally ?
# Difficulty Level: L1 Stack ser1 and ser2 vertically and horizontally (to form a dataframe). Input

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [50]:
# 15
# (1) vertically
print(pd.concat([ser1,ser2]))
#(2) horizontally
pd.concat([ser1,ser2],axis=1)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [51]:
# 16. How to get the positions of items of series A in another series B?
# Difficulty Level: L2 Get the positions of items of ser2 in ser1 as a list. Input

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [65]:
#16.
[np.where(i==ser1)[0].tolist()[0] for i in ser2]

# tolist() 데이터프레임 시리즈-> 리스트

# 
lst=[]
for i in ser2:
    print(np.where(i==ser1)[0][0])
    lst.append(np.where(i==ser1)[0][0])
lst

5
4
0
8

[5, 4, 0, 8]

In [66]:
# 17. How to compute the mean squared error on a truth and predicted series?
# Difficulty Level: L2 Compute the mean squared error of truth and pred series. Input

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [69]:
# 평균 제곱오차
np.mean((truth - pred)**2)

0.28269106749186884

In [70]:
# 18. How to convert the first character of each element in a series to uppercase?
# Difficulty Level: L2 Change the first character of each word to upper case in each word of ser.

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [75]:
ser.apply(lambda x : x[0].upper()+ x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [ ]:
# 19. How to calculate the number of characters in each word in a series?
# Difficulty Level: L2 Input

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [74]:
ser.apply(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [78]:
# 20. How to compute difference of differences between consequtive numbers of a series?
# Difficulty Level: L1 Difference of differences between the consequtive numbers of ser. Input

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Desired Output

# [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
# [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [82]:
# 20.
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]