# 모델 데이터 전처리

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import FinanceDataReader as fdr

## 에이루트(20180201~)

In [3]:
df_aroot = fdr.DataReader('096690','2017')
df_aroot.loc['2017-04':'2018-02']

            Open  High   Low  Close   Volume    Change
Date
2017-04-03     0     0     0   4567        0  0.000000
2017-04-04     0     0     0   4567        0  0.000000
2017-04-05     0     0     0   4567        0  0.000000
2017-04-06     0     0     0   4567        0  0.000000
2017-04-07     0     0     0   4567        0  0.000000
...          ...   ...   ...    ...      ...       ...
2018-02-22  5297  5608  5206   5609  3242482  0.298079
2018-02-23  5946  6120  4932   4978  5069607 -0.112498
2018-02-26  5042  5051  4558   4659  1499594 -0.064082
2018-02-27  4631  4877  4622   4640   942158 -0.004078
2018-02-28  4631  4640  4421   4494   690152 -0.031466

[221 rows x 6 columns]

## 와이오엠

In [5]:
df_yom = fdr.DataReader('066430','2003','2022-04-30')
df_yom
# df_yom.loc['2017-04':'2018-02']

               Open     High      Low    Close  Volume    Change
Date
2003-01-02  3549120  3909644  3549120  3627996  200273  0.025478
2003-01-03  3684231  3841986  3684231  3785735  207997  0.043478
2003-01-06  3808243  3966007  3706832  3853337  217533  0.017857
2003-01-07  3943474  4033610  3616720  3616729  115669 -0.061403
2003-01-08  3661740  3718044  3627912  3673064   82247  0.015576
...             ...      ...      ...      ...     ...       ...
2022-04-25     3165     3170     2980     3085  334329 -0.035937
2022-04-26     3060     3140     3000     3000  216108 -0.027553
2022-04-27     2950     3140     2850     3025  297603  0.008333
2022-04-28     3025     3045     2940     2955  111615 -0.023140
2022-04-29     2980     3045     2950     2990  102921  0.011844

[4781 rows x 6 columns]