# 시티랩스 모델데이터 만들기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from datetime import timedelta

## 주가, 시가총액: df_ct_pp

In [3]:
df_ct_pp = pd.read_csv('./data/시티랩스_시세추이_2016-2022.csv',encoding='cp949')
df_ct_pp
df_ct_pp['일자'] = pd.to_datetime(df_ct_pp['일자'])
df_ct_pp = df_ct_pp.sort_values(by='일자')
df_ct_pp

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
1554,2016-01-04,3020,20,0.67,3050,3135,3010,1283754,3952030070,47486277660,15723933
1553,2016-01-05,3020,0,0.00,2960,3030,2930,725642,2165452785,47486277660,15723933
1552,2016-01-06,2895,-125,-4.14,3000,3065,2840,954645,2798725660,45520786035,15723933
1551,2016-01-07,2945,50,1.73,2865,3100,2840,1726234,5158706170,46306982685,15723933
1550,2016-01-08,2920,-25,-0.85,2900,2940,2755,821785,2341933860,45913884360,15723933
...,...,...,...,...,...,...,...,...,...,...,...
4,2022-04-25,706,-4,-0.56,710,714,691,324973,227944056,74905560062,106098527
3,2022-04-26,738,32,4.53,701,790,701,1334270,991449167,78300712926,106098527
2,2022-04-27,768,30,4.07,738,774,710,727174,549961164,81483668736,106098527
1,2022-04-28,758,-10,-1.30,765,778,750,365316,278013392,80422683466,106098527
0,2022-04-29,759,1,0.13,758,777,752,340404,258014280,80528781993,106098527

In [90]:
df_ct_pp = df_ct_pp.set_index('일자')
df_ct_pp = df_ct_pp.loc['2016-01':'2021-12']

In [92]:
df_ct_pp.reset_index(inplace=True)

In [93]:
df_ct_pp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      1475 non-null   datetime64[ns]
 1   종가      1475 non-null   int64
 2   대비      1475 non-null   int64
 3   등락률     1475 non-null   float64
 4   시가      1475 non-null   int64
 5   고가      1475 non-null   int64
 6   저가      1475 non-null   int64
 7   거래량     1475 non-null   int64
 8   거래대금    1475 non-null   int64
 9   시가총액    1475 non-null   int64
 10  상장주식수   1475 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 126.9 KB

## 재무비율

In [94]:
df_ct_hts = pd.read_csv('./data/시티랩스_hts재무비율.csv',encoding='cp949',index_col=0).T
df_ct_hts = df_ct_hts.loc['2015/12':]
df_ct_hts

,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),...,지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),DPS(원),PER(배),PBR(배),발행주식수,배당수익률(%)
2015/12,"3,000",163,7,6,6,429,184,245,79,74.85,...,3.63,5.59,9.79,38,"1,623",0,19.95,1.85,"15,724",0.00
2016/03,"2,995",87,-3,-2,-2,442,201,241,79,83.63,...,-2.51,-2.00,-3.59,-14,"1,595",0,NaN,1.88,"15,724",0.00
2016/06,"2,320",67,-5,-11,-11,432,144,288,90,50.15,...,-16.32,-9.97,-16.49,-61,"1,605",0,NaN,1.45,"17,936",0.00
2016/09,"2,695",94,-3,4,4,451,164,287,90,57.12,...,4.02,3.41,5.24,21,"1,621",0,32.09,1.66,"17,936",0.00
2016/12,"2,735",128,2,-17,-17,452,174,279,90,62.26,...,-13.49,-15.27,-24.37,-96,"1,555",0,NaN,1.76,"17,936",0.00
2017/03,"3,035",126,2,4,4,472,137,335,101,40.97,...,3.12,3.40,5.12,20,"1,663",0,38.89,1.82,"20,149",0.00
2017/06,"2,030",117,-4,-3,-3,498,165,333,101,49.53,...,-2.22,-2.21,-3.11,-13,"1,654",0,NaN,1.23,"20,149",0.00
2017/09,"1,440",126,-4,-3,-3,584,188,395,121,47.66,...,-2.50,-2.38,-3.46,-14,"1,638",0,NaN,0.88,"24,161",0.00
2017/12,"3,390",124,-25,-92,-91,546,242,304,121,79.54,...,-73.82,-64.79,-104.52,-379,"1,261",0,NaN,2.69,"24,161",0.00
2018/03,"3,900",64,-8,-8,-8,871,509,362,145,140.52,...,-12.21,-4.42,-9.40,-30,"1,250",0,NaN,3.12,"28,993",0.00
2018/06,"2,410",144,8,-13,-13,874,467,407,145,114.78,...,-8.75,-5.77,-13.08,-43,"1,403",0,NaN,1.72,"28,993",0.00
2018/09,"1,850",75,-6,-11,-11,611,244,367,145,66.60,...,-14.01,-5.68,-10.90,-36,"1,266",0,NaN,1.46,"28,993",0.00
2018/12,"1,485",100,-3,20,20,558,255,303,154,84.24,...,20.32,13.88,24.23,67,987,0,5.57,1.51,"30,702",0.00
2019/03,"1,335",63,-8,-10,-10,"1,889","1,315",574,154,229.31,...,-16.51,-3.41,-22.69,-34,213,0,NaN,6.28,"30,702",0.00
2019/06,"1,175",248,0,3,-1,"1,991","1,210",781,224,155.01,...,-0.39,0.71,-2.37,-2,588,0,NaN,2.00,"44,887",0.00
2019/09,575,247,-5,-21,-24,"1,939","1,168",771,239,151.45,...,-9.64,-4.23,-36.39,-49,524,0,NaN,1.10,"49,391",0.00
2019/12,882,249,-1,-92,-88,"1,823","1,119",704,247,158.96,...,-35.16,-19.60,-150.77,-177,417,0,NaN,2.12,"49,391",0.00
2020/03,523,241,2,-14,-19,"1,887","1,197",690,254,173.54,...,-7.92,-2.95,-38.09,-38,385,0,NaN,1.36,"50,853",0.00
2020/06,590,281,17,2,-13,"1,857",898,959,264,93.59,...,-4.47,0.50,-25.01,-24,389,0,NaN,1.52,"52,853",0.00
2020/09,854,285,6,-3,-19,"1,880",793,"1,087",307,72.91,...,-6.61,-0.54,-32.68,-32,417,0,NaN,2.05,"61,335",0.00
2020/12,"1,100",-437,-58,-26,-24,"1,863",729,"1,134",352,64.33,...,5.47,-5.51,-34.11,-34,435,0,NaN,2.53,"70,397",0.00
2021/03,997,326,-2,11,-22,"2,312","1,067","1,245",381,85.70,...,-6.82,2.09,-27.84,-31,436,0,NaN,2.29,"76,125",0.00
2021/06,764,330,20,-3,13,"2,678","1,355","1,323",444,102.43,...,4.08,-0.41,14.47,15,467,0,12.57,1.64,"88,761",0.00
2021/09,554,330,-4,-12,-15,"2,652","1,337","1,315",444,101.65,...,-4.45,-1.78,-14.45,-17,450,0,NaN,1.23,"88,761",0.00
2021/12,850,-594,-49,23,34,938,388,549,530,70.72,...,-5.78,5.11,28.95,35,517,0,6.15,1.65,"106,099",0.00

In [95]:
df_ct_hts.iloc[:,:12] # 유보율 제거필요

,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),유보율(%),영업이익률(%)
2015/12,"3,000",163,7,6,6,429,184,245,79,74.85,224.56,4.23
2016/03,"2,995",87,-3,-2,-2,442,201,241,79,83.63,218.98,-3.57
2016/06,"2,320",67,-5,-11,-11,432,144,288,90,50.15,221.07,-7.67
2016/09,"2,695",94,-3,4,4,451,164,287,90,57.12,224.27,-3.40
2016/12,"2,735",128,2,-17,-17,452,174,279,90,62.26,210.98,1.60
2017/03,"3,035",126,2,4,4,472,137,335,101,40.97,232.67,1.21
2017/06,"2,030",117,-4,-3,-3,498,165,333,101,49.53,230.88,-3.70
2017/09,"1,440",126,-4,-3,-3,584,188,395,121,47.66,227.57,-3.12
2017/12,"3,390",124,-25,-92,-91,546,242,304,121,79.54,152.12,-20.43
2018/03,"3,900",64,-8,-8,-8,871,509,362,145,140.52,149.93,-12.65
2018/06,"2,410",144,8,-13,-13,874,467,407,145,114.78,180.56,5.32
2018/09,"1,850",75,-6,-11,-11,611,244,367,145,66.60,153.10,-8.35
2018/12,"1,485",100,-3,20,20,558,255,303,154,84.24,97.32,-3.24
2019/03,"1,335",63,-8,-10,-10,"1,889","1,315",574,154,229.31,NaN,-13.19
2019/06,"1,175",248,0,3,-1,"1,991","1,210",781,224,155.01,17.69,-0.16
2019/09,575,247,-5,-21,-24,"1,939","1,168",771,239,151.45,8.21,-2.06
2019/12,882,249,-1,-92,-88,"1,823","1,119",704,247,158.96,NaN,-0.34
2020/03,523,241,2,-14,-19,"1,887","1,197",690,254,173.54,NaN,0.85
2020/06,590,281,17,2,-13,"1,857",898,959,264,93.59,NaN,6.01
2020/09,854,285,6,-3,-19,"1,880",793,"1,087",307,72.91,NaN,1.96
2020/12,"1,100",-437,-58,-26,-24,"1,863",729,"1,134",352,64.33,NaN,13.20
2021/03,997,326,-2,11,-22,"2,312","1,067","1,245",381,85.70,NaN,-0.48
2021/06,764,330,20,-3,13,"2,678","1,355","1,323",444,102.43,NaN,5.92
2021/09,554,330,-4,-12,-15,"2,652","1,337","1,315",444,101.65,NaN,-1.12
2021/12,850,-594,-49,23,34,938,388,549,530,70.72,3.30,8.27

In [96]:
df_ct_hts.iloc[:,-10:] # DPS, 배당수익률 제거필요, PER 다시계산필요

,지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),DPS(원),PER(배),PBR(배),발행주식수,배당수익률(%)
2015/12,3.63,5.59,9.79,38,"1,623",0,19.95,1.85,"15,724",0.00
2016/03,-2.51,-2.00,-3.59,-14,"1,595",0,NaN,1.88,"15,724",0.00
2016/06,-16.32,-9.97,-16.49,-61,"1,605",0,NaN,1.45,"17,936",0.00
2016/09,4.02,3.41,5.24,21,"1,621",0,32.09,1.66,"17,936",0.00
2016/12,-13.49,-15.27,-24.37,-96,"1,555",0,NaN,1.76,"17,936",0.00
2017/03,3.12,3.40,5.12,20,"1,663",0,38.89,1.82,"20,149",0.00
2017/06,-2.22,-2.21,-3.11,-13,"1,654",0,NaN,1.23,"20,149",0.00
2017/09,-2.50,-2.38,-3.46,-14,"1,638",0,NaN,0.88,"24,161",0.00
2017/12,-73.82,-64.79,-104.52,-379,"1,261",0,NaN,2.69,"24,161",0.00
2018/03,-12.21,-4.42,-9.40,-30,"1,250",0,NaN,3.12,"28,993",0.00
2018/06,-8.75,-5.77,-13.08,-43,"1,403",0,NaN,1.72,"28,993",0.00
2018/09,-14.01,-5.68,-10.90,-36,"1,266",0,NaN,1.46,"28,993",0.00
2018/12,20.32,13.88,24.23,67,987,0,5.57,1.51,"30,702",0.00
2019/03,-16.51,-3.41,-22.69,-34,213,0,NaN,6.28,"30,702",0.00
2019/06,-0.39,0.71,-2.37,-2,588,0,NaN,2.00,"44,887",0.00
2019/09,-9.64,-4.23,-36.39,-49,524,0,NaN,1.10,"49,391",0.00
2019/12,-35.16,-19.60,-150.77,-177,417,0,NaN,2.12,"49,391",0.00
2020/03,-7.92,-2.95,-38.09,-38,385,0,NaN,1.36,"50,853",0.00
2020/06,-4.47,0.50,-25.01,-24,389,0,NaN,1.52,"52,853",0.00
2020/09,-6.61,-0.54,-32.68,-32,417,0,NaN,2.05,"61,335",0.00
2020/12,5.47,-5.51,-34.11,-34,435,0,NaN,2.53,"70,397",0.00
2021/03,-6.82,2.09,-27.84,-31,436,0,NaN,2.29,"76,125",0.00
2021/06,4.08,-0.41,14.47,15,467,0,12.57,1.64,"88,761",0.00
2021/09,-4.45,-1.78,-14.45,-17,450,0,NaN,1.23,"88,761",0.00
2021/12,-5.78,5.11,28.95,35,517,0,6.15,1.65,"106,099",0.00

In [97]:
# 제거해주기
df_ct_hts.drop(columns= ['유보율(%)','DPS(원)','배당수익률(%)','PER(배)'], inplace=True)

In [98]:
# 인덱스 날짜로 바꿔주기

df_ct_hts = df_ct_hts.reset_index()
df_ct_hts = df_ct_hts.rename(columns={'index':'일자'})
df_ct_hts.head()

,일자,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2015/12,"3,000",163,7,6,6,429,184,245,79,74.85,4.23,3.63,5.59,9.79,38,"1,623",1.85,"15,724"
1,2016/03,"2,995",87,-3,-2,-2,442,201,241,79,83.63,-3.57,-2.51,-2.00,-3.59,-14,"1,595",1.88,"15,724"
2,2016/06,"2,320",67,-5,-11,-11,432,144,288,90,50.15,-7.67,-16.32,-9.97,-16.49,-61,"1,605",1.45,"17,936"
3,2016/09,"2,695",94,-3,4,4,451,164,287,90,57.12,-3.40,4.02,3.41,5.24,21,"1,621",1.66,"17,936"
4,2016/12,"2,735",128,2,-17,-17,452,174,279,90,62.26,1.60,-13.49,-15.27,-24.37,-96,"1,555",1.76,"17,936"

In [99]:
# 데이터타입 날짜형으로 바꿔주기
df_ct_hts['일자'] = pd.to_datetime(df_ct_hts['일자'])

In [100]:
# 데이터타입 숫자형으로 바꿔주기

for col in df_ct_hts.columns[1:]:
    df_ct_hts[col] = df_ct_hts[col].apply(lambda x: x.replace(',',''))
    df_ct_hts[col] = df_ct_hts[col].apply(pd.to_numeric)

In [101]:
df_ct_hts.head(3)

,일자,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2015-12-01,3000,163,7,6,6,429,184,245,79,74.85,4.23,3.63,5.59,9.79,38,1623,1.85,15724
1,2016-03-01,2995,87,-3,-2,-2,442,201,241,79,83.63,-3.57,-2.51,-2.00,-3.59,-14,1595,1.88,15724
2,2016-06-01,2320,67,-5,-11,-11,432,144,288,90,50.15,-7.67,-16.32,-9.97,-16.49,-61,1605,1.45,17936

In [102]:
# 결산일 = 3,6,9,12월 마지막일

In [103]:
df_ct_hts['일자'] = df_ct_hts['일자'].apply(lambda x: x + timedelta(29))

In [104]:
df_ct_hts.head(10)

,일자,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2015-12-30,3000,163,7,6,6,429,184,245,79,74.85,4.23,3.63,5.59,9.79,38,1623,1.85,15724
1,2016-03-30,2995,87,-3,-2,-2,442,201,241,79,83.63,-3.57,-2.51,-2.00,-3.59,-14,1595,1.88,15724
2,2016-06-30,2320,67,-5,-11,-11,432,144,288,90,50.15,-7.67,-16.32,-9.97,-16.49,-61,1605,1.45,17936
3,2016-09-30,2695,94,-3,4,4,451,164,287,90,57.12,-3.40,4.02,3.41,5.24,21,1621,1.66,17936
4,2016-12-30,2735,128,2,-17,-17,452,174,279,90,62.26,1.60,-13.49,-15.27,-24.37,-96,1555,1.76,17936
5,2017-03-30,3035,126,2,4,4,472,137,335,101,40.97,1.21,3.12,3.40,5.12,20,1663,1.82,20149
6,2017-06-30,2030,117,-4,-3,-3,498,165,333,101,49.53,-3.70,-2.22,-2.21,-3.11,-13,1654,1.23,20149
7,2017-09-30,1440,126,-4,-3,-3,584,188,395,121,47.66,-3.12,-2.50,-2.38,-3.46,-14,1638,0.88,24161
8,2017-12-30,3390,124,-25,-92,-91,546,242,304,121,79.54,-20.43,-73.82,-64.79,-104.52,-379,1261,2.69,24161
9,2018-03-30,3900,64,-8,-8,-8,871,509,362,145,140.52,-12.65,-12.21,-4.42,-9.40,-30,1250,3.12,28993

## 재무비율 날짜 전처리

In [105]:
# '2015-12-01' ~'2022-04-30' 날짜만
ser_date1 = pd.date_range('2015-12-30','2021-12-31')
df_date1 = pd.DataFrame({'일자': ser_date1})
df_date1[:5]

          일자
0 2015-12-30
1 2015-12-31
2 2016-01-01
3 2016-01-02
4 2016-01-03

In [106]:
# 일단 모든 날짜 채우기
df_ct_hts1 = pd.merge(df_date1, df_ct_hts, on='일자', how='left')
df_ct_hts1.head(10)

,일자,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2015-12-30,3000.0,163.0,7.0,6.0,6.0,429.0,184.0,245.0,79.0,74.85,4.23,3.63,5.59,9.79,38.0,1623.0,1.85,15724.0
1,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2016-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
# Nan값 의 데이터로 채우기: 발표된 데이터가 과거값

df_ct_hts1 = df_ct_hts1.fillna(method='bfill')
df_ct_hts1

,일자,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2015-12-30,3000.0,163.0,7.0,6.0,6.0,429.0,184.0,245.0,79.0,74.85,4.23,3.63,5.59,9.79,38.0,1623.0,1.85,15724.0
1,2015-12-31,2995.0,87.0,-3.0,-2.0,-2.0,442.0,201.0,241.0,79.0,83.63,-3.57,-2.51,-2.00,-3.59,-14.0,1595.0,1.88,15724.0
2,2016-01-01,2995.0,87.0,-3.0,-2.0,-2.0,442.0,201.0,241.0,79.0,83.63,-3.57,-2.51,-2.00,-3.59,-14.0,1595.0,1.88,15724.0
3,2016-01-02,2995.0,87.0,-3.0,-2.0,-2.0,442.0,201.0,241.0,79.0,83.63,-3.57,-2.51,-2.00,-3.59,-14.0,1595.0,1.88,15724.0
4,2016-01-03,2995.0,87.0,-3.0,-2.0,-2.0,442.0,201.0,241.0,79.0,83.63,-3.57,-2.51,-2.00,-3.59,-14.0,1595.0,1.88,15724.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2189,2021-12-27,850.0,-594.0,-49.0,23.0,34.0,938.0,388.0,549.0,530.0,70.72,8.27,-5.78,5.11,28.95,35.0,517.0,1.65,106099.0
2190,2021-12-28,850.0,-594.0,-49.0,23.0,34.0,938.0,388.0,549.0,530.0,70.72,8.27,-5.78,5.11,28.95,35.0,517.0,1.65,106099.0
2191,2021-12-29,850.0,-594.0,-49.0,23.0,34.0,938.0,388.0,549.0,530.0,70.72,8.27,-5.78,5.11,28.95,35.0,517.0,1.65,106099.0
2192,2021-12-30,850.0,-594.0,-49.0,23.0,34.0,938.0,388.0,549.0,530.0,70.72,8.27,-5.78,5.11,28.95,35.0,517.0,1.65,106099.0
2193,2021-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 시가총액 데이터와 합치기

In [108]:
df_ct = pd.merge(df_ct_pp,df_ct_hts1, on='일자', how='left')
df_ct

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,...,자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2016-01-04,3020,20,0.67,3050,3135,3010,1283754,3952030070,47486277660,...,79.0,83.63,-3.57,-2.51,-2.00,-3.59,-14.0,1595.0,1.88,15724.0
1,2016-01-05,3020,0,0.00,2960,3030,2930,725642,2165452785,47486277660,...,79.0,83.63,-3.57,-2.51,-2.00,-3.59,-14.0,1595.0,1.88,15724.0
2,2016-01-06,2895,-125,-4.14,3000,3065,2840,954645,2798725660,45520786035,...,79.0,83.63,-3.57,-2.51,-2.00,-3.59,-14.0,1595.0,1.88,15724.0
3,2016-01-07,2945,50,1.73,2865,3100,2840,1726234,5158706170,46306982685,...,79.0,83.63,-3.57,-2.51,-2.00,-3.59,-14.0,1595.0,1.88,15724.0
4,2016-01-08,2920,-25,-0.85,2900,2940,2755,821785,2341933860,45913884360,...,79.0,83.63,-3.57,-2.51,-2.00,-3.59,-14.0,1595.0,1.88,15724.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,2021-12-24,871,8,0.93,863,888,849,1549594,1311024341,85672424032,...,530.0,70.72,8.27,-5.78,5.11,28.95,35.0,517.0,1.65,106099.0
1471,2021-12-27,800,-71,-8.15,818,818,780,3306615,2618962679,78688793600,...,530.0,70.72,8.27,-5.78,5.11,28.95,35.0,517.0,1.65,106099.0
1472,2021-12-28,801,1,0.13,800,810,790,677498,542446108,78787154592,...,530.0,70.72,8.27,-5.78,5.11,28.95,35.0,517.0,1.65,106099.0
1473,2021-12-29,840,39,4.87,794,848,794,1506627,1244331404,82623233280,...,530.0,70.72,8.27,-5.78,5.11,28.95,35.0,517.0,1.65,106099.0
1474,2021-12-30,850,10,1.19,841,878,840,1323197,1139886357,83606843200,...,530.0,70.72,8.27,-5.78,5.11,28.95,35.0,517.0,1.65,106099.0

In [110]:
df_ct['시가총액']/ (df_ct['당기순이익(억원)']*100000000)

0      -237.431388
1      -237.431388
2      -227.603930
3      -231.534913
4      -229.569422
           ...
1470     37.248880
1471     34.212519
1472     34.255285
1473     35.923145
1474     36.350801
Length: 1475, dtype: float64

## 캔들차트 모양

In [111]:
# 고가 - 종가
df_ct['고가-종가'] = df_ct['고가'] - df_ct['종가']

# 고가 - 시가
df_ct['고가-시가'] = df_ct['고가'] - df_ct['시가']

# 고가 - 저가
df_ct['고가-저가'] = df_ct['고가'] - df_ct['저가']

# 종가 - 시가
df_ct['종가-시가'] = df_ct['종가'] - df_ct['시가']

# 종가 - 저가
df_ct['종가-저가'] = df_ct['종가'] - df_ct['저가']

# 시가 - 저가
df_ct['시가-저가'] = df_ct['시가'] - df_ct['저가']

## 전환사채 전환액

In [118]:
df_kind = pd.read_csv('./data/전환사채.csv',index_col=0)
df_kind['상장(예정)일'] = pd.to_datetime(df_kind['상장(예정)일'])
df_kind = df_kind.rename(columns={'상장(예정)일': '일자'})
df_kind['발행주식수'] = pd.to_numeric(df_kind['발행주식수'])
df_kind['액면가'] = pd.to_numeric(df_kind['액면가'],errors='coerce')
df_kind.dropna(inplace=True)
df_kind['전환사채전환총액'] = df_kind['발행주식수'] * df_kind['액면가']
df_kind.head()

,회사명,일자,상장방식,발행주식수,액면가,발행사유,전환사채전환총액
0,광림,2022-05-06,추가상장,1432024.0,500.0,국내사모 전환사채 전환,7.160120e+08
1,바이온,2022-05-06,변경상장,-33450389.0,500.0,감자(무상),-1.672519e+10
2,초록뱀미디어,2022-05-06,추가상장,100000.0,500.0,주식매수선택권행사,5.000000e+07
3,트루윈,2022-05-06,추가상장,22428.0,500.0,국내공모 신주인수권부사채 신주인수권 행사,1.121400e+07
4,로보티즈,2022-05-06,추가상장,10000.0,500.0,주식매수선택권행사,5.000000e+06

In [120]:
df_ct_cb = df_kind[df_kind['회사명']=='시티랩스']
df_ct_cb = df_ct_cb[df_ct_cb['발행사유'].str.contains('전환사채')]
df_ct_cb = df_ct_cb.sort_values(by='일자',ascending=True)
df_ct_cb = df_ct_cb.set_index('일자')
df_ct_cb

             회사명  상장방식       발행주식수    액면가          발행사유      전환사채전환총액
일자
2016-06-24  시티랩스  추가상장   2212389.0  500.0  국내사모 전환사채 전환  1.106194e+09
2017-01-18  시티랩스  추가상장    442477.0  500.0  국내사모 전환사채 전환  2.212385e+08
2017-02-09  시티랩스  추가상장   1769911.0  500.0  국내사모 전환사채 전환  8.849555e+08
2018-12-03  시티랩스  추가상장   1132445.0  500.0  국내사모 전환사채 전환  5.662225e+08
2019-04-16  시티랩스  추가상장  10493825.0  500.0  국내사모 전환사채 전환  5.246912e+09
2019-04-23  시티랩스  추가상장    882183.0  500.0  국내사모 전환사채 전환  4.410915e+08
2019-04-30  시티랩스  추가상장    251410.0  500.0  국내사모 전환사채 전환  1.257050e+08
2019-05-03  시티랩스  추가상장   2160493.0  500.0  국내사모 전환사채 전환  1.080246e+09
2019-10-21  시티랩스  추가상장   1543209.0  500.0  국내사모 전환사채 전환  7.716045e+08
2020-08-11  시티랩스  추가상장    708833.0  500.0  국내사모 전환사채 전환  3.544165e+08
2020-08-18  시티랩스  추가상장    322442.0  500.0  국내사모 전환사채 전환  1.612210e+08
2020-09-22  시티랩스  추가상장   1078528.0  500.0  국내사모 전환사채 전환  5.392640e+08
2020-09-25  시티랩스  추가상장   1133305.0  500.0  국내사모 전환사채 전환  5.666525e+08
2020-10-08  시티랩스  추가상장   1315052.0  500.0  국내사모 전환사채 전환  6.575260e+08
2020-10-30  시티랩스  추가상장   1755886.0  500.0  국내사모 전환사채 전환  8.779430e+08
2020-11-18  시티랩스  추가상장   7306434.0  500.0  국내사모 전환사채 전환  3.653217e+09
2021-04-23  시티랩스  추가상장   5800000.0  500.0  국내사모 전환사채 전환  2.900000e+09
2021-05-21  시티랩스  추가상장   3600000.0  500.0  국내사모 전환사채 전환  1.800000e+09
2021-07-09  시티랩스  추가상장   3236245.0  500.0  국내사모 전환사채 전환  1.618122e+09
2021-11-17  시티랩스  추가상장   9600000.0  500.0  국내사모 전환사채 전환  4.800000e+09
2022-01-10  시티랩스  추가상장    861191.0  500.0  국내사모 전환사채 전환  4.305955e+08

In [122]:
df_ct_cb = df_ct_cb.reset_index()
df_ct_cb1 = df_ct_cb[['일자','전환사채전환총액']]

In [125]:
df_ct_cb1

           일자      전환사채전환총액
0  2016-06-24  1.106194e+09
1  2017-01-18  2.212385e+08
2  2017-02-09  8.849555e+08
3  2018-12-03  5.662225e+08
4  2019-04-16  5.246912e+09
5  2019-04-23  4.410915e+08
6  2019-04-30  1.257050e+08
7  2019-05-03  1.080246e+09
8  2019-10-21  7.716045e+08
9  2020-08-11  3.544165e+08
10 2020-08-18  1.612210e+08
11 2020-09-22  5.392640e+08
12 2020-09-25  5.666525e+08
13 2020-10-08  6.575260e+08
14 2020-10-30  8.779430e+08
15 2020-11-18  3.653217e+09
16 2021-04-23  2.900000e+09
17 2021-05-21  1.800000e+09
18 2021-07-09  1.618122e+09
19 2021-11-17  4.800000e+09
20 2022-01-10  4.305955e+08

In [126]:
df_ct1 = pd.merge(df_ct,df_ct_cb1, on='일자', how= 'left')
df_ct1

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,...,BPS(원),PBR(배),발행주식수,고가-종가,고가-시가,고가-저가,종가-시가,종가-저가,시가-저가,전환사채전환총액
0,2016-01-04,3020,20,0.67,3050,3135,3010,1283754,3952030070,47486277660,...,1595.0,1.88,15724.0,115,85,125,-30,10,40,NaN
1,2016-01-05,3020,0,0.00,2960,3030,2930,725642,2165452785,47486277660,...,1595.0,1.88,15724.0,10,70,100,60,90,30,NaN
2,2016-01-06,2895,-125,-4.14,3000,3065,2840,954645,2798725660,45520786035,...,1595.0,1.88,15724.0,170,65,225,-105,55,160,NaN
3,2016-01-07,2945,50,1.73,2865,3100,2840,1726234,5158706170,46306982685,...,1595.0,1.88,15724.0,155,235,260,80,105,25,NaN
4,2016-01-08,2920,-25,-0.85,2900,2940,2755,821785,2341933860,45913884360,...,1595.0,1.88,15724.0,20,40,185,20,165,145,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,2021-12-24,871,8,0.93,863,888,849,1549594,1311024341,85672424032,...,517.0,1.65,106099.0,17,25,39,8,22,14,NaN
1471,2021-12-27,800,-71,-8.15,818,818,780,3306615,2618962679,78688793600,...,517.0,1.65,106099.0,18,0,38,-18,20,38,NaN
1472,2021-12-28,801,1,0.13,800,810,790,677498,542446108,78787154592,...,517.0,1.65,106099.0,9,10,20,1,11,10,NaN
1473,2021-12-29,840,39,4.87,794,848,794,1506627,1244331404,82623233280,...,517.0,1.65,106099.0,8,54,54,46,46,0,NaN
1474,2021-12-30,850,10,1.19,841,878,840,1323197,1139886357,83606843200,...,517.0,1.65,106099.0,28,37,38,9,10,1,NaN

In [132]:
df_ct1.isnull().sum()

일자                0
종가                0
대비                0
등락률               0
시가                0
고가                0
저가                0
거래량               0
거래대금              0
시가총액              0
상장주식수             0
주가(원)             0
매출액(억원)           0
영업이익(억원)          0
당기순이익(억원)         0
지배주주순이익(억원)       0
자산총계(억원)          0
부채총계(억원)          0
자본총계(억원)          0
자본금(억원)           0
부채비율(%)           0
영업이익률(%)          0
지배주주순이익률(%)       0
ROA(%)            0
ROE(%)            0
EPS(원)            0
BPS(원)            0
PBR(배)            0
발행주식수             0
고가-종가             0
고가-시가             0
고가-저가             0
종가-시가             0
종가-저가             0
시가-저가             0
전환사채전환총액       1455
dtype: int64

In [134]:
# 전환사채전환총액 : 발행된 전환사채가 과거값
df_ct1 = df_ct1.fillna(method='bfill')
df_ct1 = df_ct1.fillna(4.305955e+08)

In [135]:
df_ct1

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,...,BPS(원),PBR(배),발행주식수,고가-종가,고가-시가,고가-저가,종가-시가,종가-저가,시가-저가,전환사채전환총액
0,2016-01-04,3020,20,0.67,3050,3135,3010,1283754,3952030070,47486277660,...,1595.0,1.88,15724.0,115,85,125,-30,10,40,1.106194e+09
1,2016-01-05,3020,0,0.00,2960,3030,2930,725642,2165452785,47486277660,...,1595.0,1.88,15724.0,10,70,100,60,90,30,1.106194e+09
2,2016-01-06,2895,-125,-4.14,3000,3065,2840,954645,2798725660,45520786035,...,1595.0,1.88,15724.0,170,65,225,-105,55,160,1.106194e+09
3,2016-01-07,2945,50,1.73,2865,3100,2840,1726234,5158706170,46306982685,...,1595.0,1.88,15724.0,155,235,260,80,105,25,1.106194e+09
4,2016-01-08,2920,-25,-0.85,2900,2940,2755,821785,2341933860,45913884360,...,1595.0,1.88,15724.0,20,40,185,20,165,145,1.106194e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,2021-12-24,871,8,0.93,863,888,849,1549594,1311024341,85672424032,...,517.0,1.65,106099.0,17,25,39,8,22,14,4.305955e+08
1471,2021-12-27,800,-71,-8.15,818,818,780,3306615,2618962679,78688793600,...,517.0,1.65,106099.0,18,0,38,-18,20,38,4.305955e+08
1472,2021-12-28,801,1,0.13,800,810,790,677498,542446108,78787154592,...,517.0,1.65,106099.0,9,10,20,1,11,10,4.305955e+08
1473,2021-12-29,840,39,4.87,794,848,794,1506627,1244331404,82623233280,...,517.0,1.65,106099.0,8,54,54,46,46,0,4.305955e+08
1474,2021-12-30,850,10,1.19,841,878,840,1323197,1139886357,83606843200,...,517.0,1.65,106099.0,28,37,38,9,10,1,4.305955e+08

In [140]:
## 시장지표 넣기: 시장이 안좋으면 무조건 하락

In [ ]:
# 미국시장: 10년물 채권금리, 대표지수
# 한국시장: 코스피

## 안쓰는 열 빼기 : df_ct2

In [192]:
df_ct1.columns

Index(['일자', '종가', '대비', '등락률', '시가', '고가', '저가', '거래량', '거래대금', '시가총액',
       '상장주식수', '주가(원)', '매출액(억원)', '영업이익(억원)', '당기순이익(억원)', '지배주주순이익(억원)',
       '자산총계(억원)', '부채총계(억원)', '자본총계(억원)', '자본금(억원)', '부채비율(%)', '영업이익률(%)',
       '지배주주순이익률(%)', 'ROA(%)', 'ROE(%)', 'EPS(원)', 'BPS(원)', 'PBR(배)',
       '발행주식수', '고가-종가', '고가-시가', '고가-저가', '종가-시가', '종가-저가', '시가-저가',
       '전환사채전환총액'],
      dtype='object')

In [193]:
len(df_ct1.columns)

36

In [194]:
df_ct2 = df_ct1.drop(columns= ['대비','시가', '고가', '저가','거래량','시가총액', '상장주식수', '주가(원)','발행주식수'])
df_ct2

,일자,종가,등락률,거래대금,매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),...,EPS(원),BPS(원),PBR(배),고가-종가,고가-시가,고가-저가,종가-시가,종가-저가,시가-저가,전환사채전환총액
0,2016-01-04,3020,0.67,3952030070,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,115,85,125,-30,10,40,1.106194e+09
1,2016-01-05,3020,0.00,2165452785,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,10,70,100,60,90,30,1.106194e+09
2,2016-01-06,2895,-4.14,2798725660,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,170,65,225,-105,55,160,1.106194e+09
3,2016-01-07,2945,1.73,5158706170,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,155,235,260,80,105,25,1.106194e+09
4,2016-01-08,2920,-0.85,2341933860,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,20,40,185,20,165,145,1.106194e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,2021-12-24,871,0.93,1311024341,-594.0,-49.0,23.0,34.0,938.0,388.0,...,35.0,517.0,1.65,17,25,39,8,22,14,4.305955e+08
1471,2021-12-27,800,-8.15,2618962679,-594.0,-49.0,23.0,34.0,938.0,388.0,...,35.0,517.0,1.65,18,0,38,-18,20,38,4.305955e+08
1472,2021-12-28,801,0.13,542446108,-594.0,-49.0,23.0,34.0,938.0,388.0,...,35.0,517.0,1.65,9,10,20,1,11,10,4.305955e+08
1473,2021-12-29,840,4.87,1244331404,-594.0,-49.0,23.0,34.0,938.0,388.0,...,35.0,517.0,1.65,8,54,54,46,46,0,4.305955e+08
1474,2021-12-30,850,1.19,1139886357,-594.0,-49.0,23.0,34.0,938.0,388.0,...,35.0,517.0,1.65,28,37,38,9,10,1,4.305955e+08

In [195]:
# 거래대금, 전환사채전환총액 -> 억 단위로 바꿔주기

df_ct2['거래대금'] = df_ct2['거래대금'].apply(lambda x: x/100000000)
df_ct2['전환사채전환총액'] = df_ct2['전환사채전환총액'].apply(lambda x: x/100000000)

In [197]:
# df_ct2.to_csv('./data/시티랩스_모델데이터.csv')

# 시티랩스 모델구축

In [3]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Conv1D

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [4]:
df_ct2 = pd.read_csv('./data/시티랩스_모델데이터.csv',index_col=0)
df_ct2.head()

,일자,종가,등락률,거래대금,매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),...,EPS(원),BPS(원),PBR(배),고가-종가,고가-시가,고가-저가,종가-시가,종가-저가,시가-저가,전환사채전환총액
0,2016-01-04,3020,0.67,39.520301,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,115,85,125,-30,10,40,11.061945
1,2016-01-05,3020,0.00,21.654528,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,10,70,100,60,90,30,11.061945
2,2016-01-06,2895,-4.14,27.987257,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,170,65,225,-105,55,160,11.061945
3,2016-01-07,2945,1.73,51.587062,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,155,235,260,80,105,25,11.061945
4,2016-01-08,2920,-0.85,23.419339,87.0,-3.0,-2.0,-2.0,442.0,201.0,...,-14.0,1595.0,1.88,20,40,185,20,165,145,11.061945

In [5]:
df_ct2.drop(columns = '일자',inplace=True)

In [6]:
df_ct2.head(3)

,종가,등락률,거래대금,매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),...,EPS(원),BPS(원),PBR(배),고가-종가,고가-시가,고가-저가,종가-시가,종가-저가,시가-저가,전환사채전환총액
0,3020,0.67,39.520301,87.0,-3.0,-2.0,-2.0,442.0,201.0,241.0,...,-14.0,1595.0,1.88,115,85,125,-30,10,40,11.061945
1,3020,0.00,21.654528,87.0,-3.0,-2.0,-2.0,442.0,201.0,241.0,...,-14.0,1595.0,1.88,10,70,100,60,90,30,11.061945
2,2895,-4.14,27.987257,87.0,-3.0,-2.0,-2.0,442.0,201.0,241.0,...,-14.0,1595.0,1.88,170,65,225,-105,55,160,11.061945

## 연습

In [8]:
window_size = 30

X = []
Y = []

for i in range(len(df_ct2) - window_size): 
    X.append([df_ct2.iloc[i+j,:] for j in range(window_size)]) # j= 0부터 29 -> 30일치 데이터

In [9]:
target_period = 10
Y = []

# 등락률 (index=1)
for i in range(len(df_ct2) - window_size): 
    Y.append([df_ct2.iloc[i+j,1] for j in range(target_period)])

In [10]:
Y[0]

[0.67, 0.0, -4.14, 1.73, -0.85, -3.77, 2.67, 0.52, 4.66, -0.16]

In [11]:
Y1 = []
for y in Y:
    toggle = 0
    for i in y:

        if i >= 10:
            Y1.append(1)
            toggle = 1
            break
    if toggle != 1:
        Y1.append(0)

Y1

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [ ]:
print(Y1.count(0))
print(Y1.count(1))

## X,Y값 설정

In [7]:
window_size = 30
target_period = 10

X = []
Y = []


for i in range(len(df_ct2) - window_size): 
    
    # 피쳐값 
    X.append([df_ct2.iloc[i+j,:] for j in range(window_size)]) # j= 0부터 29 -> 30일치 데이터

    # 등락률 
    Y.append([df_ct2.iloc[i+j,1] for j in range(target_period)])
    
Y1 = []
for y in Y:
    toggle = 0
    for i in y:

        if i >= 10:
            Y1.append(1)
            toggle = 1
            break
    if toggle != 1:
        Y1.append(0)

Y1

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [8]:
X_ary = np.array(X)
Y1_ary = np.array(Y1)

In [9]:
X_ary.shape

(1445, 30, 26)

In [10]:
Y1_ary.shape

(1445,)

In [11]:
x_train, y_train, x_test, y_test = train_test_split(X_ary,Y1_ary, test_size=0.2)

In [12]:
x_train[0]

array([[ 2.02000000e+03, -4.90000000e-01,  2.92513385e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  2.50000000e+01,  1.00000000e+01,
         5.00000000e+01, -1.50000000e+01,  2.50000000e+01,
         4.00000000e+01,  5.66222500e+00],
       [ 1.99000000e+03, -1.49000000e+00,  4.38525285e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  3.00000000e+01,  1.00000000e+01,
         5.00000000e+01, -2.00000000e+01,  2.00000000e+01,
         4.00000000e+01,  5.66222500e+00],
       [ 2.03000000e+03,  2.01000000e+00,  2.84152285e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  5.00000000e+00,  4.50000000e+01,
         5.50000000e+01,  4.00000000e+01,  5.00000000e+01,
         1.00000000e+01,  5.66222500e+00],
       [ 2.02000000e+03, -4.90000000e-01,  1.50463800e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  2.50000000e+01,  1.50000000e+01,
         4.00000000e+01, -1.00000000e+01,  1.50000000e+01,
         2.50000000e+01,  5.66222500e+00],
       [ 2.00500000e+03, -7.40000000e-01,  1.58035700e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  3.00000000e+01,  2.00000000e+01,
         3.00000000e+01, -1.00000000e+01,  0.00000000e+00,
         1.00000000e+01,  5.66222500e+00],
       [ 2.01000000e+03,  2.50000000e-01,  1.94508995e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  2.00000000e+01,  2.50000000e+01,
         3.50000000e+01,  5.00000000e+00,  1.50000000e+01,
         1.00000000e+01,  5.66222500e+00],
       [ 1.95000000e+03, -2.99000000e+00,  4.85210625e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  6.00000000e+01,  2.00000000e+01,
         6.50000000e+01, -4.00000000e+01,  5.00000000e+00,
         4.50000000e+01,  5.66222500e+00],
       [ 1.89500000e+03, -2.82000000e+00,  8.30175160e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  7.50000000e+01,  3.50000000e+01,
         1.10000000e+02, -4.00000000e+01,  3.50000000e+01,
         7.50000000e+01,  5.66222500e+00],
       [ 1.91500000e+03,  1.06000000e+00,  3.09699990e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  2.50000000e+01,  4.50000000e+01,
         7.50000000e+01,  2.00000000e+01,  5.00000000e+01,
         3.00000000e+01,  5.66222500e+00],
       [ 1.92000000e+03,  2.60000000e-01,  1.89371895e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  1.50000000e+01,  0.00000000e+00,
         4.50000000e+01, -1.50000000e+01,  3.00000000e+01,
         4.50000000e+01,  5.66222500e+00],
       [ 1.95000000e+03,  1.56000000e+00,  1.01303246e+01,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  1.00000000e+02,  4.00000000e+01,
         1.00000000e+02, -6.00000000e+01,  0.00000000e+00,
         6.00000000e+01,  5.66222500e+00],
       [ 1.92000000e+03, -1.54000000e+00,  2.86391450e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  3.00000000e+01,  1.00000000e+01,
         5.00000000e+01, -2.00000000e+01,  2.00000000e+01,
         4.00000000e+01,  5.66222500e+00],
       [ 1.93000000e+03,  5.20000000e-01,  2.28457185e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  1.50000000e+01,  4.00000000e+01,
         5.50000000e+01,  2.50000000e+01,  4.00000000e+01,
         1.50000000e+01,  5.66222500e+00],
       [ 1.94500000e+03,  7.80000000e-01,  1.57634820e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  1.00000000e+01,  2.50000000e+01,
         3.50000000e+01,  1.50000000e+01,  2.50000000e+01,
         1.00000000e+01,  5.66222500e+00],
       [ 2.00000000e+03,  2.83000000e+00,  9.42353390e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  8.00000000e+01,  1.10000000e+02,
         1.25000000e+02,  3.00000000e+01,  4.50000000e+01,
         1.50000000e+01,  5.66222500e+00],
       [ 1.97000000e+03, -1.50000000e+00,  2.51988195e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  4.00000000e+01,  3.50000000e+01,
         5.00000000e+01, -5.00000000e+00,  1.00000000e+01,
         1.50000000e+01,  5.66222500e+00],
       [ 1.93500000e+03, -1.78000000e+00,  2.91058375e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  4.00000000e+01,  1.50000000e+01,
         4.00000000e+01, -2.50000000e+01,  0.00000000e+00,
         2.50000000e+01,  5.66222500e+00],
       [ 1.91500000e+03, -1.03000000e+00,  2.61558840e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  5.00000000e+01,  1.50000000e+01,
         5.50000000e+01, -3.50000000e+01,  5.00000000e+00,
         4.00000000e+01,  5.66222500e+00],
       [ 1.89500000e+03, -1.04000000e+00,  3.05893825e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  2.00000000e+01,  0.00000000e+00,
         1.05000000e+02, -2.00000000e+01,  8.50000000e+01,
         1.05000000e+02,  5.66222500e+00],
       [ 1.85000000e+03, -2.37000000e+00,  2.71562480e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  6.00000000e+01,  1.00000000e+01,
         6.50000000e+01, -5.00000000e+01,  5.00000000e+00,
         5.50000000e+01,  5.66222500e+00],
       [ 1.84500000e+03, -2.70000000e-01,  2.46303635e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  5.50000000e+01,  8.50000000e+01,
         1.05000000e+02,  3.00000000e+01,  5.00000000e+01,
         2.00000000e+01,  5.66222500e+00],
       [ 1.83000000e+03, -8.10000000e-01,  3.67098795e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  3.00000000e+01,  5.50000000e+01,
         6.00000000e+01,  2.50000000e+01,  3.00000000e+01,
         5.00000000e+00,  5.66222500e+00],
       [ 1.87500000e+03,  2.46000000e+00,  3.35586050e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  1.50000000e+01,  4.50000000e+01,
         6.00000000e+01,  3.00000000e+01,  4.50000000e+01,
         1.50000000e+01,  5.66222500e+00],
       [ 1.83500000e+03, -2.13000000e+00,  3.21214180e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  5.00000000e+01,  1.50000000e+01,
         8.50000000e+01, -3.50000000e+01,  3.50000000e+01,
         7.00000000e+01,  5.66222500e+00],
       [ 1.81500000e+03, -1.09000000e+00,  1.32767980e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  5.00000000e+01,  2.50000000e+01,
         5.50000000e+01, -2.50000000e+01,  5.00000000e+00,
         3.00000000e+01,  5.66222500e+00],
       [ 1.82000000e+03,  2.80000000e-01,  1.58260895e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  2.00000000e+01,  3.50000000e+01,
         3.50000000e+01,  1.50000000e+01,  1.50000000e+01,
         0.00000000e+00,  5.66222500e+00],
       [ 1.85000000e+03,  1.65000000e+00,  3.15550945e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  0.00000000e+00,  2.00000000e+01,
         4.50000000e+01,  2.00000000e+01,  4.50000000e+01,
         2.50000000e+01,  5.66222500e+00],
       [ 1.83000000e+03, -1.08000000e+00,  1.69129540e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  2.50000000e+01,  5.00000000e+00,
         5.00000000e+01, -2.00000000e+01,  2.50000000e+01,
         4.50000000e+01,  5.66222500e+00],
       [ 1.79500000e+03, -1.91000000e+00,  2.96582855e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  3.00000000e+01,  5.00000000e+00,
         5.50000000e+01, -2.50000000e+01,  2.50000000e+01,
         5.00000000e+01,  5.66222500e+00],
       [ 1.72000000e+03, -4.18000000e+00,  4.48526985e+00,
         1.26000000e+02, -4.00000000e+00, -3.00000000e+00,
        -3.00000000e+00,  5.84000000e+02,  1.88000000e+02,
         3.95000000e+02,  1.21000000e+02,  4.76600000e+01,
        -3.12000000e+00, -2.50000000e+00, -2.38000000e+00,
        -3.46000000e+00, -1.40000000e+01,  1.63800000e+03,
         8.80000000e-01,  6.00000000e+01,  2.50000000e+01,
         8.00000000e+01, -3.50000000e+01,  2.00000000e+01,
         5.50000000e+01,  5.66222500e+00]])

## 모델구축

In [ ]:
model = Sequential()
model.add(LSTM())