# 왜 안 변했을까

In [14]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
from konlpy.tag import Okt,Komoran, Kkma,Hannanum

okt = Okt()
kom = Komoran()
kkma = Kkma()
han = Hannanum()

In [16]:
train_df = pd.read_csv('./data/ratings_train.txt', sep='\t')
test_df = pd.read_csv('./data/ratings_test.txt', sep='\t')

In [17]:
train_df.dropna(inplace=True)
test_df.dropna(inplace=True)

In [18]:
train_df.drop_duplicates(['document'], keep='first', inplace=True)
test_df.drop_duplicates(['document'], keep='first', inplace=True)

In [19]:
train_df.duplicated(subset=['document']).sum()

0

In [20]:
train_df['document'] = train_df['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z ]", '')
test_df['document'] = test_df['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z ]", '')

train_df['document'] = train_df['document'].str.replace("\s+", ' ')
test_df['document'] = test_df['document'].str.replace("\s+", ' ')

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_13708/390526663.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  train_df['document'] = train_df['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z ]", '')
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_13708/390526663.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  test_df['document'] = test_df['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z ]", '')
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_13708/390526663.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  train_df['document'] = train_df['document'].str.replace("\s+", ' ')
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_13708/390526663.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  test_df['document'] = test_df['document'].str.replace("\s+", ' ')

## '' 만 지웠을 때

In [21]:
train1_df = train_df.copy()

In [22]:
train1_df = train1_df[(train1_df['document'] != '') ]
train1_df[(train1_df['document'] == '') ]

Empty DataFrame
Columns: [id, document, label]
Index: []

## '', ' ' 같이 지웠을때

In [23]:
train2_df = train_df.copy()

In [25]:
train2_df = train2_df[(train2_df['document'] != '') | (train2_df['document'] != ' ')]

In [26]:
# 반영 안됨 
train2_df[(train2_df['document'] == '') ]

             id document  label
584     7117896               0
593     6478189               0
638     9364602               0
1840    7095375               1
2327    9317820               1
...         ...      ...    ...
144713  5887409               1
146064  8014067               0
146607  4602734               0
147059  7089618               1
149364  8014701               1

[173 rows x 3 columns]

In [27]:
# 반영 안됨 
train2_df[(train2_df['document'] == ' ') ]

              id document  label
30166    5310569               0
38555    5483915               0
40569   10124907               1
129364   7796253               1
129616  10187596               0
138058   8633968               1

In [44]:
# ''이 아닌 train2_df or '' 이 아닌 train2_df 를 합치면 -> 원래 그대로 train2_df
# ''와 ' '는 겹치지 않으므로
# 벤다이어그램
train2_df = train2_df[(train2_df['document'] != '') | (train2_df['document'] != ' ')]

In [ ]:
# 따로따로 지우는게 맞다!

# 왜 안바뀔까 2

In [46]:
train3_df = train_df.copy()

In [47]:
# label 이 0인값을 1로 바꾸고 싶음

train3_df[train3_df['label']== 0 ]['label'] = 1

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_13708/4269182150.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train3_df[train3_df['label']== 0 ]['label'] = 1

In [48]:
# 반영 안됨 
train3_df[train3_df['label']== 0 ]

              id                                           document  label
0        9976970                                  아 더빙 진짜 짜증나네요 목소리      0
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
5        5403919              막 걸음마 뗀 세부터 초등학교 학년생인 살용영화ㅋㅋㅋ별반개도 아까움      0
6        7797314                               원작의 긴장감을 제대로 살려내지못했다      0
...          ...                                                ...    ...
149990   6373651                                        이걸 영화라고 찎었냐      0
149992   9335962  공포나 재난영화가 아니라 아예 대놓고 비급 크리쳐개그물임ㅋㅋ 음악 완전 흥겹다ㅋ 점...      0
149995   6222902                                    인간이 문제지 소는 뭔죄인가      0
149997   9311800                      이게 뭐요 한국인은 거들먹거리고 필리핀 혼혈은 착하다      0
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[73342 rows x 3 columns]

In [32]:
## 해결 : train3_df에서 벗어나면 안된다

In [49]:
# 새로운 df3 지정시
df3 = train3_df[train3_df['label']== 0 ]

In [50]:
df3['label']

0         0
2         0
3         0
5         0
6         0
         ..
149990    0
149992    0
149995    0
149997    0
149999    0
Name: label, Length: 73342, dtype: int64

In [51]:
df3['label']=1

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_13708/2835199873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['label']=1

In [53]:
df3['label']

0         1
2         1
3         1
5         1
6         1
         ..
149990    1
149992    1
149995    1
149997    1
149999    1
Name: label, Length: 73342, dtype: int64

In [39]:
# 세부적인 내용 고치기
train3_df.loc[0,'label']=1

In [41]:
train3_df.head()

         id                                           document  label
0   9976970                                  아 더빙 진짜 짜증나네요 목소리      1
1   3819312                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...      1

In [42]:
# 전체를 바꾸기
train3_df['label'].apply(lambda x : 1 if x==0 else x)

0         1
1         1
2         1
3         1
4         1
         ..
149995    1
149996    1
149997    1
149998    1
149999    1
Name: label, Length: 146182, dtype: int64