In [1]:
import pandas as pd
import numpy as np

In [27]:
lines = pd.read_csv('fra.txt', names=['src','tar','lic'],sep='\t')
del lines['lic']
lines.sample(10)

,src,tar
165185,There's a simple solution to this problem.,Il y a une solution simple au problème.
174895,She went to the market to buy fresh vegetables.,Elle est allée au marché pour acheter des légu...
7766,I'm terrified.,Je suis terrifiée.
103020,The unrest lasted three days.,L'agitation a duré trois jours.
11345,Please help us.,Veuillez nous aider !
147697,My father is busy as a bee every day.,"Mon père est, chaque jour, affairé comme une a..."
151198,I wonder if Tom is still eating lunch.,Je me demande si Tom déjeune encore.
61069,Do you have an umbrella?,Avez-vous un parapluie ?
93638,I want to hear your opinion.,Je veux entendre ton opinion.
169072,I'm going to work out the problem by myself.,Je vais résoudre le problème moi-même.

In [22]:
len(lines)

192341

In [23]:
# 전처리 1. 앞뒤 토큰붙여주고 2. 알파벳별로 모아서 인덱싱 3. encoder_input 만들기

In [28]:
lines = lines.iloc[:60000,:]
lines

                           src                               tar
0                          Go.                              Va !
1                          Go.                           Marche.
2                          Go.                           Bouge !
3                          Hi.                           Salut !
4                          Hi.                            Salut.
...                        ...                               ...
59995  Why would they do that?      Pourquoi feraient-elles ça ?
59996  Why would you ask that?    Pourquoi demanderais-tu cela ?
59997  Why would you ask that?  Pourquoi demanderiez-vous cela ?
59998  Why would you say that?         Pourquoi dirais-tu cela ?
59999  Why would you say that?       Pourquoi diriez-vous cela ?

[60000 rows x 2 columns]

In [29]:
lines['tar'] = lines['tar'].apply(lambda x : '\t '+ x + ' \n' )
lines.sample(10)

                           src                                          tar
35341     I just brewed a pot.  \t Je viens d'en préparer une cafetière. \n
5699             Stop running.                     \t Arrêtez de courir. \n
45124    Tom was contributing.                       \t Tom contribuait. \n
46429    You're not the first.               \t Tu n'es pas la première. \n
7554            I'll be going.                                \t J'irai. \n
31386      The path is direct.        \t C'est le chemin qui est direct. \n
2938              He helps us.                          \t Il nous aide. \n
28229      Everybody loves it.                \t Tout le monde adore ça. \n
58500  This food is delicious.       \t Cette nourriture est délicieuse. \n
3349              I'm fasting.                    \t Je suis à la diète. \n

In [30]:
 # 2. 알파벳별로 모아서 인덱싱

In [35]:
src_vocab = set() # 중복피하기 위해

for line in lines['src']:
    for char in line:
        src_vocab.add(char)
# src_vocab[:10] set순서가 없어서 인덱싱 불가능

In [36]:
tar_vocab = set()
for line in lines['tar']:
    for char in line:
        tar_vocab.add(char)

In [38]:
# 단어사이즈 확인
src_vocab_size = len(src_vocab)+1
tar_vocab_size = len(tar_vocab)+1

print(src_vocab_size)
print(tar_vocab_size)

80
105

In [41]:
# 인덱싱을 위해 정렬
src_vocab_sorted = sorted(list(src_vocab))
tar_vocab_sorted = sorted(list(tar_vocab))

src_vocab_sorted[20:30]

['9', ':', '?', 'A', 'B', 'C', 'D', 'E', 'F', 'G']

In [ ]:
# 인덱싱

src_to_index = dict([(word, i+1) for i,word in enumerate(src_vocab_sorted)])