In [1]:
import pandas as pd
import numpy as np
import MySQLdb

In [2]:
budongsan = pd.read_csv('budongsan.csv', index_col = 0)
budongsan.head(2)

        매물번호           연락처             주소              부동산      보증금     월세
0  3467204.0  010-123-4567  서울시 강남구 역삼동 0  TODAY공인중개사(이인규)   1000.0  100.0
1  3150497.0  010-123-4567  서울시 강남구 역삼동 1  TODAY공인중개사(이인규)  11000.0   60.0

In [3]:
db = MySQLdb.connect(host = 'localhost', user='root', password = '1234')
cursor = db.cursor()

In [4]:
sql = """show databases; """

# cursor.execute(sql)
pd.read_sql(sql,db)

             Database
0  information_schema
1           employees
2               mysql
3  performance_schema
4              sakila
5               sqldb
6                 sys
7               world

In [5]:
sql = "create database if not exists budongsan;"
cursor.execute(sql)

1

In [6]:
sql = """
use budongsan;
"""
cursor.execute(sql)

0

In [7]:
sql = """
create table if not exists provider (
provider_id int primary key,
name varchar(30));
"""

cursor.execute(sql)

0

In [8]:
# 중복실행 시 에러
sql = """
insert into provider values(1, '우리부동산');
insert into provider values(2, '한마음부동산');
"""

cursor.execute(sql)

1

In [9]:
sql = """
select * from provider;
"""

cursor.execute(sql)
cursor.fetchall()

((1, '우리부동산'), (2, '한마음부동산'))

In [10]:
budongsan = pd.read_csv('budongsan.csv', index_col = 0)
budongsan.head(3)

        매물번호           연락처             주소              부동산      보증금     월세
0  3467204.0  010-123-4567  서울시 강남구 역삼동 0  TODAY공인중개사(이인규)   1000.0  100.0
1  3150497.0  010-123-4567  서울시 강남구 역삼동 1  TODAY공인중개사(이인규)  11000.0   60.0
2  3440906.0  010-123-4567  서울시 강남구 역삼동 2     열린공인중개사(강광수)   5000.0   65.0

In [11]:
budongsan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   매물번호    43 non-null     float64
 1   연락처     43 non-null     object
 2   주소      43 non-null     object
 3   부동산     43 non-null     object
 4   보증금     43 non-null     float64
 5   월세      43 non-null     float64
dtypes: float64(3), object(3)
memory usage: 2.4+ KB

In [12]:
# budongsan.매물번호.value_counts()

In [13]:
sql = """
drop table if exists agency;
create table agency(
    product_id float primary key,
    phone char(13),
    address char(20),
    agency_nm varchar(50),
    deposit float,
    rent float
)"""

cursor.execute(sql)

0

In [14]:
for i in range(len(budongsan)):
    p_id = budongsan.iloc[i][0]
    pho = budongsan.iloc[i][1]
    add = budongsan.iloc[i][2]
    an = budongsan.iloc[i][3]
    de = budongsan.iloc[i][4]
    re = budongsan.iloc[i][5]
    
    print(p_id, pho, add, an, de, re)
    sql = "insert into agency values('{}','{}','{}','{}','{}','{}')"
    sql = sql.format(p_id, pho, add, an, de, re)
    
    cursor.execute(sql)

3467204.0 010-123-4567 서울시 강남구 역삼동 0 TODAY공인중개사(이인규) 1000.0 100.0
3150497.0 010-123-4567 서울시 강남구 역삼동 1 TODAY공인중개사(이인규) 11000.0 60.0
3440906.0 010-123-4567 서울시 강남구 역삼동 2 열린공인중개사(강광수) 5000.0 65.0
3376834.0 010-123-4567 서울시 강남구 역삼동 3 미래공인중개사(김유철) 3000.0 95.0
3331511.0 010-123-4567 서울시 강남구 역삼동 4 한백부동산공인중개사(김남조) 110.0 110.0
3373198.0 010-123-4567 서울시 강남구 역삼동 5 강남코리아공인중개사(기숙영) 15000.0 70.0
3376434.0 010-123-4567 서울시 강남구 역삼동 6 열린공인중개사(강광수) 1000.0 85.0
3322860.0 010-123-4567 서울시 강남구 역삼동 7 한강공인중개사(김상헌) 1000.0 80.0
3303061.0 010-123-4567 서울시 강남구 역삼동 8 동하공인중개사(임성우) 1000.0 60.0
3262172.0 010-123-4567 서울시 강남구 역삼동 9 스타공인중개사(박정직) 2000.0 50.0
3228631.0 010-123-4567 서울시 강남구 역삼동 10 HS강남공인중개사(김현수) 1000.0 96.0
3505011.0 010-123-4567 서울시 강남구 역삼동 11 H공인중개사(김용만) 15000.0 70.0
3249401.0 010-123-4567 서울시 강남구 역삼동 12 도원공인중개사(손석진) 65.0 65.0
3330951.0 010-123-4567 서울시 강남구 역삼동 13 강남우리공인중개사(어정화) 2000.0 150.0
3494055.0 010-123-4567 서울시 강남구 역삼동 14 청록공인중개사(하순자) 3000.0 60.0
3317227.0 010-123-4567 서울시 강남구 역삼동 15 커피한잔공인중개사(손별) 500.0 67.0
3405679.0 010-123-4567 서울시 강남구 역삼동 16 강남코리아공인중개사(기숙영) 15000.0 60.0
3103384.0 010-123-4567 서울시 강남구 역삼동 17 TODAY공인중개사(이인규) 5000.0 50.0
3418616.0 010-123-4567 서울시 강남구 역삼동 18 나무공인중개사(조민영) 90.0 90.0
3456814.0 010-123-4567 서울시 강남구 역삼동 19 한강공인중개사(김상헌) 300.0 80.0
3181675.0 010-123-4567 서울시 강남구 역삼동 20 TODAY공인중개사(이인규) 5000.0 60.0
3309372.0 010-123-4567 서울시 강남구 역삼동 21 한백부동산공인중개사(김남조) 75.0 75.0
3501566.0 010-123-4567 서울시 강남구 역삼동 22 강남코리아공인중개사(기숙영) 1000.0 65.0
3346510.0 010-123-4567 서울시 강남구 역삼동 23 도원공인중개사(손석진) 65.0 65.0
3406670.0 010-123-4567 서울시 강남구 역삼동 24 TODAY공인중개사(이인규) 1000.0 60.0
3493254.0 010-123-4567 서울시 강남구 역삼동 25 아셈타운공인중개사(임현옥) 7000.0 100.0
3501607.0 010-123-4567 서울시 강남구 역삼동 26 강남코리아공인중개사(기숙영) 2000.0 63.0
3484623.0 010-123-4567 서울시 강남구 역삼동 27 웰컴공인중개사(이영진) 1000.0 120.0
3190410.0 010-123-4567 서울시 강남구 역삼동 28 건우공인중개사(김상모) 70.0 70.0
3350050.0 010-123-4567 서울시 강남구 역삼동 29 NB공인중개사(길주현) 1000.0 70.0
3495453.0 010-123-4567 서울시 강남구 역삼동 30 부동산네트워크공인중개사(황창문) 8000.0 55.0
3446619.0 010-123-4567 서울시 강남구 역삼동 31 도원공인중개사(손석진) 68.0 68.0
3451078.0 010-123-4567 서울시 강남구 역삼동 32 스타공인중개사(박정직) 4000.0 40.0
3345445.0 010-123-4567 서울시 강남구 역삼동 33 대청공인중개사(이선영) 14000.0 70.0
3332380.0 010-123-4567 서울시 강남구 역삼동 34 한백부동산공인중개사(김남조) 10000.0 100.0
3450803.0 010-123-4567 서울시 강남구 역삼동 35 스타공인중개사(박정직) 6000.0 50.0
3471049.0 010-123-4567 서울시 강남구 역삼동 36 정성공인중개사(정문식) 100.0 100.0
3438747.0 010-123-4567 서울시 강남구 역삼동 37 TODAY공인중개사(이인규) 3000.0 100.0
3330749.0 010-123-4567 서울시 강남구 역삼동 38 미래공인중개사(김유철) 1000.0 85.0
3446920.0 010-123-4567 서울시 강남구 역삼동 39 한백부동산공인중개사(김남조) 75.0 75.0
3501554.0 010-123-4567 서울시 강남구 역삼동 40 강남코리아공인중개사(기숙영) 1000.0 63.0
3435418.0 010-123-4567 서울시 강남구 역삼동 41 친절한공인중개사(김천호) 500.0 65.0
3501551.0 010-123-4567 서울시 강남구 역삼동 42 강남코리아공인중개사(기숙영) 3000.0 75.0

In [16]:
sql = "select * from agency;"

pd.read_sql(sql,db).head(3)

   product_id         phone         address        agency_nm  deposit  rent
0   3103380.0  010-123-4567  서울시 강남구 역삼동 17  TODAY공인중개사(이인규)   5000.0  50.0
1   3150500.0  010-123-4567   서울시 강남구 역삼동 1  TODAY공인중개사(이인규)  11000.0  60.0
2   3181680.0  010-123-4567  서울시 강남구 역삼동 20  TODAY공인중개사(이인규)   5000.0  60.0