### string

txt1 = '  A tale that was not right  '   
txt2 = '이 또한 지나가리라  '
   
1. tale을 출력하시오.   
2. '지'를 출력하시오   
3. 'a'는 몇 개가 존재하는가?   
4. txt1에서 모음의 갯수는 몇 개인가?   
5. '또한'을 '것도'로 수정하시오   
6. txt1을 대문자로 출력하시오..   
7. txt1에서 right은 몇 번째 인덱스에 등장하는가?  
8. txt1을 space를 기준으로 나눠 리스트에 담으시오  
9. txt2의 길이를 얼마인가?  
10. txt2를 character 단위로 나누어서 리스트에 담으시오..
11. txt1의 좌우 공백을 제거하시오
12. txt2를 역순으로 출력하시오.   
   
   
13. url = 'http://www.naver.com/news/today=20221230'   
url 중 도메인만 출력하시오   
   
14.log = 'name : 홍길동, age: 17, sex: 남성, nation: 대한민국'   
아래와 같이 출력하시오      
   
name=> '홍길동'   
age=> 17   
sex=> 남성

In [1]:
txt1 = ' A tale that was not right '
txt2 = '이 또한 지나가리라 '

In [3]:
#1. tale을 출력하시오.
txt1[2:7]

' tale'

In [4]:
#2.'지'를 출력하시오
txt2[5]

'지'

In [5]:
#3.'a'는 몇 개가 존재하는가?
txt1.count('a')

3

In [29]:
#4.txt1에서 모음의 갯수는 몇 개인가?
cnt=0
for c in txt1:
    
    if c in 'aeoui': # 'aeiouAEIOU'
        cnt += 1
print(cnt)

6

In [14]:
#5. '또한'을 '것도'로 수정하시오
a =txt2.replace("또한", "것도")
a

'이 것도 지나가리라 '

In [15]:
#6. txt1을 대문자로 출력하시오..
txt1.upper()

' A TALE THAT WAS NOT RIGHT '

In [31]:
#7.txt1에서 right은 몇 번째 인덱스에 등장하는가?
txt1.index('right')
#txt1.find('right') 없을 시 -1

21

In [35]:
#8. txt1을 space를 기준으로 나눠 리스트에 담으시오

a = txt1.split(" ")
a
# list(txt1)

['', 'A', 'tale', 'that', 'was', 'not', 'right', '']

In [18]:
#9. txt2의 길이를 얼마인가?
len(txt2)

11

In [32]:
#10.txt2를 character 단위로 나누어서 리스트에 담으시오.
li1 = []
for i in txt2:
    li1.append(i)
li1

['이', ' ', '또', '한', ' ', '지', '나', '가', '리', '라', ' ']

In [21]:
#11.txt1의 좌우 공백을 제거하시오
txt1.strip(" ")

'A tale that was not right'

In [36]:
#12. txt2를 역순으로 출력하시오
li = []
for i in txt2:
    li.append(i)
li= li[::-1]
li= ''.join(li)
print(li)

txt2[::-1]

 라리가나지 한또 이

' 라리가나지 한또 이'

In [38]:
# txt1 txt2 를 연결하여 하나의 문자열로 만드시오
txt1 +txt2

' A tale that was not right 이 또한 지나가리라 '

In [39]:
#txt1 에 right 이 존재하는 지 확인하시오
'right' in txt1

True

In [40]:
# txt1 뒤에서 5번째 문자를 출력
txt1[-5]

'i'

In [43]:
#txt1의 문자를 index와 튜플로 묶어서 리스트에 담으시오
li2 =[]
for i,v in enumerate(txt1):
    li2.append((i,v))
li2

[(0, ' '),
 (1, 'A'),
 (2, ' '),
 (3, 't'),
 (4, 'a'),
 (5, 'l'),
 (6, 'e'),
 (7, ' '),
 (8, 't'),
 (9, 'h'),
 (10, 'a'),
 (11, 't'),
 (12, ' '),
 (13, 'w'),
 (14, 'a'),
 (15, 's'),
 (16, ' '),
 (17, 'n'),
 (18, 'o'),
 (19, 't'),
 (20, ' '),
 (21, 'r'),
 (22, 'i'),
 (23, 'g'),
 (24, 'h'),
 (25, 't'),
 (26, ' ')]

In [42]:
#13. url = 'http://www.naver.com/news/today=20221230' 중 도메인만 출력하시오.
url = 'http://www.naver.com/news/today=20221230'
url.split('/')[2]

'www.naver.com'

In [53]:
#14.log = 'name : 홍길동, age: 17, sex: 남성, nation: 대한민국'
#아래와 같이 출력하시오

#name=> '홍길동'
# age=> 17
# sex=> 남성

log = 'name: 홍길동, age: 17, sex: 남성, nation: 대한민국'
# log1 = log.split(",")
# # dict2 = dict(log1)
# # dict2
# # for i,v in dict2:
# #     print("{} => {}\n".format(i,v))

for i in log.split(","):
    name = i.split(':')[0].strip()
    value = i.split(':')[1].strip()
    print(name, "=>", value)

name => 홍길동
age => 17
sex => 남성
nation => 대한민국

### datatype
1. 기본형
- int :95
- float : 95.8
- bool : True, False

2. 군집형 (여러 요소가 모여서 하나의 데이터 형식)
- string : '' , 요소의 수정,삭제,축가 안됨  순서,인덱스 존재
- list : [], 요소의 수정,삭제,추가가 자유로움  순서,인덱스 존재
- tuple: (), 요소의 수정,삭제,추가가 안됨 -> 수정하지 않을 값 , 보조용  순서,인덱스 존재
- set: {}, 요소의 삭제, 추가 안됨, 중복요소가 없다. 집합연산  순서,인덱스x
- dictionary : {key: value}, 요소의 수정, 삭제, 추가가 자유로움, 데이터의 저장(json과 유사)
               순서없고, 인덱스는 key 역할

### List

In [138]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3) ]

In [139]:
# 't' 를 출력하시오
score[3][2]

't'

In [140]:
# 56을 출력하시오
score[-2][1]

56

In [141]:
# 마지막 요소의 최대값을 출력하시오
max(score[-1])

25

In [142]:
# 'python'을 'world'로 수정하시오
# score[3].replace("python","world")
score[3] = 'world'
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3)]

In [143]:
# 마지막에 'sun'을 추가하시오
score.append("sun")
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [144]:
# 'world'가 있는지 확인하시오
'world' in score

True

In [145]:
# 마지막에서 2번째 요소를 내림차순으로 정렬하시오
sorted(score[-2], reverse=True)

[25, 24, 3]

In [146]:
# 90은 몇 번째 인덱스에 있는지 확인하시오
score.index(90)

1

In [147]:
# 리스트를 역순으로 정렬하시오
score[::-1]
#score.reverse()

['sun', (24, 25, 3), [78, 56, 32], True, 'hello', 'world', 78, 90, 81]

In [148]:
# 3번째 인덱스에 'sea'를 추가하시오
score.insert(3,'sea')
score

[81, 90, 78, 'sea', 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [149]:
# True 를 False로 수정하시오
score.index(True)  #index("True") ""붙이면 안됨
score[6]="False"
score

[81,
 90,
 78,
 'sea',
 'world',
 'hello',
 'False',
 [78, 56, 32],
 (24, 25, 3),
 'sun']

In [150]:
# 'world'를 제거하시오
# score.index(world)
score.remove('world')
score

[81, 90, 78, 'sea', 'hello', 'False', [78, 56, 32], (24, 25, 3), 'sun']

In [89]:
# 7번째 요소를 제거하시오
del score[7]
#score.pop[7]

In [90]:
# 마지막 요소를 제거하시오
score.pop()

'sun'

In [91]:
# 리스트의 길이를 출력하시오
len(score)

9

In [95]:
# 두 번째 요소의 데이터 타입을 출력하시오

print(type(score[2]))

<class 'int'>

In [92]:
# 모든 원소를 제거하시오
score.clear()

In [93]:
# 리스트를 삭제하시오
del score

In [106]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3) ]
#[78,56,32]를 78:56:32로 수정하시오

indexx = score.index([78,56,32])   # 인덱스: 6

# n = ':'.join(num)  #리스트 안이 str이어야 가능

score[indexx] = ":".join([str(s) for s in [78,56,32]])
score[indexx]


#리스트-> 문자열

'78:56:32'