In [4]:
# String

txt1 = 'A tale that was not right'

# 'ale' 이 출력..
# 'A tale' 출력
# 'not' 출력
# txt1을 소문자 전환
# txt1을 대문자 전환
# 'o'가 몇 개 존재하는가?
# 'o'가 몇 번 인덱스에 존재하는가?
# txt1의 길이는 어떻게 되는가?
# space를 기준으로 나누어서 List에 담으세요..
# 'tale'을 'story'로 바꾸세요..
# txt1 안에 'right'가 존재하는지 확인

In [5]:
txt1[3:6]

'ale'

In [7]:
txt1[:6]

'A tale'

In [9]:
txt1[5]

'e'

In [10]:
txt1.count('o')

1

In [11]:
txt1.index('o')

17

In [12]:
txt1.find('o')

17

In [13]:
txt1.split(" ")

['A', 'tale', 'that', 'was', 'not', 'right']

In [14]:
txt1.replace('tale','story')

'A story that was not right'

## 군집형 데이터타입 - index(주소) - []

string - 문자열, 원소의 수정, 삭제, 추가가 안 됨
list - 리스트, 원소의 수정,삭제,추가가 자유로움, 모든 객체를 담을 수 있음
set - 집합, 중복데이터를 허용하지 않는다, 순서가 없음(index가 없음)
tuple - 원소의 수정, 삭제, 추가가 안 됨 -> 고정된 값을 표현. 데이터를 묶는 보조적 용도
dictionary - 사전. 단어: 뜻->  key: value => key가 인덱스 역할을 함

In [45]:
# List
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

In [46]:
# 1. sol에서 ['수성','금성']을 출력
sol[1:3]

['수성', '금성']

In [47]:
# 2. sol에서 '지구' 위치 인덱스 출력
sol.index('지구')

3

In [48]:
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[4] = '해왕성'
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [49]:
# 4. '수성'자리에 '명왕성' 삽입
sol.insert(1,'명왕성')
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [50]:
# 5. '토성'을 맨 끝에 삽입
sol.append("토성")
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [51]:
# 6. 맨 끝 요소를 삭제하고 리턴 
sol.pop()
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [52]:
# 7. '금성'을 제거
sol.remove("금성")
sol

['태양', '명왕성', '수성', '지구', '해왕성', '목성', '지구']

In [53]:
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
del sol[1:4]
sol

['태양', '해왕성', '목성', '지구']

In [54]:
# 9. 인덱스 2번 요소 삭제

del sol[2]

In [55]:
# 10. sol과 sol1을 합치세요
sol + sol1

['태양', '해왕성', '지구', '토성', '천황성', '해왕성']

In [56]:
# 11. 내림차순 정렬
sorted(sol, reverse=True)

['해왕성', '태양', '지구']

In [59]:
# 12. 오름차순 정렬
sol.sort()

In [ ]:
# 13. '만리장성'이 있는지 확인
'만리장성' in sol

In [60]:
# 14. so1을 3번 반복하세요
sol*3

['지구', '태양', '해왕성', '지구', '태양', '해왕성', '지구', '태양', '해왕성']

In [61]:
# 15. 길이를 출력하세요
len(sol)

3

In [63]:
# 16. '지구'가 몇 개 포함되어있는지 확인.
sol.count('지구')

1

In [65]:
# 17. 모든 원소를 지우세요.
sol.clear()
sol

[]

In [66]:
# 18. sol리스트를 삭제하세요.
del sol
sol

NameError: name 'sol' is not defined

In [68]:
# Tuple -- 원소 수정 안됨

myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

In [69]:
# 'tuple'을 출력하세요
myTuple[0]

'tuple'

In [70]:
# 3을 출력하세요
myTuple[1][2]

3

In [72]:
# 4,5를 출력하세요
myTuple[2][0:2]

[4, 5]

In [76]:
# [4,5,6]을 출력하세요
myTuple[2][:3]

[4, 5, 6]

In [ ]:
# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )

In [ ]:
# '7'이 있는지 확인하세요

In [ ]:
# '7'의 인덱스를 출력하세요.

In [82]:
# '7'이 몇 개 있는지 확인하세요
print(myTuple.count('7'))

1

In [77]:
# 인데스 2번를 출력하세요
print((myTuple[2]))

8

In [79]:
# 인데스 2번에서 최대값을 출력하세요
print((max(myTuple[2])))

8

In [ ]:
# 인데스 2번에서 최소값을 출력하세요

In [ ]:
# 인데스 2번에서 총합을 출력하세요

In [80]:
# 인데스 2번에서 평균을 출력하세요
import numpy as np
print(np.mean(myTuple[2]))

6.0

In [81]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
print(sorted(myTuple[2],reverse=True))

[8, 7, 6, 5, 4]

In [92]:
# Set -- 중복데이터가 없다. 순서가 없으므로 인덱스가 없다 + 집합 연산

# 원소가 없는 set인 s를 만드세요
# s에 원소 'sky'와 'earth'를 추가하세요
# s에 1,2 두 원소를 추가하세요
# s에서 'sky'를 삭제하세요

A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합을 출력
# 두 집합의 교집합을 출력
# A의 B에 대한 차집합
# 대칭차집합
# C가 A의 부분집합인지 확인
# A가 C를 포함하는지 확인

# 집합 B의 길이를 출력
# 집합 B의 최대값 출력
# 집합 B의 최소값 출력m
# 집합 B의 합을 출력
# 집합 B의 평균출력
# 집합 B의 내림차순 출력
# 집합 B에 5가 포함되어 있는지 확인

In [85]:
# s = {}  딕셔너리가 우선순위로 만들어진다.
s = set()

In [89]:
s.add('earth') #set 은 add
s.add('sky')

In [90]:
s.update({1,2})
s

{1, 2, 'earth', 'sky'}

In [91]:
s.remove('sky')
s

{1, 2, 'earth'}

In [94]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [96]:
A.intersection(B)

{1, 2, 3}

In [97]:
A.difference(B)

{4, 5, 6}

In [99]:
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

In [100]:
C.issubset(A)

True

In [101]:
A.issuperset(C)

True

In [102]:
len(A)

6

In [103]:
max(A)

6

In [104]:
min(A)

1

In [105]:
sum(A)

21

In [108]:
# mean(A)         #오류
# np.mean(A)      #오류
np.mean(list(A))

3.5

In [109]:
sorted(A, reverse= True)

[6, 5, 4, 3, 2, 1]

In [110]:
5 in A

True

In [149]:
# Dictionary 

# 'mydict'라는 딕셔너리를 만드세요.
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
# key에 'blue'가 있는지 확인하세요.
# mydict의 길이를 출력하세요.
# 'red'의 값을 출력하세요.
# 'red'의 값을 10으로 수정하세요.
# key값만 출력하세요
# value값만 출력하세요
# key와 value를 튜플로 출력하세요.
# (key기준으로 정렬하세요.)
# (value기준으로 정렬하세요)
# key 'blue'요소를 삭제하세요
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
# value에 20이 있는지 확인하세요.
# key는 'yellow'에 value는 30을 추가하세요.
# yourdict = {'파랑':50, '빨강':70}을 합하세요..

In [150]:
d= {}

In [151]:
d['red'] = 4
d

{'red': 4}

In [152]:
d['blue'] = 3     # 없는 key값을 대입하면, 원소가 추가됨
d['green'] = 1
d

{'red': 4, 'blue': 3, 'green': 1}

In [153]:
d["red"]= 7      # 있는 key값을 대입하면, 기존의 값을 덮어쓴다.
d

{'red': 7, 'blue': 3, 'green': 1}

In [154]:
'blue' in d

True

In [155]:
len(d)

3

In [156]:
d['red']

7

In [157]:
d['red'] = 10
d

{'red': 10, 'blue': 3, 'green': 1}

In [158]:
d.keys()

dict_keys(['red', 'blue', 'green'])

In [159]:
d.values()

dict_values([10, 3, 1])

In [160]:
d.items()

dict_items([('red', 10), ('blue', 3), ('green', 1)])

In [162]:
sorted(d.items(),key=lambda x:x[0])  #딕셔너리 정렬 많이 사용하지는 않음

[('blue', 3), ('green', 1), ('red', 10)]

In [163]:
sorted(d.items(),key=lambda x:x[1])

[('green', 1), ('blue', 3), ('red', 10)]

In [165]:
del d["blue"]

In [136]:
d

{'red': 10, 'green': 1}

In [137]:
d['red']

10

In [139]:
# d.get('key') - 없는 key를 요청 시 에러를 발생시키지 않는다.
# dict['key'] - 없는 키-> 에러발생
# dict.setdefault('key', value) - key가 존재하면 value를 리턴 , 없는 key라면 (Key, value) 원소를 추가


d.get('pink') #오류 안남

In [141]:
d.setdefault('red', 100)

10

In [142]:
d.setdefault('pink', 100)

100

In [143]:
d

{'red': 10, 'green': 1, 'pink': 100}

In [144]:
10 in d.values()

True

In [146]:
d['yellow']=30
d

{'red': 10, 'green': 1, 'pink': 100, 'yellow': 30}

In [148]:
yourdict = {'파랑':50, '빨강':70}
d.update(yourdict)
d

{'red': 10, 'green': 1, 'pink': 100, 'yellow': 30, '파랑': 50, '빨강': 70}