In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
# Q.문제
# 국가별 매출
# 월별 매출
# 매출 상위 10개 품목
# 각 구매가 최초 구매로부터 얼마의 개월이 지났는지를 계산..(단위 : 월) 
# 어느 월에 구매한 고객(집단)이 retention(재구매)이 높은가?

In [42]:
df = pd.read_csv('./data/OnlineRetail.csv')
df.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [44]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [45]:
df['total'] = df['Quantity'] * df['UnitPrice']
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [47]:
df['InvoiceDate']= pd.to_datetime(df['InvoiceDate'])

In [48]:
# 국가별 매출

In [49]:
df.groupby('Country')['total'].sum()

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
Name: total, dtype: float64

In [50]:
# 월별 매출

In [61]:
# 날짜형으로 변경 후 strftime('')
df['YM'] = df['InvoiceDate'].astype('datetime64')
df['YM'] = df['YM'].apply(lambda date : date.strftime('%Y-%m'))

In [62]:
df.groupby('YM')['total'].sum()

YM
2010-12     748957.020
2011-01     560000.260
2011-02     498062.650
2011-03     683267.080
2011-04     493207.121
2011-05     723333.510
2011-06     691123.120
2011-07     681300.111
2011-08     682680.510
2011-09    1019687.622
2011-10    1070704.670
2011-11    1461756.250
2011-12     433668.010
Name: total, dtype: float64

In [63]:
# 매출 상위 10개 품목

In [64]:
df.groupby('StockCode')['Quantity'].sum()  # 음수인 값 존재

StockCode
10002           1037
10080            495
10120            193
10123C           -13
10123G           -38
                ...
gift_0001_20      20
gift_0001_30      37
gift_0001_40       3
gift_0001_50       4
m                  1
Name: Quantity, Length: 4070, dtype: int64

In [67]:
df['Quantity'] = df['Quantity'].apply(lambda x : 0 if x<0 else x)
df['Quantity'].unique()

array([    6,     8,     2,    32,     3,     4,    24,    12,    48,
          18,    20,    36,    80,    64,    10,   120,    96,    23,
           5,     1,     0,    50,    40,   100,   192,   432,   144,
         288,    16,     9,   128,    25,    30,    28,     7,    56,
          72,   200,   600,   480,    14,    11,    33,    13,    70,
         252,    60,   216,   384,    27,    15,    22,    19,    17,
          21,    34,    47,   108,    52,    75,   270,    42,   240,
          90,   320,  1824,   204,    69,   160,  2880,  1400,    39,
          26,  1440,    31,    82,    78,    97,    98,    35,    57,
         110,   720,   156,   324,    38,    37,    49,    95,    29,
          41,   402,   378,   150,   300,    54,   104,    67,   258,
          66,    44,    55,    46,    99,    61,   408,   972,   208,
        1008,  1000,  1488,   250,  1394,   400,    79,    84,   272,
         113,    45,   106,    68,   267,   115,    65,  1728,    53,
          76,   460,    71,    43,   213,    58,   576,  2400,   500,
         180,   752,   960,  1296,   210,   172,   215,   129,   138,
         116,   135,   197,   147,   168,   256,   860,  1010,  1356,
        1284,   186,   114,   360,  1930,  2000,  3114,  1300,   670,
         111,   211,    59,   176,   648,    62, 74215,    89,    73,
         112,   456,  5568,  2560,   136,   900,   130,  2592,   420,
         800,   101,  1200,   864,    94,  1287,   504,   123,   118,
        1056,  1500,   280,   407,   141,   124,    51,  3906,   102,
        1152,   198,   117,    86,   125,   140,   228,    81,  3000,
         219,   232,   170,   768,    88,   700,  2160,   342,   304,
         167,   640,   175,   220,    74,    93,   164,   163,    63,
         637,   122,   158,   165,   350,    83,   312,   392,   330,
         151,   462,   492,   273,    85,   105,  1350,   428,   336,
         132,   227,  2700,   222,   246,   906,   756,   888,   552,
         224,   738,   608,  4300,   146,   143,   276,  4000,  1600,
         323,  1515,   660,   264,   188,   588,   612,   152,   430,
          87,   155,   701,   828,   540,   696,   560,   121,   512,
        3100,   126,   291,  3186,   109,   261,   352,   142,   107,
         348,  1900,   157,   425,   968,   684,   824,   196,   248,
         410,   236,   230,   145,   448,   245,   171,   840,   225,
         750,   682,   344,   450,   310,   494,    92,  1788,   624,
         744,   416,   496,   396,   306,  1878,  1944,   666,   708,
        1428,   852,  1412,   528,   183,  1540,   672,    91,   255,
         468,  4800,   912,  1992,   184,   148,   832,   992,   630,
        1020,  2100,   162,   314,   370,   131,   133,   484,   149,
         153,   257,   139,   137,   628,   179,  1820,   478,   335,
         253,   242,   375,   281,   193,   181,   404,   244,   207,
         199,  1130,   326,   654,   688,   268,   249,   234,   279,
         374,   212, 12540,   760,   774,  2040,  1120,    77,   177,
         490,   388,   620,  1404,   205,   698, 80995], dtype=int64)

In [70]:
df.groupby('StockCode')['Quantity'].sum().sort_values(ascending= False)[:10]

StockCode
23843     80995
23166     78033
22197     56921
84077     55047
85099B    48478
85123A    41664
84879     36461
21212     36419
23084     31722
22492     26633
Name: Quantity, dtype: int64

In [ ]:
# 어느 월에 구매한 고객(집단)이 retention(재구매)이 높은가?