In [2]:
import pandas as pd
import numpy

In [3]:
df = pd.DataFrame({'음수': ['-1','-5','-10']})
df

    음수
0   -1
1   -5
2  -10

In [9]:
# 앞에 문자열 '-'가 붙어있으면 -> - 빼서 숫자형으로 바꾸고(pd.to_numeric) -1을 곱해준다
# 앞에 문자열 '-'가 없으면 -> 숫자형으로 바꾼다(pd.to_numeric)
df['음수'].apply(lambda x: pd.to_numeric(x[1:])*(-1) if x[0]== '-' else pd.to_numeric(x))

0    -1
1    -5
2   -10
Name: 음수, dtype: int64