In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../data_ml/heart_failure_clinical_records_dataset.csv')
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [7]:
df.nunique()

age                          47
anaemia                       2
creatinine_phosphokinase    208
diabetes                      2
ejection_fraction            17
high_blood_pressure           2
platelets                   176
serum_creatinine             40
serum_sodium                 27
sex                           2
smoking                       2
time                        148
DEATH_EVENT                   2
dtype: int64

In [6]:
# 결측치 확인
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

y = df.DEATH_EVENT
x = df.drop(columns = 'DEATH_EVENT')

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=111)

In [10]:
# 모델 선택
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [11]:
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier

In [32]:
log = LogisticRegression()
knn = KNeighborsClassifier()
svc = SVC()
tree = DecisionTreeClassifier()
model1= [log, knn, svc, tree]

rfc= RandomForestClassifier()
xgb= XGBClassifier()
lgbm = LGBMClassifier()

model2 = [rfc, xgb, lgbm]

In [33]:
from sklearn.metrics import classification_report,roc_auc_score, f1_score

In [34]:

model= [log, knn, tree,rfc, xgb, lgbm]  # svc 오류
for m in model:
    m.fit(x_train,y_train)
    preds = m.predict(x_test)
    
    pro = m.predict_proba(x_test)
    
    f1 = f1_score(y_test, preds)
    roc_auc = roc_auc_score(y_test, pro[:,1])
    
    print(m.__class__.__name__)
    print('f1_score : ', f1)
    print('roc_auc : ', roc_auc)
    print('-'* 50)

LogisticRegression
f1_score :  0.8095238095238095
roc_auc :  0.9224441833137486
--------------------------------------------------
KNeighborsClassifier
f1_score :  0.25
roc_auc :  0.5752056404230317
--------------------------------------------------
DecisionTreeClassifier
f1_score :  0.7555555555555555
roc_auc :  0.8019976498237368
--------------------------------------------------
RandomForestClassifier
f1_score :  0.7999999999999999
roc_auc :  0.9553466509988249
--------------------------------------------------
[10:54:43] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGBClassifier
f1_score :  0.7727272727272727
roc_auc :  0.9353701527614571
--------------------------------------------------
LGBMClassifier
f1_score :  0.8444444444444444
roc_auc :  0.9377203290246768
--------------------------------------------------

C:\Users\bitcamp\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\bitcamp\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [18]:
## scale

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [26]:
for m in model:
    m.fit(x_train_scaled,y_train)
    preds = m.predict(x_test_scaled)
    
    pro = m.predict_proba(x_test_scaled)
    
    f1 = f1_score(y_test, preds)
    roc_auc = roc_auc_score(y_test, pro[:,1])
    
    print(m.__class__.__name__)
    print('f1_score : ', f1)
    print('roc_auc : ', roc_auc)
    print('-'* 50)

LogisticRegression
f1_score :  0.8571428571428571
roc_auc :  0.9212690951821386
--------------------------------------------------
KNeighborsClassifier
f1_score :  0.5142857142857143
roc_auc :  0.8513513513513513
--------------------------------------------------
DecisionTreeClassifier
f1_score :  0.7441860465116279
roc_auc :  0.7937720329024677
--------------------------------------------------
RandomForestClassifier
f1_score :  0.8571428571428571
roc_auc :  0.9623971797884842
--------------------------------------------------
[10:44:10] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGBClassifier
f1_score :  0.7727272727272727
roc_auc :  0.9294947121034077
--------------------------------------------------
LGBMClassifier
f1_score :  0.8260869565217391
roc_auc :  0.9435957696827263
--------------------------------------------------

C:\Users\bitcamp\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [29]:
# 이상치 제거

In [35]:
# 전체 데이터에서 이상치 확인을 어떻게 하지??
from scipy.stats import skew

In [36]:
df.apply(lambda x :skew(x))

age                         0.420937
anaemia                     0.276863
creatinine_phosphokinase    4.440689
diabetes                    0.332251
ejection_fraction           0.552593
high_blood_pressure         0.623583
platelets                   1.454975
serum_creatinine            4.433610
serum_sodium               -1.042870
sex                        -0.623583
smoking                     0.766479
time                        0.127161
DEATH_EVENT                 0.766479
dtype: float64

In [38]:
#

In [37]:
x_train['creatinine_phosphokinase']

278    1051
218    1021
128     248
35      582
184     145
       ...
118     113
169     835
275     582
86       47
212     224
Name: creatinine_phosphokinase, Length: 239, dtype: int64

In [28]:
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [30]:
# gridSearch
# -> 모델들마다의 parameter의 대략적인 값이 가늠이 안간다

In [31]:
from sklearn.model_selection import GridSearchCV
model_p = [log,lgbm,rfc ]

In [ ]:
params_log = {'c'= [0.001,0.01,0.1,1,10,100]}
params_lgbm = {'learning_rate'= [0.01,0.05,0.1],'max_depth'= [] }
params_rfc = {}