# 기술적분석

* 거래량이 실린 매집봉 다수 출현(시가총액대비 거래대금)
* 십자가 캔들 즉 캔들자체의 위아래크기가 크지 않을경우
* 

* 상승시: 60일선 볼린저밴드하단 만났을때 매수 120일선 볼린저밴드 하단만난 다음날 매도
* 하락시 : 120일선 볼린저 상단 만난다음날 매수, 60일선 볼린저밴드 상단만난 다음날 매도

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import FinanceDataReader as fdr

## 고려산업

In [3]:
df_go = fdr.DataReader('002140')
df_go

            Open  High   Low  Close   Volume    Change
Date
1998-03-17  2303  2303  2240   2241    15890       NaN
1998-03-18  2303  2340  2240   2241    25060  0.000000
1998-03-19  2122  2303  2122   2185    13600 -0.024989
1998-03-20  2147  2240  2147   2185    18810  0.000000
1998-03-21  2184  2440  2178   2328    32040  0.065446
...          ...   ...   ...    ...      ...       ...
2022-05-03  8210  8330  7120   7460  8871723  0.009472
2022-05-04  7290  7300  6250   6400  4591582 -0.142091
2022-05-06  6320  6630  5910   6540  3513515  0.021875
2022-05-09  6360  7100  6330   7100  5357957  0.085627
2022-05-10  6920  7550  6420   6680  8119978 -0.059155

[6000 rows x 6 columns]