# 카테고리별 기사에 라벨부여하기

In [64]:
import pandas as pd
import numpy as np
import os
import re

In [66]:
path = './data/1차뉴스분류2/'
cate_list = os.listdir(path)
cate_list

['labeled_news_0.csv']

In [67]:
# 파일리스트
path = './data/1차뉴스분류2/'
cate_list = os.listdir(path)
for cate in cate_list[:1]:
    print(cate)
    file_path = os.path.join(path, cate)
    file_list = os.listdir(file_path)
    
    for file in file_list:
        print(file)

labeled_news_0.csv

NotADirectoryError: [WinError 267] 디렉터리 이름이 올바르지 않습니다: './data/1차뉴스분류2/labeled_news_0.csv'

In [30]:
len(df)

235

In [68]:
# 지수 데이터
stock_path = './data/변동률/'
stock_list = os.listdir(stock_path)

for sto in stock_list:
    print(sto)
    data_concat = pd.DataFrame()
    stock = pd.read_csv(stock_path+sto,index_col=0)
    stock['label'] = stock['전일비'].apply(lambda x : 1 if x > 1 else (0 if x >= -1 else -1))

광고_지수.csv
반도체와반도체장비_지수.csv
석유와가스_지수.csv
자동차_지수.csv
조선_지수.csv
철강_지수.csv

# 작동코드

In [36]:
pd.read_csv('./data/1차뉴스분류/commodities/뉴스분류_commodities_news_commodities_1_1.csv.csv',index_col=0).head()

,date,news_oil,news_ship,news_sc,news_steel,news_vh,news_others
0,"<span>Apr 15, 2022 04:50PM ET</span>",NaN,NaN,NaN,NaN,NaN,NEW YORK (Reuters) - Net foreign inflows into ...
1,"<span>Apr 15, 2022 04:30PM ET</span>",NaN,NaN,NaN,NaN,NaN,(Reuters) - A sharp rebound in automotive outp...
2,"<span>Apr 15, 2022 12:35AM ET</span>",NaN,NaN,NaN,NaN,NaN,BEIJING (Reuters) -Growth in new home prices i...
3,"<span>Apr 14, 2022 02:00PM ET</span>",NaN,NaN,NaN,NaN,NaN,By Lucia Mutikani\nWASHINGTON (Reuters) - U.S....
4,"<span>Apr 14, 2022 11:41AM ET</span>",By Timothy Aeppel\n(Reuters) - Through most of...,NaN,NaN,NaN,NaN,NaN

In [60]:
# stock_list , df 칼럼 설정해줘야함

# 파일리스트
path = './data/1차뉴스분류/'
cate_list = os.listdir(path)

# 지수 데이터
stock_path = './data/변동률/'
stock_list = os.listdir(stock_path)

# 광고_지수.csv 반도체와반도체장비_지수.csv 석유와가스_지수.csv 자동차_지수.csv 조선_지수.csv 철강_지수.csv

# 지수데이터 1% 이상 +1, -1% 이하 -1, 0

for sto in stock_list[5:6]:  # 바꿔줘야함
    print(sto)
    data_concat = pd.DataFrame()
    stock = pd.read_csv(stock_path+sto,index_col=0)
    stock['label'] = stock['전일비'].apply(lambda x : 1 if x > 1 else (0 if x >= -1 else -1))
    
    # 분류된뉴스
    
    for cate in cate_list:
        print(cate)
        file_path = os.path.join(path, cate)
        file_list = os.listdir(file_path)

        for file in file_list:
            print(file)
            df = pd.read_csv(file_path+'/'+file, index_col=0)
            df = df[['date','news_steel']]  # 바꿔줘야함
            df.dropna(inplace=True)
            df['date'] = df['date'].astype(str).str.strip('<span>').str.strip('</span>')
            df['date'] = df['date'].str.replace('\n','').str.replace('—','')
            df['date'] = df['date'].apply(lambda x: re.findall('\(([^)]+)',x)[0] if re.findall('\(([^)]+)',x) else x )
            df['date'] = pd.to_datetime(df['date'].astype(str),utc=True)#.astype(str).apply(lambda x: x[:10]).astype('datetime64')
            df['labeldate'] = (df['date'] + np.timedelta64(13,'h')).apply(lambda x : x+ np.timedelta64(1,'D') if x.hour >= 7 else x).apply(lambda x:str(x)[:10])

            temp = pd.merge(df, stock[['Date','label']], how = 'left', left_on = 'labeldate', right_on = 'Date')

            temp.dropna(inplace=True)
            data_concat = pd.concat([data_concat,temp], ignore_index=True)
            
    data_concat.drop_duplicates(inplace=True)
    data_concat.sort_values(by='Date',inplace=True)
    data_concat.reset_index(drop=True,inplace=True)
    data_concat.to_csv('./data/라벨데이터_final/'+sto)

철강_지수.csv
commodities
뉴스분류_commodities_news_commodities_1_1.csv.csv
뉴스분류_commodities_news_commodities_1_2.csv.csv
뉴스분류_commodities_news_commodities_2_1.csv.csv
뉴스분류_commodities_news_commodities_2_2.csv.csv
economic_indicator
뉴스분류_economic_indicators_news_economy_indicators_1_1.csv.csv
뉴스분류_economic_indicators_news_economy_indicators_1_2.csv.csv
뉴스분류_economic_indicators_news_economy_indicators_2_1.csv.csv
뉴스분류_economic_indicators_news_economy_indicators_2_2.csv.csv
economy
뉴스분류_economy_news_economy_1_1.csv.csv
뉴스분류_economy_news_economy_1_2.csv.csv
뉴스분류_economy_news_economy_2_1.csv.csv
뉴스분류_economy_news_economy_2_2.csv.csv
forex
뉴스분류_forex-news_news_forex_1_1.csv.csv
뉴스분류_forex-news_news_forex_1_2.csv.csv
뉴스분류_forex-news_news_forex_2_1.csv.csv
뉴스분류_forex-news_news_forex_2_2.csv.csv
politics
뉴스분류_politics_news_politics_1_1.csv.csv
뉴스분류_politics_news_politics_1_2.csv.csv
뉴스분류_politics_news_politics_2_1.csv.csv
뉴스분류_politics_news_politics_2_2.csv.csv
stock-market
뉴스분류_stock-market-news_news_stock-market_1_1.csv.csv
뉴스분류_stock-market-news_news_stock-market_1_2.csv.csv
뉴스분류_stock-market-news_news_stock-market_2_1.csv.csv
뉴스분류_stock-market-news_news_stock-market_2_2.csv.csv
world-news
뉴스분류_world-news_news_world_1_1.csv.csv
뉴스분류_world-news_news_world_1_2.csv.csv
뉴스분류_world-news_news_world_2_1.csv.csv
뉴스분류_world-news_news_world_2_2.csv.csv

# 결과 확인

## 기타

In [62]:
temp1 = pd.read_csv('./data/라벨데이터_final/광고_지수.csv',index_col=0)
print(len(temp1))
temp1.head()

10116

,date,news_others,labeldate,Date,label
0,2022-04-14 14:00:00+00:00,By Lucia Mutikani\nWASHINGTON (Reuters) - U.S....,2022-04-15,2022-04-15,0.0
1,2022-04-14 11:05:00+00:00,(Reuters) - U.S. consumer sentiment rebounded ...,2022-04-15,2022-04-15,0.0
2,2022-04-14 08:53:00+00:00,By Geoffrey Smith \nInvesting.com -- U.S. reta...,2022-04-15,2022-04-15,0.0
3,2022-04-14 07:02:00+00:00,(Reuters) - Profits at Ma Hong's spicy hotpot ...,2022-04-15,2022-04-15,0.0
4,2022-04-13 23:05:00+00:00,(Reuters) - U.S. consumer credit and debit car...,2022-04-15,2022-04-15,0.0

## 반도체

In [50]:
temp2 = pd.read_csv('./data/라벨데이터_final/반도체와반도체장비_지수.csv',index_col=0)
print(len(temp2))
temp2

99

,date,news_sc,labeldate,Date,label
0,2020-09-08 04:50:00+00:00,LONDON (Reuters) - The number of merger and ac...,2020-09-09,2020-09-09,-1.0
1,2020-09-24 00:36:00+00:00,(Bloomberg) -- Euro-zone banks are gearing up ...,2020-09-25,2020-09-25,-1.0
2,2021-04-21 20:10:00+00:00,"By Diane Bartz, Stephen Nellis and Paresh Dave...",2021-04-23,2021-04-23,0.0
3,2021-07-08 11:11:00+00:00,By Fabian Cambero\nSANTIAGO (Reuters) - The ec...,2021-07-09,2021-07-09,-1.0
4,2021-08-17 16:45:00+00:00,By Jonathan Stempel\nNEW YORK (Reuters) - The ...,2021-08-18,2021-08-18,1.0
...,...,...,...,...,...
94,2022-04-13 15:46:00+00:00,By Sam Boughedda\nInvesting.com -- Nvidia Corp...,2022-04-14,2022-04-14,-1.0
95,2022-04-13 16:27:00+00:00,By Yasin Ebrahim\nInvesting.com -- The Dow clo...,2022-04-14,2022-04-14,-1.0
96,2022-04-13 13:02:00+00:00,LONDON (Reuters) - Crypto lender Nexo said it ...,2022-04-14,2022-04-14,-1.0
97,2022-04-14 09:50:00+00:00,By Francesca Landini and Valentina Za\nMILAN (...,2022-04-15,2022-04-15,-1.0
98,2022-04-14 14:27:00+00:00,GDANSK (Reuters) - A board member of Polish vi...,2022-04-15,2022-04-15,-1.0

In [22]:
temp2['date'][-5:]

3453    2021-10-28 07:00:00+00:00
3454    2021-10-28 04:31:00+00:00
3455    2021-10-27 18:18:00+00:00
3456    2021-10-27 11:46:00+00:00
3457    2021-10-27 08:46:00+00:00
Name: date, dtype: object

## 석유와가스

In [53]:
temp3 = pd.read_csv('./data/라벨데이터_final/석유와가스_지수.csv',index_col=0)
temp3

,date,news_oil,labeldate,Date,label
0,2019-10-17 14:21:00+00:00,Investing.com – Turkish assets rose Thursday a...,2019-10-18,2019-10-18,0.0
1,2019-10-21 15:36:00+00:00,(Bloomberg) -- Explore what’s moving the globa...,2019-10-22,2019-10-22,0.0
2,2019-10-28 15:08:00+00:00,Investing.com - U.K. Prime Minister Boris John...,2019-10-29,2019-10-29,0.0
3,2019-11-04 00:24:00+00:00,Investing.com - The British Pound was little c...,2019-11-05,2019-11-05,0.0
4,2019-11-06 20:16:00+00:00,By Jonathan Cable\nLONDON (Reuters) - Sterling...,2019-11-08,2019-11-08,0.0
...,...,...,...,...,...
2780,2022-04-16 18:05:00+00:00,FRANKFURT (Reuters) - The European Union's for...,2022-04-18,2022-04-18,0.0
2781,2022-04-17 11:25:00+00:00,By Kanishka Singh\nWASHINGTON (Reuters) -Ukrai...,2022-04-18,2022-04-18,0.0
2782,2022-04-17 06:05:00+00:00,By Panu Wongcha-um\nBANGKOK (Reuters) - Ramada...,2022-04-18,2022-04-18,0.0
2783,2022-04-17 20:21:00+00:00,(Reuters) - Ukraine has completed a questionna...,2022-04-19,2022-04-19,0.0
2784,2022-04-17 21:18:00+00:00,By Oleksandr Kozhukhar and Alessandra Prentice...,2022-04-19,2022-04-19,0.0

## 자동차

In [55]:
temp4 = pd.read_csv('./data/라벨데이터_final/자동차_지수.csv',index_col=0)
temp4

,date,news_vh,labeldate,Date,label
0,2020-08-26 08:36:00+00:00,(Bloomberg) -- U.S. orders for durable goods r...,2020-08-27,2020-08-27,-1.0
1,2020-09-10 04:00:00+00:00,By Yilei Sun and Brenda Goh\nBEIJING (Reuters)...,2020-09-11,2020-09-11,0.0
2,2020-09-16 10:30:00+00:00,WASHINGTON (Reuters) - U.S. business inventori...,2020-09-17,2020-09-17,1.0
3,2020-09-16 08:40:00+00:00,By Geoffrey Smith \nInvesting.com -- U.S. reta...,2020-09-17,2020-09-17,1.0
4,2020-09-17 02:10:00+00:00,BERLIN (Reuters) - European car registrations ...,2020-09-18,2020-09-18,-1.0
...,...,...,...,...,...
291,2022-04-13 18:35:00+00:00,BERLIN (Reuters) - Mercedes-Benz aims to produ...,2022-04-15,2022-04-15,0.0
292,2022-04-14 11:25:00+00:00,By James Oliphant\nWASHINGTON (Reuters) - Elon...,2022-04-15,2022-04-15,0.0
293,2022-04-14 10:25:00+00:00,WASHINGTON (Reuters) - U.S. business inventori...,2022-04-15,2022-04-15,0.0
294,2022-04-16 21:47:15+00:00,"In a court filing out late Friday, shareholder...",2022-04-18,2022-04-18,1.0
295,2022-04-16 19:10:00+00:00,By Hyunjoo Jin\nSAN FRANCISCO (Reuters) - A fe...,2022-04-18,2022-04-18,1.0

## 조선

In [57]:
temp5 = pd.read_csv('./data/라벨데이터_final/조선_지수.csv',index_col=0)
temp5

,date,news_ship,labeldate,Date,label
0,2021-10-13 20:00:00+00:00,WASHINGTON (Reuters) - U.S. lawmakers on Wedne...,2021-10-15,2021-10-15,0
1,2021-11-24 00:20:00+00:00,By Guy Faulconbridge\nLONDON (Reuters) - Barba...,2021-11-25,2021-11-25,0
2,2021-11-30 12:01:00+00:00,By Mike Stone\nWASHINGTON (Reuters) - U.S. Pre...,2021-12-01,2021-12-01,0
3,2022-02-14 18:01:00+00:00,(Reuters) - The U.S. Coast Guard was searching...,2022-02-16,2022-02-16,0
4,2022-03-14 12:06:00+00:00,BERLIN (Reuters) -Germany will buy 35 U.S. F-3...,2022-03-15,2022-03-15,0
5,2022-03-16 11:02:00+00:00,(Reuters) -The Pentagon will request 61 F-35 s...,2022-03-17,2022-03-17,0
6,2022-03-24 07:56:00+00:00,MILAN (Reuters) - As Europe steps up its milit...,2022-03-25,2022-03-25,0
7,2022-04-05 16:50:00+00:00,WASHINGTON (Reuters) - U.S. President Joe Bide...,2022-04-06,2022-04-06,0

## 철강

In [61]:
temp6 = pd.read_csv('./data/라벨데이터_final/철강_지수.csv',index_col=0)
temp6

Empty DataFrame
Columns: [date, news_steel, labeldate, Date, label]
Index: []