# 추천시스템_사용자기반

* 콘텐츠 기반 필터링<br>
<br>
* 협업 필터링
1. 최근접 이웃 기반 협업필터링<br>
(1)사용자 기반<br>
(2)아이템 기반 -- 더많이 사용<br>
2. 잠재요인 협업 필터링 - 행렬변환

In [1]:
# 사용자 평점
# 명시적 : 영화평점, 상품 평점, 좋아요, 리뷰..
# 암시적 : 조회, 구매, 방문수, 머문 시간..

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
movies = pd.read_csv('./data/movie.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [5]:
ratings = pd.read_csv('./data/rating.csv')
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [6]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
dtypes: float64(1), int64(2), object(1)
memory usage: 610.4+ MB

# 사용자 기반

In [7]:
merge_df = pd.merge(movies, ratings, on='movieId')
merge_df

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,2009-01-02 01:13:41
...,...,...,...,...,...,...
20000258,131254,Kein Bund für's Leben (2007),Comedy,79570,4.0,2015-03-30 19:32:59
20000259,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,79570,4.0,2015-03-30 19:48:08
20000260,131258,The Pirates (2014),Adventure,28906,2.5,2015-03-30 19:56:32
20000261,131260,Rentun Ruusu (2001),(no genres listed),65409,3.0,2015-03-30 19:57:46
20000262,131262,Innocence (2014),Adventure|Fantasy|Horror,133047,4.0,2015-03-30 20:39:26

In [8]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000263 entries, 0 to 20000262
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   title      object
 2   genres     object
 3   userId     int64
 4   rating     float64
 5   timestamp  object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.0+ GB

In [14]:
ratings['movieId'] = ratings['movieId'].astype('int16')
ratings['userId'] = ratings['userId'].astype('int16')
ratings['rating'] = ratings['rating'].astype('int16')

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_10232/4128383457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['movieId'] = ratings['movieId'].astype('int16')
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_10232/4128383457.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['userId'] = ratings['userId'].astype('int16')
C:\Users\bitcamp\AppData\Local\Temp/ipykernel_10232/4128383457.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['rating'] = ratings['rating'].astype('int16')

In [15]:
ratings = merge_df[['movieId','userId','rating']]
rating_matrix = ratings.pivot_table(index = 'userId', columns = 'movieId', values='rating')

ValueError: Unstacked DataFrame is too big, causing int32 overflow

## 메모리 문제로 피클파일로 대체

In [17]:
import pickle
with open('./data/ratings_matrix.pickle','rb') as f:
    ratings_matrix = pickle.load(f)

In [18]:
# 사용자평점 매트릭스 - 사용자 기반 추천 시스템
# sparse matrix - 사용자가 직접 본 영화의 수는 제한적이다

ratings_matrix

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
ratings_matrix = ratings_matrix.fillna(0)
ratings_matrix.head()

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# 고객님과 유사한 사용자가 다음의 콘텐츠도 구매하였습니다.
# 로맨스물의 평점이 낫다면

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

user_sim = cosine_similarity(ratings_matrix)
user_sim

array([[1.        , 0.10325045, 0.26204582, ..., 0.05736163, 0.09347382,
        0.21888057],
       [0.10325045, 1.        , 0.18012391, ..., 0.01682863, 0.05519785,
        0.04520944],
       [0.26204582, 0.18012391, 1.        , ..., 0.05965044, 0.10166481,
        0.17261861],
       ...,
       [0.05736163, 0.01682863, 0.05965044, ..., 1.        , 0.53484607,
        0.0294181 ],
       [0.09347382, 0.05519785, 0.10166481, ..., 0.53484607, 1.        ,
        0.03368423],
       [0.21888057, 0.04520944, 0.17261861, ..., 0.0294181 , 0.03368423,
        1.        ]])

In [26]:
user_sim.shape

(706, 706)

In [30]:
user_sim_sort = user_sim.argsort(axis=1)[:,::-1]
user_sim_sort

array([[  0, 146, 387, ..., 512, 433, 209],
       [  1, 664,  77, ..., 531, 304, 191],
       [  2, 474, 133, ..., 512, 383, 463],
       ...,
       [703,  25, 704, ...,  91, 322, 352],
       [704, 514,  25, ..., 512, 526, 112],
       [705, 573, 669, ..., 124, 286, 457]], dtype=int64)

In [54]:
user_sim[0].argsort()[::-1]

array([  0, 146, 387, 231, 293, 491,  90, 426, 439, 484, 647,  57, 456,
       366, 429, 237, 613, 131, 593, 303, 369, 636, 371, 219,  24,  95,
       411, 585, 507, 520, 253, 408, 487, 412,  20,   2, 358, 545, 570,
       282, 283, 204, 629, 313, 270, 161, 420, 319, 599, 315, 154, 669,
       339, 461, 435, 689, 263, 630, 151, 346, 661, 580, 277, 424, 210,
       123, 421, 312, 386,  49,  76, 305, 317, 586, 577, 699, 393, 671,
        10, 251, 115, 294, 576, 101,  53, 525,  68,  82, 214, 553, 472,
       687, 240, 203, 446, 705, 378, 658, 414, 252, 499, 133, 111, 465,
       535, 136, 536, 635, 167, 236, 284, 649,  89, 662, 688, 634, 207,
       342, 156, 360, 450, 663, 550, 609,  98, 542, 560, 543, 701, 468,
       533,  47, 246, 401, 129, 169, 608, 356, 515, 350, 511, 633, 470,
       108, 644, 343,  81, 478, 297, 632, 648, 502, 539, 571, 188, 583,
        23, 155,  87, 397, 650, 390,  59, 336, 654, 132, 244,  77, 423,
       269, 264, 334, 166, 625, 140, 556,  75, 509, 603, 557, 605, 353,
       103, 410,  34, 114,  71, 530,  72, 566, 298, 316, 239, 627, 477,
       357, 193, 674, 338, 616, 431, 152,  66,  42, 548, 495, 554,  97,
       266, 320,  41, 195, 489, 447, 597, 595, 375,  50, 651, 376, 573,
       257, 374, 238, 288, 631, 310, 675, 189, 454,  55, 504,  54, 197,
        30,  46, 503, 474, 384,  60, 559, 234, 128, 681, 271, 679, 341,
       684, 139, 134,  21, 377, 289, 135, 579, 399, 691, 430, 153, 473,
       106, 278, 130,   4, 174, 265, 392,  43,   9, 379, 458, 601, 202,
       175, 206, 448, 594, 702, 250, 409, 422,  73, 247, 569, 677, 522,
       488, 664, 212, 178,  22, 325, 534, 150, 372, 261, 311, 564, 441,
       653, 698, 276, 109, 483, 581, 172, 693, 162, 563, 480, 587,  91,
       170, 592, 274, 380, 217, 667, 120, 618, 359, 388, 486, 638, 381,
       565, 692, 518, 642,   6, 493, 672, 117,  99, 363,  19, 259, 628,
       279,  13, 657, 531, 352, 258, 660, 344, 481, 544, 444, 180, 262,
       226, 368,   1, 475, 519,  78, 646, 205, 218, 567, 514, 220,  48,
       308, 299, 402, 304, 394, 367, 606, 201, 345,  26, 425, 620, 314,
       578, 467, 622, 185, 415, 347, 248, 704, 575,  25,  31, 510, 179,
       163, 665, 621, 272, 460, 513,  85, 457, 551, 469, 280, 572,  12,
       416, 149, 666, 440, 228, 443, 574, 361,  52, 267, 232, 547, 588,
       462, 348,  28, 281,  70, 617, 245, 295, 184, 199, 383,  56, 221,
       137,  80, 417, 382,  64, 211, 656, 321, 296,  69, 148, 191, 395,
       322,  84, 538, 637, 683, 287, 452, 291, 434, 494, 255, 449, 498,
       641, 143, 256, 405, 242, 119, 552, 398, 200,  62, 215,  58, 694,
       141, 329, 225, 602, 400,  86, 406, 562, 331, 100, 171, 241, 419,
       568, 364, 223,  88, 126, 173, 432, 182, 655, 160, 659, 286,  63,
       604, 362, 124, 194, 157, 624, 186, 451, 676, 354, 340, 107,   8,
       118, 330, 696, 413,  17,   7, 529, 187, 333, 584,  74, 471, 224,
       230,  27, 183, 619, 703, 695,  45, 243, 404, 645,  38, 213, 626,
       541, 682, 159, 549, 482, 233,  65, 351, 527, 318, 326, 164, 365,
       168, 610, 105, 697, 516, 208, 464,  11, 496, 479, 508, 555, 497,
       116, 337, 235, 335,  39, 455, 104, 125, 216, 590,  15, 373, 196,
       598, 302, 323,  32, 700,  79, 652, 490, 309, 428, 524,  51, 685,
       190, 485,  14, 611,  83, 260,  93,  29, 142,  33,  94, 680,  61,
       102, 147,  44, 582, 192,  35, 668, 532, 327, 385, 324, 437, 355,
       176,  67, 418, 521, 275, 686, 138,  16, 623, 273, 506, 177, 438,
       690,   5,   3, 436, 670, 561, 229, 332, 268, 306, 407, 222, 501,
       127,  40, 600, 466,  37, 144, 589, 110, 349,  96, 540, 158, 612,
       505, 391,  92, 517, 254, 546, 165, 526, 181, 640, 678, 328,  18,
       591, 639, 249, 403, 528, 301, 492, 145, 615, 396, 523,  36, 389,
       558, 476, 300, 307, 596, 500, 290, 673, 198, 285, 121, 113, 427,
       537, 459, 643, 227, 614, 463, 607, 292, 370, 122, 453, 445, 442,
       112, 512, 433, 209], dtype=int64)

In [32]:
user_sim_sort[10][1:11] # 유사도가 높은 사용자 상위 10명

array([421, 387, 658, 491, 231, 293, 366, 484, 570, 270], dtype=int64)

In [34]:
user_sim_sort[10]

array([ 10, 421, 387, 658, 491, 231, 293, 366, 484, 570, 270, 636, 585,
       634, 115, 151, 429, 257, 439, 461, 699, 577, 317, 456,  95, 238,
       688, 420, 263, 411, 408, 204,  90,  89, 210, 423, 613, 146, 123,
       545, 219, 264, 629, 315, 533, 358, 253, 312, 336, 468, 284, 360,
       136, 431, 507, 369, 576, 246, 520, 342, 661, 571, 519, 426, 316,
       536, 642, 647, 630, 188,  23, 277, 535,  30, 648, 297, 379, 487,
       414, 130,  34, 236, 550, 346, 313, 446, 303, 560, 603, 586, 515,
       412, 488, 203, 282, 473, 465,  24, 435, 557, 305, 655, 627, 556,
       148, 669, 481, 343,  57,  53, 162, 237,  68, 386, 502, 608, 134,
        42, 511, 239, 128, 474,  25, 377, 287, 701,  97, 663, 155, 618,
         0, 367, 443, 514, 258,  49, 539, 470, 547, 310, 319, 704, 154,
       525, 563, 450, 542,   7, 109,   2, 659,  76, 153, 592,   4, 460,
       504, 133,  12, 452, 132, 448, 193,  60,  46, 633,  77, 580, 214,
       205, 400, 250,  33, 283, 106, 664, 185, 649, 424, 108, 499,   6,
       161, 413, 215, 156, 135, 593, 174, 131, 207, 478, 224, 534, 417,
       199, 228,  63, 675, 233, 338, 609, 119, 587, 213, 430, 464,  28,
       353, 685, 632, 569, 532, 581, 189,  31, 567, 114, 220, 247, 163,
       378, 259,  11, 314, 139, 436, 671, 480, 697,  59, 650, 241, 599,
       458, 472, 126, 101, 388, 622, 692, 202, 434, 368, 590, 118, 657,
       351, 311,  74, 553, 631, 295, 326,  13, 129, 393, 625,  71, 454,
       242, 278, 167, 265, 398, 495, 566,  14, 245, 559,  92, 405, 397,
       240,  21, 157, 206, 684, 248,  75, 348, 666, 689, 496, 653, 332,
       294, 662, 530, 182, 588, 509, 339,  87, 286, 644,  20, 145, 654,
       380, 152, 187, 635, 184, 376, 392, 251, 677,  64, 382, 641, 390,
       683, 573,  81, 394, 201, 166, 291, 687,  50,  27,  83, 234, 331,
       449, 703, 229, 221, 673, 232, 508, 616, 522, 583, 308, 273, 371,
       399, 137, 341,  17, 217, 120, 543, 333, 578,  51, 244, 445, 601,
       111, 602, 158, 100, 159, 260, 328, 356, 285, 330, 494, 141, 183,
         1, 164, 555,  99,  26,  66, 262, 175, 171, 475, 357, 298, 266,
       503, 271, 230, 329, 127, 383, 531,  98, 415, 396, 682, 432,  55,
       626,  85, 660,  65, 691, 107, 544, 401, 195, 178, 350, 269, 698,
       289, 610, 320, 422, 363, 444, 554, 140, 327, 362, 170, 389, 276,
       194, 552, 538, 235,  69,  47, 549, 335, 604, 437, 693,  54,  48,
       665, 637,  72, 169, 467, 451, 186, 638, 568,  82, 679, 104, 347,
       548, 457, 272, 551,   9,  67, 176, 466, 477, 498, 574, 584, 482,
       600,  41,  22, 621,  38, 620, 364,  70, 447, 471, 355, 279, 374,
       700,  37,  43, 179, 462, 440, 705, 497, 212, 274, 672, 288,   3,
       318, 619,  16, 218, 606, 676, 197, 296, 611, 595, 102,  88, 589,
       254, 605, 517, 180, 354, 409, 334, 172, 103, 365, 694,  45, 670,
       489, 211, 591, 116, 208, 223, 375, 651, 681, 150, 306,  86, 702,
       513,  96, 486, 541, 680, 410, 324, 483, 438, 352, 667, 117, 280,
       252, 516, 523, 381,  29, 125, 147, 299, 191, 418, 256, 384, 416,
       359, 674, 628, 582,  78, 490, 579, 597, 529, 395,  61, 138, 372,
       695, 302, 142, 537, 493, 143,   8, 249,  19, 505, 173, 615, 402,
       623, 200, 373, 243, 344, 639, 594, 598,  39,  80, 617,  79, 546,
        15, 124, 323, 526, 406, 425,  18, 281, 696,   5, 572,  40,  56,
       304, 113, 307,  32,  73, 646, 575, 562, 485, 656, 419,  52, 455,
       301, 309, 268,  44, 564, 500, 227, 325, 391, 196, 292, 345, 168,
        62, 645, 149, 321, 255, 668, 160,  84, 428,  94,  91, 596, 686,
       192, 652, 528, 690, 290,  93,  58, 565, 527, 190, 181, 385, 612,
       110, 678, 558, 441, 518, 349, 479, 453, 209, 561, 225, 337, 226,
       540, 442, 105, 300, 261, 427, 510, 469, 524, 216, 433, 165, 198,
       361, 501, 340, 607,  35, 404, 222, 177, 112, 614, 476, 322, 640,
       643, 506,  36, 492, 144, 122, 267, 521, 403, 121, 370, 459, 463,
       512, 275, 624, 407], dtype=int64)

In [36]:
# 유사도가 높은 사용자 상위 10명의 영화 평점 데이터
df = ratings_matrix.loc[user_sim_sort[10][1:11]]
df

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
421,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
387,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0
658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
491,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
293,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
484,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
# 10번 사용자와 유사도가 높은 사용자들의 영화별 평점합의 순위

df.sum().sort_values(ascending =False)[:5]

title
Silence of the Lambs, The (1991)    23.0
Schindler's List (1993)             22.0
Babe (1995)                         21.5
Usual Suspects, The (1995)          21.5
Crimson Tide (1995)                 21.0
dtype: float64

## 함수화

In [70]:
import pickle
with open('./data/ratings_matrix.pickle','rb') as f:
    ratings_matrix = pickle.load(f)
    
ratings_matrix = ratings_matrix.fillna(0)
    
def sim_user_based_recomm(ratings_matrix,user_id, n_top=10):
    user_sim = cosine_similarity(ratings_matrix)
    user_sim_sort = user_sim[user_id].argsort()[::-1]
    df = ratings_matrix.loc[user_sim_sort[1:11]]
    return df.sum().sort_values(ascending =False)[:5]

In [71]:
sim_user_based_recomm(ratings_matrix,30 )

title
Star Wars: Episode IV - A New Hope (1977)    25.0
Forrest Gump (1994)                          25.0
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)    23.5
Speed (1994)                                 22.5
Shawshank Redemption, The (1994)             22.0
dtype: float64

## 함수화2- 봤던 영화 제외

In [72]:
def seen_movies(user_id):
    movie_list = ratings_matrix.iloc[user_id]
    seen_movies = movie_list[ratings_matrix.iloc[user_id]>0]
    return seen_movies.index

In [73]:
seen_movies(30)

Index(['50 First Dates (2004)', 'AVP: Alien vs. Predator (2004)',
       'Aladdin (1992)', 'Alien (1979)',
       'Anchorman: The Legend of Ron Burgundy (2004)',
       'Aristocats, The (1970)', 'Atlantis: The Lost Empire (2001)',
       'Back to the Future (1985)', 'Bend It Like Beckham (2002)',
       'Blade II (2002)',
       ...
       'To Kill a Mockingbird (1962)', 'Toy Story (1995)',
       'Transporter, The (2002)', 'Tuxedo, The (2002)', 'U-571 (2000)',
       'Underworld (2003)', 'Whale Rider (2002)', 'X-Men (2000)',
       'X2: X-Men United (2003)', 'Zoolander (2001)'],
      dtype='object', name='title', length=110)

In [74]:
import pickle
with open('./data/ratings_matrix.pickle','rb') as f:
    ratings_matrix = pickle.load(f)
    
ratings_matrix = ratings_matrix.fillna(0)
    
def sim_user_based_recomm(ratings_matrix,user_id, n_top=10):
    seen_movie_list = seen_movies(user_id)
    user_sim = cosine_similarity(ratings_matrix)
    user_sim_sort = user_sim[user_id].argsort()[::-1][:n_top*5]
    df = ratings_matrix.loc[user_sim_sort]
    
    unseen_movie_list = set(df.index).difference(set(seen_movie_list))
    
    df= df.loc[unseen_movie_list]
    
    return df.sum().sort_values(ascending =False)[:5]

In [75]:
sim_user_based_recomm(ratings_matrix, 30, n_top=10)

title
Forrest Gump (1994)                                  91.5
Star Wars: Episode VI - Return of the Jedi (1983)    85.5
Usual Suspects, The (1995)                           85.0
Star Wars: Episode IV - A New Hope (1977)            84.5
Matrix, The (1999)                                   84.0
dtype: float64

# 아이템 기반 이웃 협업 필터링

In [ ]:
# 사용자 평점이 유사한 영화들 간의 유사도 계산

In [76]:
ratings_matrix.head()

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
item_sim = cosine_similarity(ratings_matrix.T, ratings_matrix.T)
item_sim

array([[1.        , 0.        , 0.15260952, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.1665596 , ..., 0.24029835, 0.11793055,
        0.        ],
       [0.15260952, 0.1665596 , 1.        , ..., 0.08100095, 0.        ,
        0.15974555],
       ...,
       [0.        , 0.24029835, 0.08100095, ..., 1.        , 0.11634214,
        0.06914028],
       [0.        , 0.11793055, 0.        , ..., 0.11634214, 1.        ,
        0.03116184],
       [0.        , 0.        , 0.15974555, ..., 0.06914028, 0.03116184,
        1.        ]])

In [79]:
item_sim.shape

(6033, 6033)

In [83]:
item_sim_df = pd.DataFrame(item_sim, index=ratings_matrix.columns, columns = ratings_matrix.columns)
item_sim_df.head(3)

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
'Round Midnight (1986),1.00000,0.00000,0.15261,0.492366,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
'Til There Was You (1997),0.00000,1.00000,0.16656,0.000000,0.195713,0.272587,0.0,0.000000,0.084340,0.0,...,0.0,0.727607,0.0,0.000000,0.727607,0.260432,0.0,0.240298,0.117931,0.000000
"'burbs, The (1989)",0.15261,0.16656,1.00000,0.075140,0.061574,0.271571,0.0,0.079698,0.160866,0.0,...,0.0,0.228914,0.0,0.084723,0.228914,0.081935,0.0,0.081001,0.000000,0.159746

In [85]:
item_sim_df['Godfather, The (1972)'].sort_values(ascending=False)[:10]

title
Godfather, The (1972)                                                             1.000000
Godfather: Part II, The (1974)                                                    0.790856
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.594407
Goodfellas (1990)                                                                 0.579041
One Flew Over the Cuckoo's Nest (1975)                                            0.572015
Star Wars: Episode V - The Empire Strikes Back (1980)                             0.553038
American Beauty (1999)                                                            0.541356
Fargo (1996)                                                                      0.536309
Jaws (1975)                                                                       0.534448
Star Wars: Episode IV - A New Hope (1977)                                         0.532203
Name: Godfather, The (1972), dtype: float64

In [86]:
item_sim_df['American Beauty (1999)'].sort_values(ascending=False)[:10]

title
American Beauty (1999)         1.000000
Fight Club (1999)              0.652579
Matrix, The (1999)             0.633489
Sixth Sense, The (1999)        0.632110
Being John Malkovich (1999)    0.609449
Memento (2000)                 0.602434
Pulp Fiction (1994)            0.596003
L.A. Confidential (1997)       0.585838
Saving Private Ryan (1998)     0.570148
American History X (1998)      0.564581
Name: American Beauty (1999), dtype: float64

# 영화의 유사도와 사용자 평점을 함께 고려한 영화 추천

In [88]:
ratings_matrix.head()

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
ratings_matrix.mean()

title
'Round Midnight (1986)            0.005666
'Til There Was You (1997)         0.009915
'burbs, The (1989)                0.068697
'night Mother (1986)              0.019830
*batteries not included (1987)    0.029037
                                    ...
Zulu (1964)                       0.023371
Zus & Zo (2001)                   0.004958
eXistenZ (1999)                   0.170680
xXx (2002)                        0.091360
¡Three Amigos! (1986)             0.117564
Length: 6033, dtype: float64

In [91]:
# 영화의 유사도 점수에 해당 영화의 평점을 곱한 것

item_co_pro = item_sim_df * (ratings_matrix.mean())
item_co_pro.head()

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
'Round Midnight (1986),0.005666,0.000000,0.010484,0.009764,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000
'Til There Was You (1997),0.000000,0.009915,0.011442,0.000000,0.005683,0.010811,0.0,0.000000,0.017860,0.000000,...,0.0,0.003092,0.0,0.000000,0.002061,0.006087,0.0,0.041014,0.010774,0.00000
"'burbs, The (1989)",0.000865,0.001651,0.068697,0.001490,0.001788,0.010771,0.0,0.001242,0.034064,0.000000,...,0.0,0.000973,0.0,0.012060,0.000648,0.001915,0.0,0.013825,0.000000,0.01878
'night Mother (1986),0.002790,0.000000,0.005162,0.019830,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000
*batteries not included (1987),0.000000,0.001941,0.004230,0.000000,0.029037,0.000000,0.0,0.000000,0.075868,0.006058,...,0.0,0.000000,0.0,0.008781,0.000000,0.004822,0.0,0.032954,0.008962,0.00000

In [92]:
item_co_pro['Godfather, The (1972)'].sort_values(ascending=False)[:10]

title
Godfather, The (1972)                                                             1.226629
Godfather: Part II, The (1974)                                                    0.970087
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.729117
Goodfellas (1990)                                                                 0.710268
One Flew Over the Cuckoo's Nest (1975)                                            0.701651
Star Wars: Episode V - The Empire Strikes Back (1980)                             0.678372
American Beauty (1999)                                                            0.664043
Fargo (1996)                                                                      0.657852
Jaws (1975)                                                                       0.655570
Star Wars: Episode IV - A New Hope (1977)                                         0.652815
Name: Godfather, The (1972), dtype: float64

### 개인화된 아이템 기반 협업 필터링

In [98]:
ratings_matrix.head(3)

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
item_sim_df.head(3)

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
'Round Midnight (1986),1.00000,0.00000,0.15261,0.492366,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
'Til There Was You (1997),0.00000,1.00000,0.16656,0.000000,0.195713,0.272587,0.0,0.000000,0.084340,0.0,...,0.0,0.727607,0.0,0.000000,0.727607,0.260432,0.0,0.240298,0.117931,0.000000
"'burbs, The (1989)",0.15261,0.16656,1.00000,0.075140,0.061574,0.271571,0.0,0.079698,0.160866,0.0,...,0.0,0.228914,0.0,0.084723,0.228914,0.081935,0.0,0.081001,0.000000,0.159746

In [94]:
# user의 평점점수와 영화의 유사도 점수를 곱하고 더해서 나온 값
# user가 높은 평점을 준 영화에 대해서 특정 영화가 높은 유사도를 가지면 높은 점수가 부여
# 큰값(유저의 특정 영화에 대한 평점)과 큰값(해당 영화가 높은평점의 영화와 유사도)이 곱해져 큰값 나온다

ratings_matrix.dot(item_sim_df)

title,'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),10 (1979),10 Things I Hate About You (1999),100 Girls (2000),...,Zero de conduite (Zero for Conduct) (Zéro de conduite: Jeunes diables au collège) (1933),Zeus and Roxanne (1997),Ziggy Stardust and the Spiders from Mars (1973),Zoolander (2001),"Zorro, the Gay Blade (1981)",Zulu (1964),Zus & Zo (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000000,61.627322,82.917222,12.003437,67.492651,65.713528,20.708418,21.471593,102.202892,34.035989,...,11.128175,60.913769,53.124646,98.474456,60.913769,51.361531,20.708418,112.886068,86.992591,85.619318
2,0.695790,32.634416,32.262569,3.872422,22.019339,27.561104,7.002709,7.042433,34.509237,11.215892,...,2.480639,33.784732,11.823643,28.282579,33.784732,18.647497,7.002709,42.340220,27.641211,30.713436
3,1.961977,92.841600,114.435961,23.063319,81.691875,87.664629,20.991625,31.371245,128.348472,35.695748,...,12.791102,88.103594,45.257612,106.188645,88.103594,62.622795,20.991625,143.204075,93.214240,129.122996
4,0.000000,9.232312,12.815158,0.044005,10.634545,10.223605,1.593772,5.065291,16.415071,4.516712,...,2.041163,9.164781,4.124406,15.958069,9.164781,7.268055,1.593772,14.122179,14.652875,12.151721
5,0.000000,25.872919,37.888849,6.723122,31.859171,26.677719,7.434255,14.600556,50.090643,12.876935,...,7.204042,23.272222,14.680662,42.562613,23.272222,20.757025,7.434255,40.441877,37.023753,37.399801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,3.545639,204.600227,359.581626,41.640627,156.744140,197.682481,68.410042,203.879359,288.898841,59.380598,...,37.305935,207.690948,115.630927,323.901236,207.690948,147.575254,68.410042,301.376523,230.350370,283.665584
703,0.000000,16.365276,21.166549,7.063501,13.365672,16.324583,8.442380,6.707890,23.358950,4.741128,...,5.408261,16.669556,10.123941,22.271674,16.669556,12.236958,8.442380,26.529963,18.535402,24.307785
704,0.000000,17.828304,22.826097,1.295353,19.026225,19.181357,5.262921,7.171617,31.616520,8.284441,...,1.714525,16.891008,7.856742,27.125880,16.891008,13.219116,5.262921,24.711116,23.282558,22.197480
705,0.000000,25.307519,32.201940,3.670441,27.511919,28.265842,7.462521,11.896235,41.724355,13.326578,...,3.684788,23.831050,10.063806,38.528716,23.831050,18.602966,7.462521,37.815199,34.244895,31.561732
706,0.000000,26.128138,36.702548,5.217511,22.606183,23.945208,4.331146,7.683155,35.581327,8.143295,...,2.592911,25.421348,18.953347,27.813495,25.421348,17.422731,4.331146,32.463465,27.546409,32.765125