In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('./data/기상청ASOS관측.csv',index_col=0)
df.head()

,지점 번호,관측지점,시간,평균 기온,최저 기온,최저 기온 시각,최고 기온,최대 기온 시각,10분 최다 강수량,10분 최다강수량 시각,...,0.5m 지중온도,1.0m 지중온도,1.5m 지중온도,3.0m 지중온도,5.0m 지중온도,합계 대형증발량,합계 소형증발량,9-9강수,일기현상,안개 계속 시간
0,105,강릉,1980-01-01,3.0,-0.4,714,7.0,1549.0,NaN,NaN,...,6.1,9.1,11.4,15.0,15.4,NaN,0.9,2.6,{비}2218-{비}{강도0}2400-,NaN
1,105,강릉,1980-01-02,6.0,3.5,207,8.4,1500.0,NaN,NaN,...,6.7,9.0,11.1,14.8,15.5,NaN,1.5,1.4,-{비}-{비}{강도0}0300-{비}{강도0}0600-{비}{강도0}0900-{비...,NaN
2,105,강릉,1980-01-03,7.5,4.1,1810,12.8,1330.0,NaN,NaN,...,6.8,9.0,11.0,14.8,15.3,NaN,2.2,NaN,NaN,NaN
3,105,강릉,1980-01-04,4.1,-0.8,2356,6.8,1206.0,NaN,NaN,...,7.0,9.1,11.0,14.7,15.5,NaN,1.8,1.5,{비}1406-{싸락눈}1437-{진눈깨비}1450-{진눈깨비}{강도0}1500-{...,NaN
4,105,강릉,1980-01-05,-0.8,-3.9,746,4.3,1224.0,NaN,NaN,...,7.3,9.1,10.8,14.7,15.4,NaN,2.0,NaN,NaN,NaN

In [8]:
df.columns

Index(['지점 번호', '관측지점', '시간', '평균 기온', '최저 기온', '최저 기온 시각', '최고 기온',
       '최대 기온 시각', '10분 최다 강수량', '10분 최다강수량 시각', '1시간 최다강수량', '1시간 최다 강수량 시각',
       'sumRnDur', '일강수량', '최대 순간풍속', '최대 순간 풍속 풍향', '최대 순간풍속 시간', '최대 풍속',
       '최대 풍속 풍향', '최대 풍속 시각', '평균 풍속', '풍정합', '최대 풍향', '평균 이슬점온도', '최소 상대습도',
       '평균 상대습도 시각', '평균 상대습도', '평균 증기압', '평균 현지기압', '최고 해면 기압', '최고 해면기압 시각',
       '최저 해면기압', '최저 해면기압 시각', '평균 해면기압', '가조시간', '합계 일조 시간', '1시간 최다 일사량 시각',
       '1시간 최다 일사량', '합계 일사', '일 최심신적설', '일 최심신적설 시각', '일 최심적설', '일 최심적설 시각',
       '합계 3시간 신적설', '평균 전운량', '평균 중하층운량', '평균 지면온도', '최저 초상온도', '평균 5cm 지중온도',
       '평균10cm 지중온도', '평균 20cm 지중온도', '평균 30cm 지중온도', '0.5m 지중온도', '1.0m 지중온도',
       '1.5m 지중온도', '3.0m 지중온도', '5.0m 지중온도', '합계 대형증발량', '합계 소형증발량', '9-9강수',
       '일기현상', '안개 계속 시간'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176586 entries, 0 to 365
Data columns (total 62 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   지점 번호          176586 non-null  int64
 1   관측지점           176586 non-null  object
 2   시간             176586 non-null  object
 3   평균 기온          176581 non-null  float64
 4   최저 기온          176584 non-null  float64
 5   최저 기온 시각       176586 non-null  int64
 6   최고 기온          176583 non-null  float64
 7   최대 기온 시각       176584 non-null  float64
 8   10분 최다 강수량     44432 non-null   float64
 9   10분 최다강수량 시각   33429 non-null   float64
 10  1시간 최다강수량      44421 non-null   float64
 11  1시간 최다 강수량 시각  33543 non-null   float64
 12  sumRnDur       67858 non-null   float64
 13  일강수량           70401 non-null   float64
 14  최대 순간풍속        176561 non-null  float64
 15  최대 순간 풍속 풍향    176559 non-null  float64
 16  최대 순간풍속 시간     176561 non-null  float64
 17  최대 풍속          176571 non-null  float64
 18  최대 풍속 풍향       176571 non-null  float64
 19  최대 풍속 시각       176573 non-null  float64
 20  평균 풍속          176555 non-null  float64
 21  풍정합            176552 non-null  float64
 22  최대 풍향          176371 non-null  float64
 23  평균 이슬점온도       176581 non-null  float64
 24  최소 상대습도        176581 non-null  float64
 25  평균 상대습도 시각     176582 non-null  float64
 26  평균 상대습도        176577 non-null  float64
 27  평균 증기압         176576 non-null  float64
 28  평균 현지기압        176572 non-null  float64
 29  최고 해면 기압       176571 non-null  float64
 30  최고 해면기압 시각     176578 non-null  float64
 31  최저 해면기압        176567 non-null  float64
 32  최저 해면기압 시각     176577 non-null  float64
 33  평균 해면기압        176573 non-null  float64
 34  가조시간           176581 non-null  float64
 35  합계 일조 시간       176490 non-null  float64
 36  1시간 최다 일사량 시각  147010 non-null  float64
 37  1시간 최다 일사량     147012 non-null  float64
 38  합계 일사          152696 non-null  float64
 39  일 최심신적설        6938 non-null    float64
 40  일 최심신적설 시각     6586 non-null    float64
 41  일 최심적설         10878 non-null   float64
 42  일 최심적설 시각      10725 non-null   float64
 43  합계 3시간 신적설     6914 non-null    float64
 44  평균 전운량         170388 non-null  float64
 45  평균 중하층운량       169981 non-null  float64
 46  평균 지면온도        176567 non-null  float64
 47  최저 초상온도        176569 non-null  float64
 48  평균 5cm 지중온도    133896 non-null  float64
 49  평균10cm 지중온도    133852 non-null  float64
 50  평균 20cm 지중온도   133910 non-null  float64
 51  평균 30cm 지중온도   133899 non-null  float64
 52  0.5m 지중온도      133906 non-null  float64
 53  1.0m 지중온도      133910 non-null  float64
 54  1.5m 지중온도      109605 non-null  float64
 55  3.0m 지중온도      109603 non-null  float64
 56  5.0m 지중온도      109596 non-null  float64
 57  합계 대형증발량       96662 non-null   float64
 58  합계 소형증발량       142474 non-null  float64
 59  9-9강수          61584 non-null   float64
 60  일기현상           114903 non-null  object
 61  안개 계속 시간       11290 non-null   float64
dtypes: float64(57), int64(2), object(3)
memory usage: 84.9+ MB

In [4]:
# 자외선 데이터 지역1개

df_u = pd.read_csv('./data/자외선B_일최대값.csv',encoding='cp949')
df_u.head()

           일자  자외선 B 일최고값  Unnamed: 2
0  1999-01-01         NaN         NaN
1  1999-01-02         NaN         NaN
2  1999-01-03         NaN         NaN
3  1999-01-04         NaN         NaN
4  1999-01-05         NaN         NaN

In [10]:
df_u.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8034 entries, 0 to 8033
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일자          8034 non-null   object
 1   자외선 B 일최고값  7604 non-null   float64
 2   Unnamed: 2  0 non-null      float64
dtypes: float64(2), object(1)
memory usage: 188.4+ KB

In [ ]:
df_1 = pd.merge()

In [8]:
df['관측지점'].unique()

array(['강릉', '춘천', '울릉도', '광주', '대구', '대전', '부산', '서울', '전주', '제주', '청주',
       '백령도'], dtype=object)

In [ ]:
# 서울,경기도 : 서울
# 강원도 : 강릉, 춘천
# 충청남도 : 대전
# 충청북도 : 청주
# 전라북도 : 전주
# 전라남도 : 광주
# 경상북도 : 대구
# 경상남도 : 부산
# 제주도 : 제주

In [ ]:
## 구제역




## 조류 인플루엔자




## 산불