In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/산불_2003_2021.csv',index_col=0)
df.head()

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인,피해면적_합계
0,2021,12,30,14:57,목,2021,12,30,17:30,경북,봉화,명호,양곡,주택화재비화,0.50
1,2021,12,30,11:16,목,2021,12,30,12:30,충북,청주,오송,상봉,원인미상,0.40
2,2021,12,29,14:20,수,2021,12,29,17:30,경남,남해,창선,가인,원인미상,0.50
3,2021,12,29,13:53,수,2021,12,29,16:10,전남,순천,NaN,대룡,쓰레기소각,0.03
4,2021,12,29,05:47,수,2021,12,29,12:00,전남,완도,완도,장좌,입산자실화,0.10

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8204 entries, 0 to 3394
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   발생일시_년     8204 non-null   int64
 1   발생일시_월     8204 non-null   int64
 2   발생일시_일     8204 non-null   int64
 3   발생일시_시간    8204 non-null   object
 4   발생일시_요일    8204 non-null   object
 5   진화종료시간_년   8204 non-null   int64
 6   진화종료시간_월   8204 non-null   int64
 7   진화종료시간_일   8204 non-null   int64
 8   진화종료시간_시간  8204 non-null   object
 9   발생장소_시도    8204 non-null   object
 10  발생장소_시군구   8204 non-null   object
 11  발생장소_읍면    7886 non-null   object
 12  발생장소_동리    6779 non-null   object
 13  발생원인       8167 non-null   object
 14  피해면적_합계    8204 non-null   float64
dtypes: float64(1), int64(6), object(8)
memory usage: 1.0+ MB

In [4]:
df.isnull().sum()

발생일시_년          0
발생일시_월          0
발생일시_일          0
발생일시_시간         0
발생일시_요일         0
진화종료시간_년        0
진화종료시간_월        0
진화종료시간_일        0
진화종료시간_시간       0
발생장소_시도         0
발생장소_시군구        0
발생장소_읍면       318
발생장소_동리      1425
발생원인           37
피해면적_합계         0
dtype: int64

In [5]:
# 날짜 합치기 위해 자료형(int->str) 바꾸기
df[['발생일시_년','발생일시_월','발생일시_일','진화종료시간_년','진화종료시간_월','진화종료시간_일']] =df[['발생일시_년','발생일시_월','발생일시_일','진화종료시간_년','진화종료시간_월','진화종료시간_일']].astype(str)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8204 entries, 0 to 3394
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   발생일시_년     8204 non-null   object
 1   발생일시_월     8204 non-null   object
 2   발생일시_일     8204 non-null   object
 3   발생일시_시간    8204 non-null   object
 4   발생일시_요일    8204 non-null   object
 5   진화종료시간_년   8204 non-null   object
 6   진화종료시간_월   8204 non-null   object
 7   진화종료시간_일   8204 non-null   object
 8   진화종료시간_시간  8204 non-null   object
 9   발생장소_시도    8204 non-null   object
 10  발생장소_시군구   8204 non-null   object
 11  발생장소_읍면    7886 non-null   object
 12  발생장소_동리    6779 non-null   object
 13  발생원인       8167 non-null   object
 14  피해면적_합계    8204 non-null   float64
dtypes: float64(1), object(14)
memory usage: 1.0+ MB

In [7]:
df['발생일시'] = df['발생일시_년']+'-'+ df['발생일시_월']+'-'+ df['발생일시_일']
df['발생일시']

0       2021-12-30
1       2021-12-30
2       2021-12-29
3       2021-12-29
4       2021-12-29
           ...
3390      2006-1-2
3391      2006-1-2
3392      2006-1-3
3393      2006-1-3
3394      2006-1-3
Name: 발생일시, Length: 8204, dtype: object

In [8]:
df['진화종료일시'] = df['진화종료시간_년']+'-'+ df['진화종료시간_월']+'-'+ df['진화종료시간_일']
df['진화종료일시']

0       2021-12-30
1       2021-12-30
2       2021-12-29
3       2021-12-29
4       2021-12-29
           ...
3390      2006-1-2
3391      2006-1-2
3392      2006-1-3
3393      2006-1-3
3394      2006-1-3
Name: 진화종료일시, Length: 8204, dtype: object

In [9]:
# 발생장소 발생장소_시도	발생장소_시군구	발생장소_읍면	발생장소_동리

df['발생장소'] = df['발생장소_시도'] + ' '+ df['발생장소_시군구']
df['발생장소']

0       경북 봉화
1       충북 청주
2       경남 남해
3       전남 순천
4       전남 완도
        ...
3390    경남 마산
3391    대구 달서
3392    경북 칠곡
3393    경북 칠곡
3394    경북 영덕
Name: 발생장소, Length: 8204, dtype: object

In [10]:
df.head()

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인,피해면적_합계,발생일시,진화종료일시,발생장소
0,2021,12,30,14:57,목,2021,12,30,17:30,경북,봉화,명호,양곡,주택화재비화,0.50,2021-12-30,2021-12-30,경북 봉화
1,2021,12,30,11:16,목,2021,12,30,12:30,충북,청주,오송,상봉,원인미상,0.40,2021-12-30,2021-12-30,충북 청주
2,2021,12,29,14:20,수,2021,12,29,17:30,경남,남해,창선,가인,원인미상,0.50,2021-12-29,2021-12-29,경남 남해
3,2021,12,29,13:53,수,2021,12,29,16:10,전남,순천,NaN,대룡,쓰레기소각,0.03,2021-12-29,2021-12-29,전남 순천
4,2021,12,29,05:47,수,2021,12,29,12:00,전남,완도,완도,장좌,입산자실화,0.10,2021-12-29,2021-12-29,전남 완도

In [11]:
# 사용할 열 추출

df_fire = df[['발생일시','진화종료일시','발생원인','발생장소', '피해면적_합계']]
df_fire

            발생일시      진화종료일시    발생원인   발생장소  피해면적_합계
0     2021-12-30  2021-12-30  주택화재비화  경북 봉화     0.50
1     2021-12-30  2021-12-30    원인미상  충북 청주     0.40
2     2021-12-29  2021-12-29    원인미상  경남 남해     0.50
3     2021-12-29  2021-12-29   쓰레기소각  전남 순천     0.03
4     2021-12-29  2021-12-29   입산자실화  전남 완도     0.10
...          ...         ...     ...    ...      ...
3390    2006-1-2    2006-1-2   입산자실화  경남 마산     0.05
3391    2006-1-2    2006-1-2   입산자실화  대구 달서     0.02
3392    2006-1-3    2006-1-3   입산자실화  경북 칠곡    10.00
3393    2006-1-3    2006-1-3   입산자실화  경북 칠곡     3.00
3394    2006-1-3    2006-1-3   입산자실화  경북 영덕     0.80

[8204 rows x 5 columns]

In [12]:
df_fire.to_csv('./data/산불_1.csv',index=False)