In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
import FinanceDataReader as fdr

stocklst = fdr.StockListing('KRX')  # stocklst = 한국 전체 주식
stocklst.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [40]:
company_fire = [
#소방테마주
'파라텍', 
'현대에버다임',
    
'광림',   
'이엔플러스',

'오텍',
'인콘',
'한국내화'
]
print(len(company_lst1))
company_lst1

7

['파라텍', '인콘', '광림', '현대에버다임', '이엔플러스', '오텍', '한국내화']

In [41]:
company_rec = [
#환경테마주
'이건산업','한솔홈데코', '자연과환경', '아시아종묘']

print(len(company_lst2))
company_lst2

4

['이건산업', '한솔홈데코', '자연과환경', '아시아종묘']

In [45]:
codes_fire = stocklst[stocklst.Name.apply(lambda stock: stock in company_fire)].Symbol.to_list()  #Symbol = 코드
print(len(codes_fire)) # codes 의 길이가 company lst 의 길이가 같아야 정상적으로 나온거임 
codes_fire

7

['014200', '067170', '074610', '083640', '033540', '010040', '041440']

In [46]:
codes_rec = stocklst[stocklst.Name.apply(lambda stock: stock in company_rec)].Symbol.to_list()  #Symbol = 코드
print(len(codes_rec)) # codes 의 길이가 company lst 의 길이가 같아야 정상적으로 나온거임 
codes_rec

4

['154030', '008250', '043910', '025750']

In [48]:
#주가 딕셔너리에 넣기-> 유가,개별 주식간 비교에 사용

price_history = dict()

for code in codes_fire:
    df = fdr.DataReader(code,'2019-01-01', '2019-12-31')
    price_history[code]= df['Close']   # 회사코드: [과거주가 리스트] 
    
df_ = pd.DataFrame(price_history)
df_history

            014200  067170  074610  083640  033540  010040  041440
Date
2019-01-02    2495   10750    5440    7300    2240    5190    5650
2019-01-03    2495   10900    5440    6950    2188    5300    5730
2019-01-04    2555   11300    5670    7075    2148    5290    5690
2019-01-07    2535   11300    6630    7075    2188    5650    5800
2019-01-08    2540   11450    6150    7275    2216    5550    6200
...            ...     ...     ...     ...     ...     ...     ...
2019-12-23    2255   11350    7140    3600    1884    4000    4480
2019-12-24    2200   11250    7080    3488    1864    3920    4450
2019-12-26    2270   11450    7310    3588    1832    3995    4430
2019-12-27    2265   11550    7570    3713    1852    4045    4415
2019-12-30    2225   11700    7790    3725    1826    4045    4430

[246 rows x 7 columns]

In [ ]:
# 구제역 관련주
# 대체식품(수산업,닭)
: 한성기업,정다운,동우팜투테이블,사조오양, 
신라교역, 마니커, 동원산업 
신라에스지 
하림 
동원수산 
이지홀딩스
팜스토리

# 사료
한일사료

# 백신
우성사료 우진비앤지 대성미생물 

# 석회
태경비케이

In [ ]:
# ai 관련주(주로 백신) : ai가 길어지면 대체식품주 오를 수 있음

파루
제일바이오
이글벳
진원생명과학
팜스웰바이오
씨티씨바이오
대한뉴팜