In [54]:
import pandas as pd
import numpy as np
import datetime 
from datetime import datetime,timedelta

In [7]:
# 21. How to convert a series of date-strings to a timeseries?
# Difficiulty Level: L2 Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# 0   2010-01-01 00:00:00
# 1   2011-02-02 00:00:00
# 2   2012-03-03 00:00:00
# 3   2013-04-04 00:00:00
# 4   2014-05-05 00:00:00
# 5   2015-06-06 12:20:00
# dtype: datetime64[ns]

In [12]:
#21. 문자형-> 시간형
ser.apply(lambda x: pd.to_datetime(x) )

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [13]:
 #21. astype 은 사용못하나? 가능하다고 한다
ser.astype('datetime64')

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [ ]:
# 22. How to get the day of month, week number, day of year and day of week from a series of date strings?
# Difficiulty Level: L2 Get the day of month, week number, day of year and day of week from ser. Input

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Date:  [1, 2, 3, 4, 5, 6]
# Week number:  [53, 5, 9, 14, 19, 23]
# Day num of year:  [1, 33, 63, 94, 125, 157]
# Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

In [26]:
#22.
print('Date: ',ser.astype('datetime64').dt.day.tolist())
print('Week number: ', ser.astype('datetime64').dt.weekofyear.tolist())
print('Day num of year: ', ser.astype('datetime64').dt.dayofyear.tolist())
print('Day of week: ', ser.astype('datetime64').dt.dayofweek.tolist())
print('Day of week: ', ser.astype('datetime64').dt.day_name().tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  [4, 2, 5, 3, 0, 5]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

C:\Users\21ckw\AppData\Local\Temp/ipykernel_10276/142173032.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print('Week number: ', ser.astype('datetime64').dt.weekofyear.tolist())

In [59]:
# 23. How to convert year-month string to dates corresponding to the 4th day of the month?
# Difficiulty Level: L2 Change ser to dates that start with 4th of the respective months. Input

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

# Desired Output

# 0   2010-01-04
# 1   2011-02-04
# 2   2012-03-04
# dtype: datetime64[ns]

In [61]:
from dateutil.parser import parse

ser.apply(lambda x : pd.to_datetime(x))+ timedelta(days=3)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [75]:
# 24. How to filter words that contain atleast 2 vowels from a series?
# Difficiulty Level: L3 From ser, extract words that contain atleast 2 vowels. Input

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [77]:
vowel =['a','e','i','o','u','A','E','I','O','U']

for word in ser:
    count = 0
    for i in range(len(word)):
        if word[i] in vowel:
            count+=1
        else:
            pass
    if count>=2:
        print(word)

Apple
Orange
Money

In [78]:
# Solution
from collections import Counter
mask = ser.apply(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [ ]:
# 25. How to filter valid emails from a series?
# Difficiulty Level: L3 Extract the valid emails from the series emails. 
# The regex pattern for valid emails is provided as reference. Input

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [80]:
# 26. How to get the mean of a series grouped by another series?
# Difficiulty Level: L2 Compute the mean of weights of each fruit. Input

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

# # values can change due to randomness
# apple     6.0
# banana    4.0
# carrot    5.8
# dtype: float64

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'banana', 'banana', 'banana', 'banana', 'carrot', 'apple', 'carrot', 'carrot', 'banana']

In [81]:
weights.groupby(fruit).mean()

apple     7.0
banana    4.8
carrot    6.0
dtype: float64

In [83]:
# 27. How to compute the euclidean distance between two series?
# Difficiulty Level: L2 Compute the euclidean distance between series (points) p and q, without using a packaged formula. Input

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [86]:
sum((p-q)**2)**0.5

18.16590212458495

In [91]:
# 28. How to find all the local maxima (or peaks) in a numeric series?
# Difficiulty Level: L3 Get the positions of peaks (values surrounded by smaller values on both sides) in ser. Input

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# array([1, 5, 7])

In [101]:
# np.diff(ser)
# np.sign(np.diff(ser)) # 부호변화 [ 1, -1,  1,  1,  1, -1,  1, -1]
# np.diff(np.sign(np.diff(ser))) # 부호 + -> - 찾고싶음
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd==-2)[0]+1
peak_locs

array([1, 5, 7], dtype=int64)

In [102]:
# 29. How to replace missing spaces in a string with the least frequent character?
# Replace the spaces in my_str with the least frequent character. Difficiulty Level: L2 Input

my_str = 'dbc deb abed gade'