In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [145]:
df = pd.read_csv('./data_ml/advertising.csv')
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [146]:
# Q. 광고를 클릭할지 여부를 판별하는 모델을 생성:Clikced on Ad 를 예측(클릭을 한다 안한다)

In [147]:
df.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Male                        0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

In [148]:
y = df['Clicked on Ad'] # 두가지이므로 binary classification 
x= df.drop(columns=['Clicked on Ad','Timestamp','City','Ad Topic Line','Country','Area Income']) # 중요한 요소인지 파악해줘야함

In [149]:
x

     Daily Time Spent on Site  Age  Daily Internet Usage  Male
0                       68.95   35                256.09     0
1                       80.23   31                193.77     1
2                       69.47   26                236.50     0
3                       74.15   29                245.89     1
4                       68.37   35                225.58     0
..                        ...  ...                   ...   ...
995                     72.97   30                208.58     1
996                     51.30   45                134.42     1
997                     51.63   51                120.37     1
998                     55.55   19                187.95     0
999                     45.01   26                178.35     0

[1000 rows x 4 columns]

In [150]:
from sklearn.model_selection import train_test_split

In [151]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3,random_state=111)

In [152]:
from sklearn.linear_model import LogisticRegression

In [153]:
log = LogisticRegression()

In [154]:
#훈련

In [155]:
log.fit(x_train, y_train)

LogisticRegression()

In [156]:
# 예측

In [157]:
preds = log.predict(x_test)
print(preds)

[1 0 0 1 1 1 0 0 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 0 1 1 1 1 0 0 0 0 1 0 1
 1 0 0 0 0 1 1 0 1 0 0 1 1 0 1 1 1 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 1 1 0
 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 0 1 0 1 0 1 0 0 1 0 1 0 1 0 1
 1 1 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1 0 0 1 0 0 0 1 1 0 0 0 1 0 1 0 1 1 0 0
 0 1 1 0 0 1 0 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 0 1 0 0 1 0 1 1 0 1 1 1 1 1 0
 0 0 1 0 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 0 0 0 1 0 1 1 1 0 0 1 0 1 1 1 0
 1 1 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 1 1 0 1 1 0 0 1 0 1 0 1 1 1 1 1 1
 0 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 1 1 0 1 0 0 0 0 1 0 0 0 0 1 1 1 1 0 0 1
 1 1 0 0]

In [158]:
# 평가

In [159]:
from sklearn.metrics import classification_report, confusion_matrix

In [160]:
confusion_matrix(y_test,preds)

array([[140,   3],
       [ 10, 147]], dtype=int64)

In [161]:
# 의미해석 
# 클릭 
# 실제 98 , 102

# 예측 105, 95

# Accuracy = (94+91)/(94+4+11+91)
# precision = 모델이 positive 예측한값 중에 실제 postive
#           = 94/ (94+11)
# recall = 실제값이 postive 중 예측한값이 postive 
# = 94/ (94+4)

In [162]:
print(classification_report(y_test,preds)) # 행 열 순

              precision    recall  f1-score   support

           0       0.93      0.98      0.96       143
           1       0.98      0.94      0.96       157

    accuracy                           0.96       300
   macro avg       0.96      0.96      0.96       300
weighted avg       0.96      0.96      0.96       300