In [103]:
## house_price prediction 복습

In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [120]:
import warnings
warnings.filterwarnings('ignore')

In [121]:
df = pd.read_csv('./data_ml/house_price.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [122]:
# 결측치 많은 행 제거
df.isnull().sum().sort_values(ascending=False)[:6]

PoolQC         1453
MiscFeature    1406
Alley          1369
Fence          1179
FireplaceQu     690
LotFrontage     259
dtype: int64

In [123]:
# 결측치 많은 행 이름
col_name = df.isnull().sum().sort_values(ascending=False)[:6].index

In [124]:
df.drop(columns = col_name, inplace= True)

In [125]:
df.head()

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [126]:
# df.info()

In [127]:
df.nunique().sort_values(ascending=False)[:10]

Id             1460
LotArea        1073
GrLivArea       861
BsmtUnfSF       780
1stFlrSF        753
TotalBsmtSF     721
SalePrice       663
BsmtFinSF1      637
GarageArea      441
2ndFlrSF        417
dtype: int64

In [128]:
# id는 확실히 관련없음
df.drop(columns='Id',inplace=True)

In [129]:
df.isnull().sum().sort_values(ascending=False)[:10]

GarageType      81
GarageYrBlt     81
GarageFinish    81
GarageQual      81
GarageCond      81
BsmtFinType2    38
BsmtExposure    38
BsmtQual        37
BsmtCond        37
BsmtFinType1    37
dtype: int64

In [130]:
# 결측값 채우기
df.fillna(df.mean(), inplace=True)

In [131]:
df.isnull().sum().sort_values() # 안채워진값 object형-> 각 항목별로 나눠

MSSubClass        0
SaleCondition     0
HeatingQC         0
CentralAir        0
1stFlrSF          0
                 ..
BsmtExposure     38
GarageQual       81
GarageFinish     81
GarageCond       81
GarageType       81
Length: 74, dtype: int64

In [132]:
df_ohe = pd.get_dummies(df)
df_ohe.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,8450,7,5,2003,2003,196.0,706,0,150,...,0,0,0,1,0,0,0,0,1,0
1,20,9600,6,8,1976,1976,0.0,978,0,284,...,0,0,0,1,0,0,0,0,1,0
2,60,11250,7,5,2001,2002,162.0,486,0,434,...,0,0,0,1,0,0,0,0,1,0
3,70,9550,7,5,1915,1970,0.0,216,0,540,...,0,0,0,1,1,0,0,0,0,0
4,60,14260,8,5,2000,2000,350.0,655,0,490,...,0,0,0,1,0,0,0,0,1,0

In [133]:
(df_ohe.dtypes == 'object').sum()

0

In [134]:
# 가장 기본적인 모델 돌리기

In [135]:
# Linear Regression 모델을 생성하고 평가하시오...(LinearRegression, Ridge, Lasso)

In [136]:
y = df_ohe['SalePrice']
x = df_ohe.drop('SalePrice',axis=1)

In [137]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=111)

In [138]:
x_train

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
632,20,11900,7,5,1977,1977,209.0,822,0,564,...,0,0,0,1,0,0,0,1,0,0
1131,20,10712,5,5,1991,1992,0.0,212,0,762,...,0,0,1,0,1,0,0,0,0,0
789,60,12205,6,8,1966,2007,157.0,568,0,264,...,0,0,0,1,0,0,0,0,1,0
572,60,13159,7,5,2009,2009,0.0,0,0,846,...,0,1,0,0,0,0,0,0,0,1
1349,70,5250,8,5,1872,1987,0.0,259,0,425,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,50,4500,5,5,1932,2000,0.0,182,0,611,...,0,0,0,1,1,0,0,0,0,0
1299,20,7500,5,7,1959,1994,0.0,340,906,0,...,0,0,0,1,0,0,0,0,1,0
86,60,11911,6,5,2005,2005,0.0,0,0,684,...,0,0,0,1,0,0,0,0,1,0
724,20,13286,9,5,2007,2008,340.0,1234,0,464,...,0,0,0,1,0,0,0,0,1,0
876,20,25286,4,5,1963,1963,0.0,633,0,431,...,0,0,0,1,0,0,0,0,1,0

In [139]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge,Lasso
lr = LinearRegression()
rid = Ridge()
lasso = Lasso()
models = [lr, rid, lasso]

from sklearn.metrics import mean_squared_error

for m in models:
    m.fit(x_train, y_train)
    preds = m.predict(x_test)
    accuracy = m.score(x_test, y_test)   # score(,) 모델 내 값으로 계산
    rmse = np.sqrt(mean_squared_error(y_test,preds))
    
    print('--------')
    print(m.__class__.__name__)
    print('accuracy :', accuracy)
    print('rmse :', rmse)

--------
LinearRegression
accuracy : 0.8686242286516499
rmse : 30959.88258025046
--------
Ridge
accuracy : 0.8675734338668764
rmse : 31083.450608819378
--------
Lasso
accuracy : 0.8863496612419939
rmse : 28795.659711592256

In [ ]:
# scale을 조절한 후 linear model로 예측하고 모델을 평가하시오.

In [140]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [141]:
# StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [142]:
lr = LinearRegression()
rid = Ridge()
lasso = Lasso()
models = [lr, rid, lasso]

from sklearn.metrics import mean_squared_error

for m in models:
    m.fit(x_train_scaled, y_train)
    preds = m.predict(x_test_scaled)
    accuracy = m.score(x_test_scaled, y_test)   # score(,) 모델 내 값으로 계산
    rmse = np.sqrt(mean_squared_error(y_test,preds))
    
    print('--------')
    print(m.__class__.__name__)
    print('accuracy :', accuracy)
    print('rmse :', rmse)

--------
LinearRegression
accuracy : -7.77334866048082e+20
rmse : 2381473423449207.5
--------
Ridge
accuracy : 0.883576444519527
rmse : 29144.868121290325
--------
Lasso
accuracy : 0.8857446885424286
rmse : 28872.199151660574

In [143]:
# Minmaxscaler
scaler = MinMaxScaler()
scaler.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [144]:
for m in models:
    m.fit(x_train_scaled, y_train)
    preds = m.predict(x_test_scaled)
    accuracy = m.score(x_test_scaled, y_test)   # score(,) 모델 내 값으로 계산
    rmse = np.sqrt(mean_squared_error(y_test,preds))
    
    print('--------')
    print(m.__class__.__name__)
    print('accuracy :', accuracy)
    print('rmse :', rmse)

--------
LinearRegression
accuracy : -2.616121731179049e+20
rmse : 1381562827715188.5
--------
Ridge
accuracy : 0.8617274358917484
rmse : 31762.13399955038
--------
Lasso
accuracy : 0.8863743025188036
rmse : 28792.537854257793

In [145]:
# GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV