In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import requests
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler

In [9]:
df = pd.read_csv('../data/eighthr.data', header =None,index_col=0)
df

,1,2,3,4,5,6,7,8,9,10,...,64,65,66,67,68,69,70,71,72,73
0,,,,,,,,,,,,,,,,,,,,,
1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775,31.15,51.7,10195,-40,2.08,0.0
1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,?,?,?,?,?,?,?,?,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800,-25.6,21.8,10295,65,0,0.0
12/28/2004,1,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845,-19.4,19.1,10310,15,0,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.8,-0.64,5845,-9.6,35.2,10275,-35,0,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1,1.9,2,...,0.25,7.72,-0.89,5845,-19.6,34.2,10245,-30,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3,...,0.54,13.07,9.15,5820,1.95,39.35,10220,-25,0,0.0

In [26]:
df[64].value_counts()

?       125
0.03     89
0.04     84
0.02     81
0.05     78
       ...
0.83      4
0.97      4
0.93      3
0.98      3
0.99      1
Name: 64, Length: 101, dtype: int64

In [35]:
df[64].apply(lambda x : np.NaN if x=='?' else x)

0
1/1/1998      0.15
1/2/1998      0.48
1/3/1998       0.6
1/4/1998      0.49
1/5/1998       NaN
              ...
12/27/2004    0.07
12/28/2004    0.04
12/29/2004    0.06
12/30/2004    0.25
12/31/2004    0.54
Name: 64, Length: 2534, dtype: object

In [43]:
for i in range(1,len(df.columns)+1):
    # ? 대신 Nan값 채우기
    df[i] = df[i].apply(lambda x : np.NaN if x=='?' else x)
df.interpolate()

,1,2,3,4,5,6,7,8,9,10,...,64,65,66,67,68,69,70,71,72,73
0,,,,,,,,,,,,,,,,,,,,,
1/1/1998,0.8,1.8,2.4,2.1,2,2.1,1.5,1.7,1.9,2.3,...,0.15,10.67,-1.56,5795,-12.1,17.9,10330,-55,0,0.0
1/2/1998,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48,8.39,3.84,5805,14.05,29,10275,-55,0,0.0
1/3/1998,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.6,6.94,9.8,5790,17.9,41.3,10235,-40,0,0.0
1/4/1998,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49,8.73,10.54,5775,31.15,51.7,10195,-40,2.08,0.0
1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/27/2004,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07,7.93,-4.41,5800,-25.6,21.8,10295,65,0,0.0
12/28/2004,1,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04,5.95,-1.14,5845,-19.4,19.1,10310,15,0,0.0
12/29/2004,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06,7.8,-0.64,5845,-9.6,35.2,10275,-35,0,0.0
12/30/2004,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1,1.9,2,...,0.25,7.72,-0.89,5845,-19.6,34.2,10245,-30,0.05,0.0
12/31/2004,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3,...,0.54,13.07,9.15,5820,1.95,39.35,10220,-25,0,0.0

In [42]:
df[64].interpolate()

0
1/1/1998      0.15
1/2/1998      0.48
1/3/1998       0.6
1/4/1998      0.49
1/5/1998       NaN
              ...
12/27/2004    0.07
12/28/2004    0.04
12/29/2004    0.06
12/30/2004    0.25
12/31/2004    0.54
Name: 64, Length: 2534, dtype: object

In [29]:
df[df[64]=='?']

,1,2,3,4,5,6,7,8,9,10,...,64,65,66,67,68,69,70,71,72,73
0,,,,,,,,,,,,,,,,,,,,,
1/5/1998,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,?,?,?,?,?,?,?,?,0.58,0.0
3/12/1998,1.1,1.8,1.8,2.1,2.9,3.5,3.6,3.9,3.6,3.3,...,?,?,?,?,?,?,?,?,0.03,0.0
3/19/1998,1.7,1.4,2.5,2,1.5,2,2.6,3.4,4,3.1,...,?,19.19,7.13,5700,20.4,54.4,10085,-15,0.13,0.0
3/20/1998,4.9,4.2,3.4,2.7,3.2,2.8,2.8,3.7,5.3,5.1,...,?,?,?,?,?,?,?,?,0,0.0
3/24/1998,2.6,2.4,2.3,0.6,0.8,1.2,1.3,1.7,2.8,4.4,...,?,?,?,?,?,?,?,?,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7/27/2004,0.9,0.9,0.9,0.9,1.6,1.8,2.2,2.5,1.6,1.6,...,?,?,?,?,?,?,?,?,0,0.0
7/28/2004,1,1.9,1.8,2.3,2.1,2.2,2.1,2.5,?,2.7,...,?,?,?,?,?,?,?,?,0.74,0.0
7/29/2004,0.6,0.8,0.6,0.8,1.3,0.8,1.4,1.6,2.1,3.4,...,?,?,?,?,?,?,?,?,0,0.0
8/25/2004,2.1,2.4,1.9,1.8,1.7,1.2,1.2,2.5,3.3,3.2,...,?,?,?,?,?,?,?,?,0,0.0
9/25/2004,1.7,2,1.5,1.9,2.3,2.1,2.7,2.3,2.6,2.5,...,?,3.45,2.02,5860,?,?,10145,10,0,0.0

In [10]:
df.nunique()

1      69
2      71
3      66
4      67
5      65
     ...
69    658
70     72
71     57
72    175
73      2
Length: 73, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2534 entries, 1/1/1998 to 12/31/2004
Data columns (total 73 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       2534 non-null   object
 1   2       2534 non-null   object
 2   3       2534 non-null   object
 3   4       2534 non-null   object
 4   5       2534 non-null   object
 5   6       2534 non-null   object
 6   7       2534 non-null   object
 7   8       2534 non-null   object
 8   9       2534 non-null   object
 9   10      2534 non-null   object
 10  11      2534 non-null   object
 11  12      2534 non-null   object
 12  13      2534 non-null   object
 13  14      2534 non-null   object
 14  15      2534 non-null   object
 15  16      2534 non-null   object
 16  17      2534 non-null   object
 17  18      2534 non-null   object
 18  19      2534 non-null   object
 19  20      2534 non-null   object
 20  21      2534 non-null   object
 21  22      2534 non-null   object
 22  23      2534 non-null   object
 23  24      2534 non-null   object
 24  25      2534 non-null   object
 25  26      2534 non-null   object
 26  27      2534 non-null   object
 27  28      2534 non-null   object
 28  29      2534 non-null   object
 29  30      2534 non-null   object
 30  31      2534 non-null   object
 31  32      2534 non-null   object
 32  33      2534 non-null   object
 33  34      2534 non-null   object
 34  35      2534 non-null   object
 35  36      2534 non-null   object
 36  37      2534 non-null   object
 37  38      2534 non-null   object
 38  39      2534 non-null   object
 39  40      2534 non-null   object
 40  41      2534 non-null   object
 41  42      2534 non-null   object
 42  43      2534 non-null   object
 43  44      2534 non-null   object
 44  45      2534 non-null   object
 45  46      2534 non-null   object
 46  47      2534 non-null   object
 47  48      2534 non-null   object
 48  49      2534 non-null   object
 49  50      2534 non-null   object
 50  51      2534 non-null   object
 51  52      2534 non-null   object
 52  53      2534 non-null   object
 53  54      2534 non-null   object
 54  55      2534 non-null   object
 55  56      2534 non-null   object
 56  57      2534 non-null   object
 57  58      2534 non-null   object
 58  59      2534 non-null   object
 59  60      2534 non-null   object
 60  61      2534 non-null   object
 61  62      2534 non-null   object
 62  63      2534 non-null   object
 63  64      2534 non-null   object
 64  65      2534 non-null   object
 65  66      2534 non-null   object
 66  67      2534 non-null   object
 67  68      2534 non-null   object
 68  69      2534 non-null   object
 69  70      2534 non-null   object
 70  71      2534 non-null   object
 71  72      2534 non-null   object
 72  73      2534 non-null   float64
dtypes: float64(1), object(72)
memory usage: 1.4+ MB

In [ ]:
# nerual network 로 예측하는 모델, LSTM으로 예측하는 모델을 각각 생성하고 평가하시오

In [16]:
x = df.values[:,:-1]
x

array([['0.8', '1.8', '2.4', ..., '10330', '-55', '0'],
       ['2.8', '3.2', '3.3', ..., '10275', '-55', '0'],
       ['2.9', '2.8', '2.6', ..., '10235', '-40', '0'],
       ...,
       ['0.8', '0.8', '1.2', ..., '10275', '-35', '0'],
       ['1.3', '0.9', '1.5', ..., '10245', '-30', '0.05'],
       ['1.5', '1.3', '1.8', ..., '10220', '-25', '0']], dtype=object)

In [18]:
x.shape

(2534, 72)

In [19]:
y = df.values[:,-1]
y

array([0.0, 0.0, 0.0, ..., 0.0, 0.0, 0.0], dtype=object)

In [ ]:
#scaler 사용 ? 제거

In [ ]:
# 날짜형식