In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM
import tensorflow as tf

In [44]:
df = pd.read_csv('./data/AirPassengers.csv')
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [45]:
df.tail()

       Month  #Passengers
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Month        144 non-null    object
 1   #Passengers  144 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

# Q.과거 5개월의 데이터를 학습해서 다음 년도의 탑승객 수를 예측하는 모델을 만들고 1960-07 ~ 1960-11의 5개월 데이터를 기반으로 1960-12월의 탑승객 수를 예측하시오

In [92]:
# month 카테고리 
df['mon'] = df['Month'].apply(lambda x:x.split('-')[1])
df['mon']

0      01
1      02
2      03
3      04
4      05
       ..
139    08
140    09
141    10
142    11
143    12
Name: mon, Length: 144, dtype: object

In [93]:
df

       Month  #Passengers mon
0    1949-01          112  01
1    1949-02          118  02
2    1949-03          132  03
3    1949-04          129  04
4    1949-05          121  05
..       ...          ...  ..
139  1960-08          606  08
140  1960-09          508  09
141  1960-10          461  10
142  1960-11          390  11
143  1960-12          432  12

[144 rows x 3 columns]

In [94]:
df.groupby('mon')['#Passengers'].mean()

mon
01    241.750000
02    235.000000
03    270.166667
04    267.083333
05    271.833333
06    311.666667
07    351.333333
08    351.083333
09    302.416667
10    266.583333
11    232.833333
12    261.833333
Name: #Passengers, dtype: float64

In [95]:
# 마지막 1960-12: test데이터

In [96]:
# month 원핫 벡터로 만들기
# 지금까지 x는 get_dummies y값만 to_categorical

from tensorflow.keras.utils import to_categorical
df_mon = to_categorical(df.mon)

In [97]:
df_mon

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)

In [98]:
df_month = pd.DataFrame(df_mon)
df_month

      0    1    2    3    4    5    6    7    8    9    10   11   12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1    0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3    0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4    0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
139  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
140  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
141  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
142  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
143  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[144 rows x 13 columns]

In [99]:
df_con = pd.concat([df,df_month],axis=1)
df_con

,Month,#Passengers,mon,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1949-01,112,01,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1949-02,118,02,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1949-03,132,03,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1949-04,129,04,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1949-05,121,05,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1960-08,606,08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
140,1960-09,508,09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
141,1960-10,461,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
142,1960-11,390,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
143,1960-12,432,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [100]:
np.unique(df_con[0])

array([0.], dtype=float32)

In [101]:
# 완성된 특성
df_con.drop(columns=['mon','Month',0],inplace=True)
df_con

     #Passengers    1    2    3    4    5    6    7    8    9   10   11   12
0            112  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1            118  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2            132  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3            129  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4            121  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
..           ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
139          606  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
140          508  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
141          461  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
142          390  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
143          432  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

[144 rows x 13 columns]

In [102]:
# test 1960-12 제외
df_train = df_con.iloc[:-1,:]
df_test = df_con.iloc[-1,:]

In [105]:
len(df_con)

144

In [108]:
# 5일뒤의 승객 : y
window_size = 5
X=[]
Y=[]

for i in range(len(df_con)-window_size):
    X.append([df_con.iloc[i+j] for j in range(window_size)])
    Y.append(df_con.iloc[window_size+i])

In [109]:
X = np.array(X)
Y = np.array(Y)

In [110]:
X.shape

(139, 5, 13)

In [123]:
model = Sequential()
model.add(LSTM(15 ,input_shape = (5,13),activation= 'relu',return_sequences=True))
model.add(LSTM(15 ,activation= 'relu'))
model.add(Dropout(0.2))
model.add(Dense(128))
model.add(Dense(64))
model.add(Dense(32))
model.add(Dense(1))
model.summary()

WARNING:tensorflow:Layer lstm_5 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
WARNING:tensorflow:Layer lstm_6 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_5 (LSTM)               (None, 5, 15)             1740

 lstm_6 (LSTM)               (None, 15)                1860

 dropout (Dropout)           (None, 15)                0

 dense_3 (Dense)             (None, 128)               2048

 dense_4 (Dense)             (None, 64)                8256

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 1)                 33

=================================================================
Total params: 16,017
Trainable params: 16,017
Non-trainable params: 0
_________________________________________________________________

In [124]:
model.compile(loss='mse', metrics=['mse'], optimizer ='adam')

In [125]:
hist = model.fit(X,Y, epochs=100,batch_size=10)

Epoch 1/100
14/14 [==============================] - 2s 40ms/step - loss: 6976.3989 - mse: 6976.3989
Epoch 2/100
14/14 [==============================] - 0s 31ms/step - loss: 6936.6143 - mse: 6936.6143
Epoch 3/100
14/14 [==============================] - 0s 32ms/step - loss: 6917.7471 - mse: 6917.7471
Epoch 4/100
14/14 [==============================] - 0s 30ms/step - loss: 6853.4282 - mse: 6853.4282
Epoch 5/100
14/14 [==============================] - 0s 31ms/step - loss: 6848.2441 - mse: 6848.2441
Epoch 6/100
14/14 [==============================] - 0s 28ms/step - loss: 6843.9019 - mse: 6843.9019
Epoch 7/100
14/14 [==============================] - 1s 36ms/step - loss: 6847.9731 - mse: 6847.9731
Epoch 8/100
14/14 [==============================] - 0s 32ms/step - loss: 6854.5684 - mse: 6854.5684
Epoch 9/100
14/14 [==============================] - 0s 30ms/step - loss: 6830.0190 - mse: 6830.0190
Epoch 10/100
14/14 [==============================] - 0s 31ms/step - loss: 6846.9893 - mse: 6846.9893
Epoch 11/100
14/14 [==============================] - 0s 32ms/step - loss: 6842.8945 - mse: 6842.8945
Epoch 12/100
14/14 [==============================] - 0s 29ms/step - loss: 6834.1670 - mse: 6834.1670
Epoch 13/100
14/14 [==============================] - 0s 32ms/step - loss: 6850.9507 - mse: 6850.9507
Epoch 14/100
14/14 [==============================] - 1s 35ms/step - loss: 6834.3892 - mse: 6834.3892
Epoch 15/100
14/14 [==============================] - 0s 31ms/step - loss: 6851.2832 - mse: 6851.2827
Epoch 16/100
14/14 [==============================] - 0s 30ms/step - loss: 6858.1313 - mse: 6858.1309
Epoch 17/100
14/14 [==============================] - 0s 31ms/step - loss: 6841.6709 - mse: 6841.6709
Epoch 18/100
14/14 [==============================] - 0s 28ms/step - loss: 6847.4497 - mse: 6847.4497
Epoch 19/100
14/14 [==============================] - 0s 30ms/step - loss: 6838.9722 - mse: 6838.9722
Epoch 20/100
14/14 [==============================] - 0s 31ms/step - loss: 6829.5679 - mse: 6829.5679
Epoch 21/100
14/14 [==============================] - 1s 37ms/step - loss: 6826.3809 - mse: 6826.3809
Epoch 22/100
14/14 [==============================] - 0s 34ms/step - loss: 6823.7417 - mse: 6823.7417
Epoch 23/100
14/14 [==============================] - 0s 30ms/step - loss: 6831.3853 - mse: 6831.3853
Epoch 24/100
14/14 [==============================] - 0s 32ms/step - loss: 6829.9995 - mse: 6829.9995
Epoch 25/100
14/14 [==============================] - 0s 27ms/step - loss: 6822.3833 - mse: 6822.3833
Epoch 26/100
14/14 [==============================] - 0s 29ms/step - loss: 6834.4219 - mse: 6834.4219
Epoch 27/100
14/14 [==============================] - 0s 29ms/step - loss: 6836.9141 - mse: 6836.9141
Epoch 28/100
14/14 [==============================] - 0s 36ms/step - loss: 6816.9165 - mse: 6816.9165
Epoch 29/100
14/14 [==============================] - 0s 33ms/step - loss: 6836.9639 - mse: 6836.9639
Epoch 30/100
14/14 [==============================] - 0s 28ms/step - loss: 6819.8535 - mse: 6819.8535
Epoch 31/100
14/14 [==============================] - 0s 31ms/step - loss: 6818.6357 - mse: 6818.6357
Epoch 32/100
14/14 [==============================] - 0s 29ms/step - loss: 6818.8867 - mse: 6818.8867
Epoch 33/100
14/14 [==============================] - 0s 29ms/step - loss: 6815.8677 - mse: 6815.8677
Epoch 34/100
14/14 [==============================] - 0s 32ms/step - loss: 6815.7617 - mse: 6815.7617
Epoch 35/100
14/14 [==============================] - 1s 37ms/step - loss: 6832.6812 - mse: 6832.6812
Epoch 36/100
14/14 [==============================] - 1s 37ms/step - loss: 6819.2798 - mse: 6819.2798
Epoch 37/100
14/14 [==============================] - 0s 32ms/step - loss: 6815.2134 - mse: 6815.2134
Epoch 38/100
14/14 [==============================] - 0s 29ms/step - loss: 6819.5283 - mse: 6819.5283
Epoch 39/100
14/14 [==============================] - 0s 30ms/step - loss: 6818.1919 - mse: 6818.1914
Epoch 40/100
14/14 [==============================] - 0s 30ms/step - loss: 6819.0674 - mse: 6819.0674
Epoch 41/100
14/14 [==============================] - 0s 28ms/step - loss: 6841.1860 - mse: 6841.1860
Epoch 42/100
14/14 [==============================] - 0s 29ms/step - loss: 6824.4375 - mse: 6824.4375
Epoch 43/100
14/14 [==============================] - 0s 29ms/step - loss: 6860.1821 - mse: 6860.1821
Epoch 44/100
14/14 [==============================] - 0s 35ms/step - loss: 6858.2856 - mse: 6858.2856
Epoch 45/100
14/14 [==============================] - 0s 30ms/step - loss: 6880.8691 - mse: 6880.8691
Epoch 46/100
14/14 [==============================] - 0s 29ms/step - loss: 6851.4336 - mse: 6851.4336
Epoch 47/100
14/14 [==============================] - 0s 30ms/step - loss: 6827.9463 - mse: 6827.9463
Epoch 48/100
14/14 [==============================] - 0s 31ms/step - loss: 6836.6323 - mse: 6836.6323
Epoch 49/100
14/14 [==============================] - 0s 28ms/step - loss: 6844.9917 - mse: 6844.9917
Epoch 50/100
14/14 [==============================] - 0s 29ms/step - loss: 6831.6626 - mse: 6831.6626
Epoch 51/100
14/14 [==============================] - 1s 39ms/step - loss: 6831.4922 - mse: 6831.4917
Epoch 52/100
14/14 [==============================] - 0s 33ms/step - loss: 6821.3047 - mse: 6821.3047
Epoch 53/100
14/14 [==============================] - 0s 31ms/step - loss: 6836.7524 - mse: 6836.7524
Epoch 54/100
14/14 [==============================] - 0s 30ms/step - loss: 6826.5430 - mse: 6826.5430
Epoch 55/100
14/14 [==============================] - 0s 30ms/step - loss: 6815.2510 - mse: 6815.2510
Epoch 56/100
14/14 [==============================] - 0s 29ms/step - loss: 6821.0264 - mse: 6821.0264
Epoch 57/100
14/14 [==============================] - 0s 32ms/step - loss: 6820.7017 - mse: 6820.7017
Epoch 58/100
14/14 [==============================] - 0s 35ms/step - loss: 6822.9365 - mse: 6822.9365
Epoch 59/100
14/14 [==============================] - 0s 32ms/step - loss: 6820.6113 - mse: 6820.6113
Epoch 60/100
14/14 [==============================] - 0s 29ms/step - loss: 6824.1006 - mse: 6824.1006
Epoch 61/100
14/14 [==============================] - 0s 31ms/step - loss: 6819.9883 - mse: 6819.9883
Epoch 62/100
14/14 [==============================] - 0s 32ms/step - loss: 6816.6626 - mse: 6816.6631
Epoch 63/100
14/14 [==============================] - 0s 30ms/step - loss: 6820.4927 - mse: 6820.4927
Epoch 64/100
14/14 [==============================] - 0s 31ms/step - loss: 6817.0024 - mse: 6817.0024
Epoch 65/100
14/14 [==============================] - 1s 36ms/step - loss: 6820.9688 - mse: 6820.9688
Epoch 66/100
14/14 [==============================] - 0s 34ms/step - loss: 6825.6069 - mse: 6825.6060
Epoch 67/100
14/14 [==============================] - 0s 31ms/step - loss: 6827.6045 - mse: 6827.6050
Epoch 68/100
14/14 [==============================] - 0s 31ms/step - loss: 6823.3701 - mse: 6823.3701
Epoch 69/100
14/14 [==============================] - 0s 30ms/step - loss: 6815.3311 - mse: 6815.3311
Epoch 70/100
14/14 [==============================] - 0s 29ms/step - loss: 6826.1943 - mse: 6826.1938
Epoch 71/100
14/14 [==============================] - 0s 31ms/step - loss: 6820.2471 - mse: 6820.2471
Epoch 72/100
14/14 [==============================] - 0s 28ms/step - loss: 6815.8740 - mse: 6815.8745
Epoch 73/100
14/14 [==============================] - 1s 37ms/step - loss: 6806.0767 - mse: 6806.0767
Epoch 74/100
14/14 [==============================] - 0s 30ms/step - loss: 6815.1812 - mse: 6815.1812
Epoch 75/100
14/14 [==============================] - 0s 27ms/step - loss: 6809.8999 - mse: 6809.8999
Epoch 76/100
14/14 [==============================] - 0s 30ms/step - loss: 6813.7666 - mse: 6813.7666
Epoch 77/100
14/14 [==============================] - 0s 31ms/step - loss: 6806.9487 - mse: 6806.9487
Epoch 78/100
14/14 [==============================] - 0s 30ms/step - loss: 6803.4971 - mse: 6803.4971
Epoch 79/100
14/14 [==============================] - 0s 28ms/step - loss: 6810.3325 - mse: 6810.3325
Epoch 80/100
14/14 [==============================] - 1s 38ms/step - loss: 6811.4097 - mse: 6811.4097
Epoch 81/100

14/14 [==============================] - 0s 30ms/step - loss: 6814.1235 - mse: 6814.1235
Epoch 82/100
14/14 [==============================] - 0s 28ms/step - loss: 6810.1562 - mse: 6810.1562
Epoch 83/100
14/14 [==============================] - 0s 28ms/step - loss: 6808.8901 - mse: 6808.8901
Epoch 84/100
14/14 [==============================] - 0s 28ms/step - loss: 6812.3491 - mse: 6812.3486
Epoch 85/100
14/14 [==============================] - 0s 28ms/step - loss: 6807.5942 - mse: 6807.5942
Epoch 86/100
14/14 [==============================] - 0s 30ms/step - loss: 6811.2788 - mse: 6811.2788
Epoch 87/100
14/14 [==============================] - 0s 35ms/step - loss: 6810.4634 - mse: 6810.4634
Epoch 88/100
14/14 [==============================] - 1s 37ms/step - loss: 6807.6309 - mse: 6807.6309
Epoch 89/100
14/14 [==============================] - 0s 31ms/step - loss: 6808.1431 - mse: 6808.1426
Epoch 90/100
14/14 [==============================] - 0s 31ms/step - loss: 6802.9980 - mse: 6802.9980
Epoch 91/100
14/14 [==============================] - 0s 32ms/step - loss: 6805.6997 - mse: 6805.6997
Epoch 92/100
14/14 [==============================] - 0s 29ms/step - loss: 6803.9004 - mse: 6803.9004
Epoch 93/100
14/14 [==============================] - 0s 28ms/step - loss: 6805.4561 - mse: 6805.4561
Epoch 94/100
14/14 [==============================] - 0s 33ms/step - loss: 6803.5923 - mse: 6803.5923
Epoch 95/100
14/14 [==============================] - 0s 34ms/step - loss: 6807.6274 - mse: 6807.6274
Epoch 96/100
14/14 [==============================] - 0s 32ms/step - loss: 6809.8247 - mse: 6809.8247
Epoch 97/100
14/14 [==============================] - 0s 31ms/step - loss: 6805.9971 - mse: 6805.9971
Epoch 98/100
14/14 [==============================] - 0s 30ms/step - loss: 6802.7993 - mse: 6802.7993
Epoch 99/100
14/14 [==============================] - 0s 30ms/step - loss: 6806.2256 - mse: 6806.2256
Epoch 100/100
14/14 [==============================] - 0s 30ms/step - loss: 6802.3525 - mse: 6802.3525

In [126]:
model.evaluate(X,Y)

5/5 [==============================] - 0s 8ms/step - loss: 6795.1582 - mse: 6795.1582

[6795.158203125, 6795.158203125]

In [127]:
x_train_pred

array([[128.9048  ],
       [145.54912 ],
       [156.25342 ],
       [152.34326 ],
       [142.08086 ],
       [118.282455],
       [115.52792 ],
       [125.653656],
       [133.16362 ],
       [135.51387 ],
       [138.9363  ],
       [139.55588 ],
       [132.03185 ],
       [157.81764 ],
       [175.44025 ],
       [166.76344 ],
       [160.69058 ],
       [126.086174],
       [129.98256 ],
       [146.93571 ],
       [166.24556 ],
       [154.77098 ],
       [173.40924 ],
       [168.30399 ],
       [180.17265 ],
       [190.84329 ],
       [205.0881  ],
       [202.46109 ],
       [193.79323 ],
       [151.38017 ],
       [153.3102  ],
       [169.46985 ],
       [189.864   ],
       [187.20361 ],
       [191.81212 ],
       [193.02626 ],
       [199.07887 ],
       [223.39201 ],
       [227.55525 ],
       [233.73929 ],
       [202.87439 ],
       [175.76399 ],
       [182.28062 ],
       [197.31406 ],
       [212.77171 ],
       [213.86418 ],
       [232.97679 ],
       [235.57867 ],
       [240.3745  ],
       [257.04285 ],
       [276.90878 ],
       [278.6736  ],
       [229.665   ],
       [190.85526 ],
       [203.8964  ],
       [214.8482  ],
       [200.17575 ],
       [205.83315 ],
       [233.91562 ],
       [239.92406 ],
       [242.93794 ],
       [259.00885 ],
       [293.80194 ],
       [289.03503 ],
       [247.10965 ],
       [207.50473 ],
       [227.42374 ],
       [235.74971 ],
       [241.10655 ],
       [254.08975 ],
       [264.4774  ],
       [279.21292 ],
       [287.09125 ],
       [306.03336 ],
       [360.67447 ],
       [341.09702 ],
       [302.64255 ],
       [245.05188 ],
       [270.44174 ],
       [289.80396 ],
       [281.43127 ],
       [303.30206 ],
       [312.83026 ],
       [331.49982 ],
       [339.4702  ],
       [360.95535 ],
       [393.202   ],
       [398.48618 ],
       [321.91397 ],
       [278.1492  ],
       [311.03458 ],
       [316.56357 ],
       [310.44434 ],
       [334.56696 ],
       [348.58377 ],
       [366.3681  ],
       [376.2502  ],
       [406.39417 ],
       [442.0754  ],
       [448.31802 ],
       [362.23734 ],
       [313.0139  ],
       [353.56958 ],
       [350.54254 ],
       [330.45282 ],
       [348.77588 ],
       [378.9082  ],
       [387.9423  ],
       [393.09027 ],
       [420.68228 ]], dtype=float32)

In [128]:
test_df = df_train[-5:].values.reshape(1, 5, 13)

In [129]:
model.predict(test_df)

array([[33.701206]], dtype=float32)

In [ ]:
model.predict(X)