In [1]:
import pandas as pd
import numpy as np

In [1]:
# 1. How to import pandas and check the version?

In [2]:
import pandas as pd
pd.__version__

'1.3.4'

In [3]:
# 2. How to create a series from a list, numpy array and dict?
# Create a pandas series from each of the items below: a list, numpy and a dictionary Input

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [7]:
ser1 = pd.Series(mylist)
# ser1
# ser2 = pd.Series(myarr)
# ser2
ser3 = pd.Series(mydict)
ser3

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

In [10]:
# 3. How to convert the index of a series into a column of a dataframe?
# Difficulty Level: L1 Convert the series ser into a dataframe with its index as another column on the dataframe. Input

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [17]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'e': 3,
 'd': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [25]:
df = pd.DataFrame({'mylist': mylist, 'myarr':myarr, 'ser':ser, 'mydict':mydict.values()})
df.head()

  mylist  myarr  ser  mydict
a      a      0    0       0
b      b      1    1       1
c      c      2    2       2
e      e      3    3       3
d      d      4    4       4

In [ ]:
# 4. How to combine many series to form a dataframe?
# Difficulty Level: L1 Combine ser1 and ser2 to form a dataframe. Input

import numpy as np

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))