In [1]:
# 뉴스데이터 날짜 전처리

In [2]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv('./oilnews_data/news_20220111_20220210.csv' )
df.head(3)

,Unnamed: 0,날짜,제목,요약
0,0,3일 전,"심상찮은 국제유가…""서방의 러시아 제재가 변수""","기사내용 요약산업부, '에너지·자원 수급 TF' 개최 국제유가 동향·석유수급 계획 ..."
1,1,2일 전,"""러시아 우크라이나 침공시 유가 배럴당 120달러 도달 전망""",러시아가 우크라이나를 침공하면 국제유가가 배럴당 120달러에 도달할 것이라는 전망이...
2,2,3일 전,"정부, 고유가에 유류세 인하기간 연장 등 검토…석유수급계획 점검","박기영 산업부 제2차관은 회의에서 ""국제유가 상승세가 지속될 경우 4월까지 시행 예..."

In [50]:
df = pd.read_csv('./oilnews_data/news_20220111_20220210.csv',index_col= 0) 
df.head(3)

,날짜,제목,요약
0,3일 전,"심상찮은 국제유가…""서방의 러시아 제재가 변수""","기사내용 요약산업부, '에너지·자원 수급 TF' 개최 국제유가 동향·석유수급 계획 ..."
1,2일 전,"""러시아 우크라이나 침공시 유가 배럴당 120달러 도달 전망""",러시아가 우크라이나를 침공하면 국제유가가 배럴당 120달러에 도달할 것이라는 전망이...
2,3일 전,"정부, 고유가에 유류세 인하기간 연장 등 검토…석유수급계획 점검","박기영 산업부 제2차관은 회의에서 ""국제유가 상승세가 지속될 경우 4월까지 시행 예..."

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 0 to 3999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      4000 non-null   object
 1   제목      4000 non-null   object
 2   요약      3998 non-null   object
dtypes: object(3)
memory usage: 125.0+ KB

In [52]:
# 날짜 형식으로 바꿔주려 했지만 3일 전 안바뀜
# apply strftime
# pd.to_date
# astype()

In [59]:
# 3일 전 의 인덱스 추출하기
# isin() 단어 아예 똑같을 때만 사용가능


index = df[df['날짜'].str.contains('전')].index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            3165, 3244, 3313, 3344, 3357, 3401, 3674, 3691, 3858, 3919],
           dtype='int64', length=1241)

In [87]:
# 날짜 계산을 위해 마지막날을 날짜형식으로 만들어줌

from datetime import datetime

last_date = '2022.02.10'
last_date = datetime.strptime(last_date, '%Y.%m.%d')
last_date.day
type(last_date)

datetime.datetime

In [79]:
int(df['날짜'][0])

3

In [89]:
from datetime import datetime

last_date = '2022.02.10' # 문자열
last_date = datetime.strptime(last_date, '%Y.%m.%d') # 날짜형


for i in range(len(df['날짜'])):
    if '전' in df['날짜'][i]:
        
        if int(df['날짜'][i])>= 10:  # 숫자형으로 바꿔주고 10일 전 보다 숫자클경우
            print(df['날짜'][i])
            last_date.month == 1     # 1월
            last_date.day == 31- (int(df['날짜'][i]-10))
            df['날짜'][i] = last_date
            
        else:
            last_date.dat == 10 - (int(df['날짜'][i]-10))
            df['날짜'][i]= last_date
    else:
        pass

In [62]:
df['날짜'][i].split(' ')[0].replace('일','')

'3'

In [ ]:
#

In [25]:
import re
# match():문자열의 처음부터 정규식과 매치되는지 조사한다.
data = df['날짜'][0]
data

'3일 전'

In [ ]:
p= re.compile("()")
date_re = re.sub("",data)

In [26]:
import re 

data = """
park 800905-1049118
kim  700905-1059119
"""

pat = re.compile("(\d{6})[-]\d{7}")
print(pat.sub("\g<1>-*******", data))

park 800905-*******
kim  700905-*******

In [ ]:
df['날짜'].apply(lambda x : x)